<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Amateur Radio Bands of the United States</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Amateur Radio Bands of the United States</h1><p>Both the frequency range and the wavelength in meters is used as identifiers for the <a href="ham-radio.html">amateur radio</a> bands.</p>
<p><em>(For memorization's sake, the frequency in MHz multiplied by the wavelength is ~300)</em></p>
<h2>Bands</h2>
<table>
<thead>
<tr>
<th>Frequency range</th>
<th>Band name (Sub-band)</th>
<th>Allocated frequencies</th>
</tr>
</thead>
<tbody>
<tr>
<td>LF</td>
<td>2200 meters</td>
<td>135.7 - 137.8 kHz</td>
</tr>
<tr>
<td>MF</td>
<td>630 meters</td>
<td>472 - 479 kHz</td>
</tr>
<tr>
<td>MF</td>
<td>160 meters</td>
<td>1.8 - 2.0 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>80/75 meters</td>
<td>3.5 - 4.0 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>60 meters</td>
<td>~5.4 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>40 meters</td>
<td>7.0 - 7.3 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>30 meters</td>
<td>10.1 - 10.15 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>20 meters</td>
<td>14.0 - 14.35 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>17 meters</td>
<td>18.068 - 18.168 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>15 meters</td>
<td>21.0 - 21.45 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>12 meters</td>
<td>24.89 - 24.99 MHz</td>
</tr>
<tr>
<td>HF</td>
<td>10 meters</td>
<td>28.0 - 29.7 MHz</td>
</tr>
<tr>
<td>VHF</td>
<td>6 meters</td>
<td>50.0 - 54.0 MHz</td>
</tr>
<tr>
<td>VHF</td>
<td>2 meters</td>
<td>144.0 - 148.0 MHz</td>
</tr>
<tr>
<td>VHF</td>
<td>1.25 meters</td>
<td>219-220 and 222-225 MHz</td>
</tr>
<tr>
<td>UHF</td>
<td>70 centimeters</td>
<td>420 - 450 MHz</td>
</tr>
<tr>
<td>UHF</td>
<td>33 centimeters</td>
<td>902 - 928 MHz</td>
</tr>
<tr>
<td>UHF</td>
<td>23 centimeters</td>
<td>1240 - 1300 MHz</td>
</tr>
<tr>
<td>UHF</td>
<td>13 centimeters</td>
<td>2300-2310 and 2390-2450 MHz</td>
</tr>
</tbody></table><h3>Technician Specifics</h3>
<p>These are specifics for technician level <a href="ham-radio.html">hams</a>.</p>
<table>
<thead>
<tr>
<th>Frequency range</th>
<th>Band name (Sub-band)</th>
<th>Allocated frequencies</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>HF</td>
<td>80 meters</td>
<td>3.525 - 3.6 MHz</td>
<td>Technicians are limited to 200 watts, CW only.</td>
</tr>
<tr>
<td>HF</td>
<td>40 meters</td>
<td>7.025 - 7.125 MHz</td>
<td>Technicians are limited to 200 watts, CW only.</td>
</tr>
<tr>
<td>HF</td>
<td>15 meters</td>
<td>21.025 - 21.2 MHz</td>
<td>Technicians are limited to 200 watts, CW only.</td>
</tr>
<tr>
<td>HF</td>
<td>10 meters</td>
<td>28 - 28.5 MHz</td>
<td>Technicians are limited to 200 watts.</td>
</tr>
<tr>
<td>HF</td>
<td>10 meters</td>
<td>28.0 - 28.3 MHz</td>
<td>CW, RTTY, and data only.</td>
</tr>
<tr>
<td>HF</td>
<td>10 meters</td>
<td>28.3 - 28.5 MHz</td>
<td>CW and SSB only.</td>
</tr>
<tr>
<td>VHF</td>
<td>6 meters</td>
<td>50.0 - 50.1 MHz</td>
<td>CW only.</td>
</tr>
<tr>
<td>VHF</td>
<td>2 meters</td>
<td>144.0 - 144.1 MHz</td>
<td>CW only.</td>
</tr>
<tr>
<td>VHF</td>
<td>1.25 meters</td>
<td>219.0 - 220.0 MHz</td>
<td>Fixed digital message forwarding systems (data emissions)</td>
</tr>
</tbody></table><p>Beyond these are 10 microwave and higher bands not mentioned in the question pools.</p>
<h2>References</h2>
<ol>
<li><a href="http://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%208_5%20X%2011%20Color.pdf" target="_blank">http://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%208_5%20X%2011%20Color.pdf</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
