<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Anchor Tags (HTML)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Anchor Tags (HTML)</h1><h2>In-page Navigation</h2>
<p>Using an <code>#id</code> as your <code>href</code> and either setting the  <code>name</code> attribute of an anchor tag or the <code>id</code> of an element, you can navigate immediately within a document via a normal anchor link.</p>
<pre><code class="language-html">&lt;a href=&quot;#bob&quot;&gt;Click here to go to bob!&lt;/a&gt;

&lt;!-- a bunch of other stuff --&gt;

&lt;a name=&quot;bob&quot;&gt;&lt;/a&gt;
&lt;!-- or --&gt;
&lt;div id=&quot;bob&quot;&gt;
  &lt;img src=&quot;pic/of/bob&quot; /&gt;
&lt;/div&gt;
</code></pre>
<h2>Download</h2>
<p>Using the <code>download</code> attribute will instruct the browser to download the file enclosed in the value of the download attr. The value is optional.</p>
<pre><code class="language-html">&lt;a href=&quot;file.pdf&quot; download&gt;Download Here&lt;/a&gt;
&lt;a href=&quot;file.pdf&quot; download=&quot;new-filename.pdf&quot;&gt;Download Here&lt;/a&gt;
</code></pre>
<p>So far I have not seen the attribute force a download of a file, but I have seen it change the download name of the file re: things like PDFs.</p>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/23825871/how-to-force-a-download-file-prompt-instead-of-displaying-it-in-browser-with-htm" target="_blank">https://stackoverflow.com/questions/23825871/how-to-force-a-download-file-prompt-instead-of-displaying-it-in-browser-with-htm</a></li>
<li><a href="https://www.w3schools.com/tags/att_a_download.asp" target="_blank">https://www.w3schools.com/tags/att_a_download.asp</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
