<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Animation (uxn)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Animation (uxn)</h1><h2>Vector</h2>
<p>The key to animation is to utilize the screen device's <code>vector</code>. 60 times per second, whatever address is found at the vector will be jumped to and ran, similar to an interrupt or IRQ found in the <a href="minicube64.html">Minicube64</a>. The following will put the absolute address of the <code>on-screen</code> label into the <code>vector</code>.</p>
<pre><code class="language-uxntal">|00 @System  [ &amp;vector $2 &amp;pad $6  &amp;r $2 &amp;g $2 &amp;b $2 ]
|20 @Screen  [ &amp;vector $2 &amp;width $2 &amp;height $2 &amp;pad $2 &amp;x $2 &amp;y $2 &amp;addr $2 &amp;pixel $1 &amp;sprite $1 ]

;on-frame .Screen/vector DEO2

@on-frame
  #01 .Screen/pixel DEO
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://compudanzas.itch.io/introduction-to-uxn-programming" target="_blank">https://compudanzas.itch.io/introduction-to-uxn-programming</a></li>
<li><a href="uxn.html">uxn</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
