<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="APL is an array programming language." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - APL</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">APL</h1><p>APL is an array programming language. It's essentially purely a mathematical language that seems like it's entirely an exercise in chunking composable primitive array actions together. These chunks are represented with <a href="unicode.html">unicode</a> symbols, so make sure you are using a font with extended symbols or this page will make no sense at all.</p>
<p>For instance, mulitplying all elements in an array in something like <a href="javascript.html">Javascript</a> could look like:</p>
<pre><code class="language-javascript">// Starting with list `a`
// const a = [1,2,3,4,5];
const sum = a.reduce((acc, num) =&gt; acc * num);
</code></pre>
<p>whereas in APL, it looks like this</p>
<pre><code class="language-apl">⍝ Starting with list `A`
⍝ A←1 2 3 4 5
×/A
</code></pre>
<p>All operators in APL are unicode characters and have two different behaviors: one is if given a single argument, the other is if given multiple arguments.</p>
<p>In the example above, the <code>/</code> character <strong>reduces</strong> the array to a scalar (a single element), applying the command to it's left to the previous output and the next value. It repeats this process until all elements are consumed. The command that is used in the reduce is <code>×</code>, which is the multiplication command.</p>
<h2>Editor</h2>
<p>You should use the Dyalog editor. You can download it from their website and it makes development <em>possible</em>. This editor helps you enter all these symbols with help on what they do, it is indispensable.</p>
<h3>Configuration</h3>
<p>Once you have it open, you should apply these settings in the REPL:</p>
<ul>
<li><code>]boxing on</code> - This adds boxes around the different array elements. This is essentially required and I'm unsure why it's off at the start.</li>
</ul>
<h2>Glossary</h2>
<ds>
    <dt>Scalar</dt>
    <dd>a single element</dd>
</ds>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/APL_%28programming_language%29" target="_blank">APL (programming language) - Wikipedia</a></li>
<li><a href="https://www.dyalog.com/" target="_blank">Dyalog APL</a></li>
<li><a href="https://www.youtube.com/watch?v=DNYxfoCEVEM" target="_blank">Advent of Code 2021 in APL #1! - YouTube</a></li>
<li><a href="https://mlochbaum.github.io/BQN/tutorial/list.html" target="_blank">BQN Tutorial: Working with list</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
