<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The American Standard Code for Information Interchange, but mostly cool characters nowadays." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - ASCII</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">ASCII</h1><h2>Box Drawing Characters</h2>
<pre><code>┌────┬────┐  ╔════╦════╗
│ SIN│GLE │  ║ DOU║BLE ║
├────┼────┤  ╠════╬════╣
│    │    │  ║    ║    ║
└────┴────┘  ╚════╩════╝
</code></pre>
<h2>Arrows</h2>
<pre><code>← → ↑ ↓
 ↔   ↕
◄ ► ▲ ▼
</code></pre>
<h2>Shading</h2>
<pre><code>████
▓▓▓▓
▒▒▒▒
░░░░
    
</code></pre>
<h2>References</h2>
<ul>
<li><a href="https://en.wikipedia.org/wiki/ASCII" target="_blank">https://en.wikipedia.org/wiki/ASCII</a></li>
<li><a href="https://theasciicode.com.ar/extended-ascii-code/box-drawings-single-vertical-line-character-ascii-code-179.html" target="_blank">https://theasciicode.com.ar/extended-ascii-code/box-drawings-single-vertical-line-character-ascii-code-179.html</a></li>
<li><a href="https://merveilles.town/web/statuses/108118602443265634" target="_blank">https://merveilles.town/web/statuses/108118602443265634</a></li>
</ul>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ham-radio.html">HAM Radio</a></li><li><a href="sprites-uxn.html">Sprites (uxn)</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
