<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Also known as kashaka or cas cas, these are two shakers attached by a string." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Aslatua</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Aslatua</h1><p>Also known as kashaka or cas cas, these are two shakers attached by a string. Similar to a <a href="begleri.html">begleri</a>.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=VDbFOJf__jw" target="_blank">https://www.youtube.com/watch?v=VDbFOJf__jw</a></li>
<li><a href="https://www.youtube.com/watch?v=YhkbI77BnlU" target="_blank">https://www.youtube.com/watch?v=YhkbI77BnlU</a></li>
<li><a href="https://www.youtube.com/watch?v=bX2C4LuhFCk" target="_blank">https://www.youtube.com/watch?v=bX2C4LuhFCk</a></li>
<li><a href="https://www.youtube.com/watch?v=PPlwAxzX_xE" target="_blank">https://www.youtube.com/watch?v=PPlwAxzX_xE</a></li>
<li><a href="https://www.youtube.com/watch?v=6F3yIp74i0I" target="_blank">https://www.youtube.com/watch?v=6F3yIp74i0I</a></li>
<li><a href="https://www.youtube.com/watch?v=2I8sysK15lk" target="_blank">https://www.youtube.com/watch?v=2I8sysK15lk</a></li>
<li><a href="https://www.youtube.com/watch?v=PcMixI97NY0" target="_blank">https://www.youtube.com/watch?v=PcMixI97NY0</a></li>
</ol>
<p class="last-modified">Last modified: 202409260426</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
