<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The Amiga was a personal computer from the 80's built on the Motorola 68000 chipset." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Assembly (Amiga)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Assembly (Amiga)</h1><p>The Amiga was a personal computer from the 80's built on the Motorola 68000 chipset.</p>
<h2>References</h2>
<ul>
<li><a href="https://www.youtube.com/channel/UCBRxXzwKLrKEOPaCeBbWULg/videos" target="_blank">https://www.youtube.com/channel/UCBRxXzwKLrKEOPaCeBbWULg/videos</a></li>
<li><a href="https://www.chibiakumas.com/68000/platform.php#LessonP6" target="_blank">https://www.chibiakumas.com/68000/platform.php#LessonP6</a></li>
<li><a href="http://carlhenrik.com/teaching/amiga/" target="_blank">http://carlhenrik.com/teaching/amiga/</a></li>
<li><a href="http://eab.abime.net/showthread.php?t=58177" target="_blank">http://eab.abime.net/showthread.php?t=58177</a></li>
<li><a href="https://archive.org/details/68000_68010_68020_Primer" target="_blank">https://archive.org/details/68000_68010_68020_Primer</a></li>
<li><a href="https://www.youtube.com/watch?v=p83QUZ1-P10&amp;t=168s" target="_blank">https://www.youtube.com/watch?v=p83QUZ1-P10&amp;t=168s</a></li>
<li><a href="http://sun.hasenbraten.de/vasm/" target="_blank">http://sun.hasenbraten.de/vasm/</a></li>
<li><a href="https://retro-programming.com/link-c-and-68k-assembly-code-together-on-amiga/" target="_blank">https://retro-programming.com/link-c-and-68k-assembly-code-together-on-amiga/</a></li>
<li><a href="https://www.atarimagazines.com/compute/issue73/amigados_editor.php" target="_blank">https://www.atarimagazines.com/compute/issue73/amigados_editor.php</a></li>
<li><a href="https://www.chibiakumas.com/68000/amiga.php" target="_blank">https://www.chibiakumas.com/68000/amiga.php</a></li>
<li><a href="http://www.wiki.classicamiga.com/Amiga_Reference_Books" target="_blank">http://www.wiki.classicamiga.com/Amiga_Reference_Books</a></li>
<li><a href="https://www.reaktor.com/blog/crash-course-to-amiga-assembly-programming/" target="_blank">https://www.reaktor.com/blog/crash-course-to-amiga-assembly-programming/</a></li>
<li><a href="https://archive.org/details/commodoreamigamanuals" target="_blank">https://archive.org/details/commodoreamigamanuals</a></li>
<li><a href="https://archive.org/details/1987-08-compute-magazine/page/n89/mode/2up?view=theater" target="_blank">https://archive.org/details/1987-08-compute-magazine/page/n89/mode/2up?view=theater</a></li>
<li><a href="https://www.datagubbe.se/mkdem/" target="_blank">https://www.datagubbe.se/mkdem/</a></li>
</ul>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
