<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="BASIC is a high level programming language, mainly used for its simplicity." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - BASIC</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">BASIC</h1><p>BASIC is a high level <a href="programming.html">programming</a> language, mainly used for its simplicity.</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/BASIC" target="_blank">https://en.wikipedia.org/wiki/BASIC</a></li>
<li><a href="https://hunt.reaktor.com/tutorial" target="_blank">https://hunt.reaktor.com/tutorial</a></li>
<li><a href="https://archive.org/details/bitsavers_decBooks10Mar75_26006648/page/n1/mode/2up" target="_blank">https://archive.org/details/bitsavers_decBooks10Mar75_26006648/page/n1/mode/2up</a></li>
<li><a href="https://annarchive.com/files/Basic_Computer_Games_Microcomputer_Edition.pdf" target="_blank">https://annarchive.com/files/Basic_Computer_Games_Microcomputer_Edition.pdf</a></li>
<li><a href="https://github.com/coding-horror/basic-computer-games" target="_blank">https://github.com/coding-horror/basic-computer-games</a></li>
<li><a href="https://en.wikipedia.org/wiki/Tiny_BASIC" target="_blank">https://en.wikipedia.org/wiki/Tiny_BASIC</a></li>
<li><a href="https://www.qbasic.net/en/qbasic-tutorials/beginner/qbasic-beginner-1.htm" target="_blank">https://www.qbasic.net/en/qbasic-tutorials/beginner/qbasic-beginner-1.htm</a></li>
<li><a href="https://www.youtube.com/watch?v=7r83N3c2kPw" target="_blank">https://www.youtube.com/watch?v=7r83N3c2kPw</a></li>
<li><a href="http://www.ittybittycomputers.com/IttyBitty/TinyBasic/TBuserMan.htm" target="_blank">http://www.ittybittycomputers.com/IttyBitty/TinyBasic/TBuserMan.htm</a></li>
<li><a href="http://www.ittybittycomputers.com/IttyBitty/TinyBasic/" target="_blank">http://www.ittybittycomputers.com/IttyBitty/TinyBasic/</a></li>
<li><a href="http://www.nicholson.com/rhn/files/Tiny_BASIC_in_Forth.txt" target="_blank">http://www.nicholson.com/rhn/files/Tiny_BASIC_in_Forth.txt</a></li>
<li><a href="https://usborne.com/us/books/computer-and-coding-books" target="_blank">https://usborne.com/us/books/computer-and-coding-books</a></li>
<li><a href="https://www.quitebasic.com/prj/math/henon/" target="_blank">https://www.quitebasic.com/prj/math/henon/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
