<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This is a bunch of stuff I need/learned for installing elements of a bathroom." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Bathroom Remodeling</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Bathroom Remodeling</h1><p>In general, I defer to plumbers to do plumbing, especially when it comes to sewer drainage. I'd rather spend a few bucks now and trust that poop won't one day pool underneath my house based on something I overlooked.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=fmPeRkzSQY0" target="_blank">Installing a tub spout on a copper pipe</a></li>
<li><a href="https://www.youtube.com/watch?v=kvtl6nZhLSI" target="_blank">Tub shower valve install mistakes and how to avoid them</a></li>
<li><a href="https://www.youtube.com/watch?v=C-UR8nJD1Bk" target="_blank">Installing a standard tub/shower rough valve</a></li>
</ol>
<p class="last-modified">Last modified: 202410231632</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
