<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Begleri is a small skill toy from Greece." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Begleri</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Begleri</h1><p>Begleri is a small skill toy from Greece. It is fantastic because with <a href="reuse.html">materials you have lying around</a>, or with about $5 and a trip to the hardware store, you can make one.</p>
<h2>Length</h2>
<p>There is <strong>long game</strong> and <strong>short game</strong>. If you have a long game begleri, you can tie a figure eight knot between the ends and get pretty close to a short game length.</p>
<h2>Beads</h2>
<p>A popular and simple version is to use a hex nut. 550 <a href="paracord.html">Paracord</a> is 4mm wide, so a #8 or #10 inner width[5] is good.</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Begleri" target="_blank">https://en.wikipedia.org/wiki/Begleri</a></li>
<li>
Make your own<ol>
<li><a href="https://yewtu.be/watch?v=zaoSSRvdacc&amp;list=PLVpANXnNebdN--mijDoBNdYX251SLDA3_&amp;index=3" target="_blank">Hex nuts and paracord, the simplest way</a></li>
<li><a href="https://yewtu.be/watch?v=YLb7z9b3Qgs&amp;list=PLVpANXnNebdNt3ac95JlXlj50PXTL8Gas&amp;index=7" target="_blank">Steel balls and paracord, using a monkey's fist knot (little kinder to your hand)</a></li>
<li><a href="https://yewtu.be/watch?v=z0Qv6As7NOs&amp;listen=false" target="_blank">Hex nuts and paracord using two types of paracord</a></li>
<li><a href="https://yewtu.be/watch?v=_y6jUc3UYac&amp;list=PLVpANXnNebdN--mijDoBNdYX251SLDA3_&amp;index=2" target="_blank">Hex nuts and paracord, using lots of paracord but pretty</a></li>
<li><a href="https://yewtu.be/watch?v=uF0jAHE6tnc&amp;list=PLVpANXnNebdN--mijDoBNdYX251SLDA3_&amp;index=6" target="_blank">Hex nuts and paracord, but as a bracelet</a></li>
</ol>
</li>
<li><a href="https://begleritricks.com/guides/complete-beginners-guide-to-begleri" target="_blank">Complete Beginners Guide to Begleri</a></li>
<li><a href="https://yewtu.be/watch?v=-2DVEFePGgc" target="_blank">Getting started with the movements</a>, and <a href="https://yewtu.be/watch?v=LL9yWjh5HcU&amp;listen=false" target="_blank">part 2</a></li>
<li><a href="https://monsterbolts.com/pages/us-screw-sizes" target="_blank">Screw size chart</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="aslatua.html">Aslatua</a></li></ul></details></section><p class="last-modified">Last modified: 202503042055</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
