<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Blackberry leaves can be dried or fermented to make tea." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Blackberry Leaf Tea</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Blackberry Leaf Tea</h1><p>For both of these methods, you want young leaves, usually when they first start showing up. Basically, you want bright green leaves that aren't tough or thorny. The younger the better.</p>
<h2>Basic</h2>
<p>To make basic <a href="blackberry.html">blackberry</a> leaf <a href="tea.html">tea</a>, you can simply pick the leaves, remove the stem, and dry them in a <a href="dehydrator.html">dehydrator</a> or a very low temperature oven. Then to make the tea, put them in boiling water for a while. It's tea.</p>
<h2>Fermented</h2>
<p>This takes a little more effort.</p>
<h3>Cookware/Tools</h3>
<ul>
<li>Bruising tool: mortar and pestle, rolling pin, pasta machine (as described in the post[1]), whatever</li>
<li>Small sealable container to pack the leaves (mason jar)</li>
<li>Some kind of follower to pack and cover (ziploc bag with marbles or beans or whatever works great)</li>
<li>Dehydrator or oven that can go low temp (optional)</li>
</ul>
<h3>Instructions</h3>
<ol>
<li>Pick the leaves, remove the stems, and wash them.</li>
<li>Bruise the leaves with your bruising tool.</li>
<li>Tightly pack the leaves into your container.</li>
<li>Wait for two or more weeks. Original post[1] has six, with the longer time resulting in more tannins. The leaves should turn dark and get more floral smelling</li>
<li>When ready, remove leaves from the jar, separate them and dehydrate them. If you don't have a dehydrator or don't want to use an oven, just lay them out on a drying rack and wait.</li>
<li>Crush the leaves and put them into a container for storage.</li>
</ol>
<p>When you want to make tea, treat it like you would any black tea.</p>
<h2>References</h2>
<ol>
<li><a href="https://susansumptuousuppers.wordpress.com/2016/02/29/blackberry-leaf-tea/" target="_blank">Blackberry leaf tea</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="blackberries.html">Blackberries</a></li></ul></details></section><p class="last-modified">Last modified: 202502231753</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
