<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The Himalayan blackberry is an invasive plant and should NOT be intentionally planted. But it has a zillion uses." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Blackberries</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Blackberries</h1><p>This is an invasive plant and should NOT be intentionally planted. But it has a zillion uses.</p>
<h2>Leaves</h2>
<p>The leaves can be dried out (or fermented) and used for <a href="blackberry-leaf-tea.html">tea</a>.</p>
<h2>Canes</h2>
<p>The young canes can be used to make <a href="cordage.html">cordage</a>. The older canes can be use for constructing light structures[3], like a garden trellis or decorative fencing.</p>
<h2>Berries</h2>
<p>Of course, you can eat the berries. You can also use them to make jam, compote, etc.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.herbal-supplement-resource.com/blackberry.html" target="_blank">Blackberry – Health Benefits and Side Effects</a></li>
<li><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC10740815/" target="_blank">Exploring the Antioxidant Potential of Blackberry and Raspberry Leaves: Phytochemical Analysis, Scavenging Activity, and In Vitro Polyphenol Bioaccessibility</a></li>
<li><a href="https://rainyleaf.com/2014/06/01/blackberry-trellis/" target="_blank">Blackberry cane trellis</a></li>
</ol>
<p class="last-modified">Last modified: 202502231918</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
