<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Bread is a lot easier to make than you think." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Bread</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Bread</h1><p>Bread is easier than you think to make. It's largely passive time, waiting for the next step, so it's best suited for when you have time at home. That said, I have definitely taken loaves that are proofing to friend's houses and left them in their fridge, grabbing them before I head home.</p>
<h2>Basics</h2>
<p>The basic bread process is:</p>
<ul>
<li><a href="preferment-for-bread.html">Prefermentation</a>, e.g. <a href="sourdough.html">sourdough</a>, poolish, biga, autolyse sort of (optional)</li>
<li>Combining ingredients</li>
<li>Bulk fermentation</li>
<li>Divide/shape</li>
<li>Proof (second fermentation)</li>
<li>Bake</li>
</ul>
<h3>Autolyse</h3>
<p>Autolyse is not really a prefermentation, but it is helpful for flavor and texture.</p>
<p>In your mixing bowl, mix your flour and water until combined. Then let rest for 20 minutes to an hour before adding the rest of the ingredients.</p>
<h2>References</h2>
<ol>
<li><a href="https://artisanbreadinfive.com/2013/10/22/the-new-artisan-bread-in-five-minutes-a-day-is-launched-back-to-basics-updated/" target="_blank">Bread in five minutes a day basic recipe (a great starter recipe from a great book)</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="do-nothing-bread.html">Do Nothing Bread</a></li><li><a href="kvass.html">Kvass</a></li><li><a href="no-knead-bread.html">No-Knead Bread</a></li><li><a href="oven.html">Oven</a></li><li><a href="preferment-for-bread.html">Preferment for bread</a></li></ul></details></section><p class="last-modified">Last modified: 202503011649</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
