<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Bread machines are weird, but they're nice." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Bread for Bread Machines</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Bread for Bread Machines</h1><p>Making bread in a bread machine is <em>way</em> different than making it from scratch. Mainly in that it's almost ballistic how you just throw a bunch of shit together and then bread comes out. Usually you can adjust things in the middle of the process to make different stuff happen. But the upside is if you don't have an oven, you can still make bread. So here we are.</p>
<h2>Basic White Bread (with optional <a href="preferment.html">preferment</a>)</h2>
<p>This recipe I adapted from the recipe book for the Zojirushi BBCC-S15, a 1-1.5 pound bread machine. This recipe may need to be scaled for your machine.</p>
<p>If you don't want a preferment, just mix everything at once, in the order your bread machine recommends (likely water, fats, sugar, salt, flour, yeast).</p>
<p>If you want a <em>slightly</em> improved version without the 8-12 hours wait, you could do the preferment for about 30 minutes or so, for more of an <a href="autolyse.html">autolyse</a>.</p>
<h2>Ingredients</h2>
<h3>The <a href="preferment-for-bread.html">Preferment</a></h3>
<ul>
<li>180g <a href="water.html">water</a></li>
<li>180g <a href="flour.html">flour</a></li>
<li>1/16 teaspoon (a pinch) <a href="yeast.html">yeast</a></li>
</ul>
<h3>The Rest of the Dough</h3>
<ul>
<li>240g water</li>
<li>6g <a href="salt.html">salt</a></li>
<li>24g <a href="sugar.html">sugar</a></li>
<li>28g (2T) <a href="butter.html">butter</a> or <a href="olive-oil.html">olive oil</a></li>
<li>390g flour</li>
<li>1 teaspoon/3.5g yeast</li>
</ul>
<h2>Cookware</h2>
<h3>The Preferment</h3>
<ul>
<li>Bread machine's bread pan</li>
<li>Small mixing utensil (spoon or spatula)</li>
<li>Measuring spoons</li>
<li>Scale</li>
</ul>
<h3>The Dough</h3>
<ul>
<li>Bread machine</li>
<li>Scale</li>
</ul>
<h2>Instructions</h2>
<h3>The Preferment</h3>
<ol>
<li>Add the three ingredients into your bread machine's bread pan. Mix them just until well combined (no chunks of flour).</li>
<li>Put in the bread machine (without initiating any cycles or anything, powered off) for about 8-12 hours.</li>
</ol>
<h3>The Rest of the Dough</h3>
<ol>
<li>Add the water into the pan with the preferment, to release it from the sides.</li>
<li>Add the rest of the ingredients.</li>
<li>Start the white bread cycle. Done.</li>
</ol>
<p class="last-modified">Last modified: 202503012306</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
