<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="At work, you need to calculate impact. Lines of code sucks, but it's better than nothing/" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Calculate changes</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Calculate changes</h1><p>To calculate total changes, you can essentially go through all branches named XYZ, get the changes, and add them together. What you need is</p>
<ul>
<li>Branch prefix</li>
<li>Base branch name</li>
<li>Files to exclude if any</li>
</ul>
<pre><code class="language-bash">git for-each-ref --format=&quot;%(refname:short)&quot; refs/heads | \
  grep &#x27;$branch_prefix&#x27; | `# only get branches from ticket XYZ` \
  while read -r line; do
    git log \
      --numstat --pretty=format:&quot;&quot; `# get addition, deletion, filename` \
      &quot;$(git merge-base $line $base_branch_name)..$line&quot; `# from base to tip` \
      -- . &#x27;:(exclude)excluded/dir/*&#x27; `# excluded directories/files` | \
  done | \
  awk &#x27;(files = files + 1) (add = add + $1) (del = del + $2) { } END { print files &quot; &quot; add &quot; &quot; del }&#x27; `# add all data`
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://www.baeldung.com/linux/add-column-of-numbers" target="_blank">https://www.baeldung.com/linux/add-column-of-numbers</a></li>
<li><a href="https://stackoverflow.com/questions/46195495/how-to-skip-specific-files-while-calculating-lines-of-code" target="_blank">https://stackoverflow.com/questions/46195495/how-to-skip-specific-files-while-calculating-lines-of-code</a></li>
<li><a href="https://stackoverflow.com/questions/1549146/git-find-the-most-recent-common-ancestor-of-two-branches" target="_blank">https://stackoverflow.com/questions/1549146/git-find-the-most-recent-common-ancestor-of-two-branches</a></li>
<li><a href="https://git-scm.com/docs/git-for-each-ref" target="_blank">https://git-scm.com/docs/git-for-each-ref</a></li>
<li><a href="https://git-scm.com/docs/pretty-formats" target="_blank">https://git-scm.com/docs/pretty-formats</a></li>
<li><a href="https://stackoverflow.com/questions/1265040/how-to-count-total-lines-changed-by-a-specific-author-in-a-git-repository" target="_blank">https://stackoverflow.com/questions/1265040/how-to-count-total-lines-changed-by-a-specific-author-in-a-git-repository</a></li>
<li><a href="https://stackoverflow.com/questions/5685007/making-git-log-ignore-changes-for-certain-paths" target="_blank">https://stackoverflow.com/questions/5685007/making-git-log-ignore-changes-for-certain-paths</a></li>
<li><a href="https://stackoverflow.com/questions/2528111/how-can-i-calculate-the-number-of-lines-changed-between-two-commits-in-git" target="_blank">https://stackoverflow.com/questions/2528111/how-can-i-calculate-the-number-of-lines-changed-between-two-commits-in-git</a></li>
</ol>
<p class="last-modified">Last modified: 202407110435</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
