<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Cannabis (or hemp) plants have many culinary uses beyond the buds." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Cannabis</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Cannabis</h1><p>Cannabis (or hemp) plants have many culinary <a href="reuse.html">uses</a> beyond the buds. Most parts of the plants that aren't the buds won't get you high[2] and you probably have some friends who grow and have other parts of the plants they are willing to give away.</p>
<h2>Plant Types</h2>
<p>There are three different types of plants: sativa, indica, and ruderalis. For what we are using them, it should not matter the differences, but it is good to get used to how their shapes differ[3], mainly so that you are using the part of the plant that you're expecting.</p>
<h2>Fan Leaves</h2>
<p>Note that this is talking about the larger leaves from the plant, probably the ones you are thinking of. The cannabis plant also has smaller leaves protruding from the buds (&quot;sugar leaves&quot;) which contain a much higher amount of cannabinoids, which could result in an unwanted high.</p>
<h3>Raw</h3>
<p>Use them like you would any other green like kale or spinach: smoothies, salads, vegetable roasts, etc.</p>
<h3>Dried</h3>
<h4>Tea</h4>
<p>First you will need to take the leaves and spread them out to dry fully. I let them sit in direct sunlight until they were fully dried, but I assume you could also do this in a dehydrator or an extremely low heat oven.</p>
<p>Once dried, remove the stems and break up the leaves until they are small enough to measure with a teaspoon.</p>
<p>To make a cup of tea, measure out one to two teaspoons per 8oz cup, let steep for a minute or so. You know, make tea.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.cannaconnection.com/blog/19208-cannabis-fan-leaves-what-they-are-and-how-to-use-them" target="_blank">https://www.cannaconnection.com/blog/19208-cannabis-fan-leaves-what-they-are-and-how-to-use-them</a></li>
<li><a href="https://www.cannaconnection.com/blog/11497-can-leaves-get-you-high" target="_blank">https://www.cannaconnection.com/blog/11497-can-leaves-get-you-high</a></li>
<li><a href="https://honestmarijuana.com/marijuana-leaf/" target="_blank">https://honestmarijuana.com/marijuana-leaf/</a></li>
</ol>
<p class="last-modified">Last modified: 202503042033</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
