<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="A bunch of tricks and resources for uncle magic." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Card Magic</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Card Magic</h1><p>These all use a standard 52-card deck of <a href="playing-cards.html">playing cards</a>.</p>
<h2>Books</h2>
<ul>
<li>The Royal Road to Card Magic[1]</li>
</ul>
<h2>Simple Tricks</h2>
<ul>
<li><a href="https://www.youtube.com/watch?v=DJrA0V6lSF8" target="_blank">The EASIEST card trick you will ever learn (Four aces)</a></li>
<li><a href="https://www.youtube.com/watch?v=HDooBdbj2jM" target="_blank">This EASY card trick will fool your friends (Is this your card)</a></li>
<li><a href="https://www.youtube.com/watch?v=B_BpzYY_Qw0" target="_blank">THE TOPSY TURVY CARDS in-depth tutorial</a> from &quot;The Royal Road To Card Magic&quot;[1]</li>
<li><a href="https://www.youtube.com/watch?v=rx7LIFUtmlk" target="_blank">Pretty cool Biddle trick</a></li>
<li><a href="https://www.youtube.com/watch?v=FGF-qa-maRg" target="_blank">Sweet 16</a></li>
<li><a href="https://www.youtube.com/watch?v=e15MXNXbB4A" target="_blank">Tell the truth</a></li>
</ul>
<h2>False cuts</h2>
<ul>
<li><a href="https://www.youtube.com/watch?v=UV9_qgA4YGQ" target="_blank">from Alex Pandrea</a></li>
<li><a href="https://www.youtube.com/watch?v=wqDSkueGV2s" target="_blank">from Rich Ferguson</a></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://archive.org/details/theroyalroadtocardmagic" target="_blank">The Royal Road to Card Magic (free)</a></li>
<li><a href="https://www.youtube.com/@mismag822" target="_blank">Mismag on youtube</a></li>
<li><a href="https://www.youtube.com/@52kards" target="_blank">52kards on youtube</a></li>
<li><a href="https://www.youtube.com/@AlexPandrea" target="_blank">Alex Pandrea on youtube</a></li>
</ol>
<p class="last-modified">Last modified: 202502040610</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
