<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="These are games to play with standard 52-card playing cards." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Card Games</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Card Games</h1><p>These are games to play with standard 52-card <a href="playing-cards.html">playing cards</a> or other common decks like Uno.</p>
<h2>Solitaire</h2>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Canfield_(solitaire)" target="_blank">Canfield</a></li>
</ul>
<h2>Multiple Players</h2>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Nerts" target="_blank">Nerts</a></li>
<li><a href="dutch.html">Dutch</a></li>
<li><a href="https://en.wikipedia.org/wiki/Spades_(card_game)" target="_blank">Spades</a></li>
</ul>
<h3>House Uno</h3>
<p>It's normal Uno played with normal Uno cards, but every round, the winner gets to instantiate a new rule or remove a previous rule for all subsequent rounds. This makes a whole lot less sense as time goes on, but it is good for people like me who prefer a ton of stimulus.</p>
<h3>Youno</h3>
<p>It's normal Uno played with your cards facing away from you. You play from someone else's hand on your turn. If you can't play, the next person draws a card, which you must play if it is playable.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.pagat.com/" target="_blank">Pagat.com - Card Games and Tile Games from around the World</a></li>
<li><a href="https://www.pagat.com/invented/uno_vars.html#youknow" target="_blank">Youknow</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="dutch.html">Dutch</a></li></ul></details></section><p class="last-modified">Last modified: 202503042042</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
