<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="I get out of date errors a lot, so this is a fix." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Certificates/PEM Files</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Certificates/PEM Files</h1><p>Sometimes when trying to clone a <a href="git.html">git</a> repo off the internet, I run into this error: <code>SSL certificate problem: certificate has expired</code>. On <a href="macos.html">old versions of Mac OSX</a>, your system's <a href="ssl.html">SSL</a> cert may not update, so you should update it manually[1].</p>
<blockquote>
<p>OpenSSL on macOS does not use the system keychain (which makes sense as it's a cross platform library) but rather has its own .pem file containing its root certificates. Even though my systems have a newer version of OpenSSL installed using homebrew and/or MacPorts, the system-wide OpenSSL pem file located at /etc/ssl/cert.pem was out of date and did not include the ISRG Root X1 certificate.</p>
<p>The solution:</p>
<ul>
<li>Rename /etc/ssl/cert.pem to something else. (I suggest /etc/ssl/cert.pem.org)</li>
<li>Download the latest cacert.pem from <a href="https://curl.se/docs/caextract.html" target="_blank">https://curl.se/docs/caextract.html</a></li>
<li>Rename it to cert.pem</li>
<li>Copy it to /etc/ssl/cert.pem</li>
</ul>
<p>Now curl and any other app using OpenSSL can access websites signed using current Let's Encrypt certificates.</p>
<p>Alternatively, the MacPorts package curl-ca-bundle installs a .pem file containing ISRG Root X1 to /opt/local/etc/openssl/cert.pem which can be used as well.</p>
<p>Other possible solutions:</p>
<ul>
<li>Manually add the ISRG Root X1 certificate to /etc/ssl/cert.pem</li>
<li>Configure OpenSSL to use a different .pem file for its root certificates, such as /opt/local/etc/openssl/cert.pem</li>
</ul>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/69521959/ssl-certificate-problem-certificate-has-expire-in-macos" target="_blank">https://stackoverflow.com/questions/69521959/ssl-certificate-problem-certificate-has-expire-in-macos</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
