<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Consulting/Freelancing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Consulting/Freelancing</h1><h2>Pay</h2>
<blockquote>
<ul>
<li>Decide how much you want to make. Let's use a nice round number. USD$100,000 (Not saying this is your number, yours may be USD$250,000, or whatever. This is just an example.)</li>
<li>Remember to add health insurance, business insurance, error &amp; omission insurance, taxes and fees and everything else. (Call an insurance broker, techinsurance.com, etc.)</li>
<li>Let's call this compiled number USD$150,000. (again, just an example.)</li>
<li>Double it. USD$300,000. You can expect no more than 50% utilization, and you have to spend time finding the next client/gig/opportunity. So you will only make half a years worth of hourly salary.</li>
<li>Convert to hourly. There are 2080 working hours in a year. So you can have a vacation, call it 2000. Divide 300,000 by 2,000. That's 150. So your hourly rate is $150/hour.</li>
<li>If you are 50% utilized, you will make USD$150,000 per year. With six months of time to find work, have a vacation, keep your certs alive, and expand your skill set.</li>
</ul>
</blockquote>
<h2>Work</h2>
<blockquote>
<p>if one baker can make a loaf of bread in an hour in an oven, that does not mean that ten bakers could make ten loaves in one hour in the same oven, due to the oven's limited capacity.[4]</p>
</blockquote>
<h3>Work Triangle</h3>
<p>The client can only have two[4]:</p>
<ul>
<li>Cheap</li>
<li>Fast</li>
<li>Good</li>
</ul>
<p>If you are doing all three, you should charge more, for the sake of yourself and the community.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.reddit.com/r/talesfromtechsupport/comments/l2pqsl/handover_of_work_total_disaster/" target="_blank">https://www.reddit.com/r/talesfromtechsupport/comments/l2pqsl/handover_of_work_total_disaster/</a></li>
<li><a href="https://thomasorus.com/freelancing-notes.html" target="_blank">https://thomasorus.com/freelancing-notes.html</a></li>
<li><a href="https://mtlynch.io/tinypilot-redesign/" target="_blank">https://mtlynch.io/tinypilot-redesign/</a></li>
<li><a href="https://en.wikipedia.org/wiki/Project_management_triangle" target="_blank">Project management triangle - Wikipedia</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
