<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Contesting is an activity for hams to exchange information with lots of stations over a period of time." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Contesting (Ham)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Contesting (Ham)</h1><p>Contesting is an activity for <a href="ham-radio.html">hams</a> where the goal is to score points by exchanging information with as many different operators as you can over a given period of time. It's fun, but also useful for emergency training scenarios where operating conditions are suboptimal.</p>
<p>It is generally best practice to send only the minimum information needed for proper identification and the contest exchange.</p>
<h2>ARRL Field Day</h2>
<p>On the fourth full weekend in June, ARRL holds a contest where clubs and individuals set up temporary operations in the field across the United States for testing out emergency communications. This is a good way for beginner hams to get practice on their radios and get a deeper understanding of the infrastructure, as well as meetin new people.</p>
<h2>References</h2>
<ol>
<li><a href="http://www.arrl.org/field-day" target="_blank">http://www.arrl.org/field-day</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
