<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Cordage is created out of plant matter and can be used to make rope, clothing, tools, etc." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Cordage</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Cordage</h1><p>Cordage is <a href="reuse.html">created</a> out of plant matter and can be used to make rope, clothing, tools, etc.</p>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=3SJdWjSEN6g" target="_blank">From blackberry brambles</a></li>
<li><a href="https://yewtu.be/watch?v=62PvfIR0xDg" target="_blank">Simple Cordage Instructions</a></li>
<li><a href="https://yewtu.be/watch?app=desktop&amp;v=Tss2m6SbjTA" target="_blank">From nettles</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="blackberries.html">Blackberries</a></li><li><a href="paracord.html">Paracord</a></li></ul></details></section><p class="last-modified">Last modified: 202503042014</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
