<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="These are some basic things I've picked up over the years." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - CSS Best Practices</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">CSS Best Practices</h1><h2>Let the browser do the work</h2>
<p>If you build your websites with <a href="semantic-html.html">correct semantics</a>, most basic styling will be done for you. Headings will look like headings, paragraphs will look like paragraphs, lists like lists.Doing a job that is half finished is way easier than starting from scratch, right?</p>
<p>This plus a really basic normalize/reset[1] (nothing much!) will take you super far.</p>
<h2>Move styles as high as you can in the DOM</h2>
<p>Sort of an extension of the last point. Instead of manually applying spacing to each element, use the &quot;lobotomized owl&quot;[2] selector to add margin to those inside a container. Instead of setting font sizes by pixel size, use <code>rem</code> and a ratio[3] to respect user's customizations and let math handle the designs. Instead of styling one form, style all forms.</p>
<p>Not only does this make your life easier, it also brings cohesion to your website.</p>
<h2>Don't try to use a screw as a nail</h2>
<p>If you can't get the design quite right, it's probably better to go back to the drawing board. Just because you <em>can</em>, doesn't mean you necessarily <em>should</em>. <a href="https://en.wikipedia.org/wiki/Oblique_Strategies" target="_blank">Oblique strategies</a> comes to mind. How else can you represent this? Does it need to be this specific way? Can we get rid of it?</p>
<h2>Use BEM[5]</h2>
<ul>
<li><code>block</code></li>
<li><code>block__element</code></li>
<li><code>block__element--modifier</code></li>
</ul>
<p>Using a structure like this (along with some other kind of abstraction, like Sass[6] and their 7-1 pattern[7]) makes CSS maintenance <em>much</em> more straightforward. Not all projects require all of this, but even starting with a simplified version allows you to not have one sprawling CSS tome, but instead encapsulated ideas that cascade naturally.</p>
<h2>Don't make CSS do content or anything functional</h2>
<p>CSS is <em>styling</em>. Don't make it add content onto elements using <code>::after</code>, don't use it as a cheap pagination tool or tab system. HTML is for content; CSS is for styles; Javascript is for functionality. Think <a href="progressive-enhancement.html">progressive enhancement</a>. If you lose your JS, your styling shouldn't suffer. If you lose your CSS, your content shouldn't suffer.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.joshwcomeau.com/css/custom-css-reset/" target="_blank">A Modern CSS Reset</a></li>
<li><a href="https://mxstbr.com/thoughts/margin" target="_blank">Margins Considered Harmful</a></li>
<li><a href="https://typescale.com/" target="_blank">TypeScale</a></li>
<li><a href="classless-css.html">Classless CSS</a></li>
<li><a href="https://getbem.com/" target="_blank">Block, Element Modifier</a></li>
<li><a href="https://sass-lang.com/" target="_blank">Sass</a></li>
<li><a href="https://sass-guidelin.es/#the-7-1-pattern" target="_blank">7-1 pattern</a></li>
</ol>
<p class="last-modified">Last modified: 202408160316</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
