<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Cube CSS is a CSS framework that is composition first and values it above everything else." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Cube CSS</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Cube CSS</h1><p>[Cube CSS][] is a <a href="css.html">CSS</a> framework that is composition first and values it above everything else. The thesis is that when things work together and have a harmony between their design and structure, the amount of work that will need to be done later will be minimal.</p>
<h2>Base CSS</h2>
<p>These are all of your resets (removing margins, list styles, setting default image width, etc.) and basic choices that will apply to all of your <a href="html.html">HTML</a>.</p>
<h2>Composition</h2>
<p>This is where the bulk of your stylistic choices will be made and they will be made as classes that will be applied.</p>
<h2>Utilities</h2>
<h2>Block</h2>
<h2>Exception</h2>
<h2>References</h2>
<ol>
<li><a href="https://cube.fyi/" target="_blank">Cube CSS</a></li>
<li><a href="https://every-layout.dev/layouts/stack/" target="_blank">https://every-layout.dev/layouts/stack/</a></li>
<li><a href="https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/" target="_blank">https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/</a></li>
<li><a href="https://every-layout.dev/rudiments/modular-scale/" target="_blank">https://every-layout.dev/rudiments/modular-scale/</a></li>
<li><a href="https://issue33.com/" target="_blank">https://issue33.com/</a></li>
<li><a href="https://github.com/hankchizljaw/modern-css-reset" target="_blank">https://github.com/hankchizljaw/modern-css-reset</a></li>
<li><a href="https://frontstuff.io/no-utility-classes-arent-the-same-as-inline-styles" target="_blank">https://frontstuff.io/no-utility-classes-arent-the-same-as-inline-styles</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
