<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Custom hooks allow you to create simple extensions of existing React hooks to better suit your needs." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Custom React Hooks</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Custom React Hooks</h1><p>Custom hooks allow you to create simple extensions of existing <a href="react.html">React</a> hooks to better suit your needs.</p>
<p>It is highly recommended that you review what <a href="react-hooks.html">hooks</a> are first before getting into this, as we are using <code>useEffect</code> and <code>useState</code>.</p>
<h2>Your First Hook</h2>
<p><em>This example is taken from <a href="https://www.youtube.com/watch?v=6ThXsUwLWvc" target="_blank">Web Dev Simplified</a>.</em></p>
<p>This custom hook will log whenever your input value changes.</p>
<p><strong>useUpdateLogger.js</strong></p>
<pre><code class="language-javascript">import { useEffect } from &#x27;react&#x27;;

const useUpdateLogger = (value) =&gt; {
  useEffect(() =&gt; console.log(value), [value]);
};

export default useUpdateLogger;
</code></pre>
<p>When we use this in our project, it will log to the console whenever there is a change to the variable that was given.</p>
<p><strong>ExampleComponent.jsx</strong></p>
<pre><code class="language-jsx">import React, { useState } from &#x27;react&#x27;;
import useUpdateLogger from &#x27;./useUpdateLogger&#x27;;

const App = () =&gt; {
  const [counter, setCounter] = useState(0);
  
  useUpdateLogger(counter);
  
  return (
    &lt;div&gt;
      &lt;button
        type=&quot;button&quot;
        onClick={() =&gt; setCounter(counter + 1)}
      &gt;Increment&lt;/button&gt;
    &lt;/div&gt;
  );
};

export default App;
</code></pre>
<h2>References</h2>
<ul>
<li><a href="https://www.youtube.com/watch?v=6ThXsUwLWvc" target="_blank">https://www.youtube.com/watch?v=6ThXsUwLWvc</a></li>
<li><a href="https://blog.webdevsimplified.com/2019-11/how-to-write-custom-hooks/" target="_blank">https://blog.webdevsimplified.com/2019-11/how-to-write-custom-hooks/</a></li>
</ul>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="react-hooks.html">React Hooks</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
