<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Javascript Date objects have some weird intricacies that need attention." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Date (Javascript)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Date (Javascript)</h1><p><a href="javascript.html">Javascript</a> Date objects have some weird intricacies that need attention.</p>
<h2>Time Zones</h2>
<p>JavaScript's Date object tracks time in UTC internally, but typically accepts input and <strong>produces output in the local time of the computer it's running on</strong>. The way to mitigate this (IMO undesired) opinion is two options.</p>
<pre><code class="language-javascript">// will change time based on computer&#x27;s time zone
var myBirthday = (&#x27;January 1, 1990&#x27;);
</code></pre>
<h3>UNIX Timestamp</h3>
<p>If you use a website like <a href="https://www.unixtimestamp.com/" target="_blank">unixtimestamp.com</a>, you can convert your times beforehand and using these as input, will always produce the correct time regardless of timezone.</p>
<pre><code class="language-javascript">var myBirthday = (&#x27;631180800&#x27;);
</code></pre>
<h3>Specify <code>GMT+0:00</code> Time Zone</h3>
<p>When inputting a more human-readable datetime stamp, follow it with <code>GMT+0:00</code> and this will force a normalized timezone, regardless of the computer's settings.</p>
<pre><code class="language-javascript">var myBirthday = (&#x27;January 1, 1990 GMT+0:00&#x27;);
</code></pre>
<h2>References</h2>
<ul>
<li><a href="https://stackoverflow.com/questions/15141762/how-to-initialize-a-javascript-date-to-a-particular-time-zone" target="_blank">https://stackoverflow.com/questions/15141762/how-to-initialize-a-javascript-date-to-a-particular-time-zone</a></li>
</ul>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
