<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Debugging is efficiently determining the problem and devising a solution for your program." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Debugging</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Debugging</h1><p>Debugging is efficiently determining the problem and devising a solution for your <a href="programming.html">program</a>.</p>
<h2>Two sides of a bug</h2>
<ol>
<li>The <strong>cause</strong>: some line or lines where your code is written in a way that leads to problems</li>
<li>The <strong>symptoms</strong>: program state, output - An undesired program state or output that you expected to be different than what you see the computer producing. Could be a function manipulating data wrong or a variable holding unexpected values.</li>
</ol>
<h2>Different kinds of bugs</h2>
<ul>
<li>
<strong>Syntactic error</strong>: Whether or not your plan was good, a typo makes code unreadable to your interpreter.<ul>
<li>Symptom: Syntax error, program won't start</li>
<li>Solution: go to line mentioned and fix typo</li>
</ul>
</li>
<li>
<strong>Semantic error</strong>: what you wrote did not do what you think it did. The interpreter used what you put, but  what you gave was not what you, or maybe what the interpreter, expected.<ul>
<li>Symptom: usually an error thrown later in the program, usually not where you wrote the error</li>
<li>Solution: Find the misstatement in your code</li>
</ul>
</li>
<li>
<strong>Logical error</strong>: The step by step plan you developed for solving the problem is somewhat misconceptualized or vague.<ul>
<li>Symptom: the program throws an exception or produces undeired output</li>
<li>Solution: find the misconception in your plan</li>
</ul>
</li>
</ul>
<h2>Goalposting</h2>
<p>This is a variant on Divide and Conquer. When experiencing a bug, the first step is to set goal posts around the code that could possibly be a problem. From whichever direction you believe is most beneficial, test if an area is acting as expected using logging or a debugger or whatever. If it is, the goal post may be moved to that area, as we know it is doing what we expect. You should not move the goal post past anything you have not yet tested.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.hackreactor.com/prep-programs" target="_blank">https://www.hackreactor.com/prep-programs</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
