<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The debugger command in Chrome is really useful for diagnostics and testing." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Debugger in Chrome</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Debugger in Chrome</h1><p>The <code>debugger</code> command can be used anywhere in your source code or in the console of the dev tools in Chrome to initiate the built-in debugger. This can be useful if you want to debug somewhere deep in the code for manual testing. This can be used alongside or instead of a ton of <code>console.log</code> statements.</p>
<pre><code class="language-javascript">const addHundred = (var) =&gt; {
    const newVar = 100 + var;
    // This line will trigger the debugger while in this function
    debugger;
    return newVar;
}
</code></pre>
<p>There are situations where you are trying to debug a problem in the browser, but certain states (hover, CSS popover, etc.) don't allow proper use of the inspection tool. In these instances, you can run the following in your console, trigger the desired state, and then wait for the debugger to start:</p>
<pre><code class="language-javascript">// Wait five seconds and then start the debugger
setTimeout(function () {
    debugger;
}, 5000);
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/a/28454481/14857724" target="_blank">css - Freeze screen in chrome debugger / DevTools panel for popover inspection? - Stack Overflow</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
