<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Yohan Ferrant's recipe for \"do nothing\" sourdough bread." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Do Nothing Bread</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Do Nothing Bread</h1><p>Yohan Ferrant's recipe for &quot;do nothing&quot; <a href="sourdough.html">sourdough</a> <a href="bread.html">bread</a>. This bread tastes GREAT and honestly really is easy. It can also scale, if you don't want to make so many loaves, since this recipe usually yields me 8 small loaves.</p>
<h2>Ingredients</h2>
<h3>The Dough</h3>
<ul>
<li>10g <a href="sourdough-starter.html">sourdough starter</a></li>
<li>900g <a href="water.html">water</a></li>
<li>600g whole wheat <a href="flour.html">flour</a></li>
<li>400g bread flour</li>
<li>20g <a href="salt.html">salt</a></li>
</ul>
<h3>Making The Bread</h3>
<ul>
<li><a href="cornmeal.html">Cornmeal</a>, if not using a <a href="dutch-oven.html">dutch oven</a></li>
</ul>
<h2>Cookware</h2>
<h3>The Dough</h3>
<ul>
<li>Rectangular tall-ish container for mixing and resting the dough (~A3 paper size, can find at chef stores)</li>
<li>Cover for container (can use a plastic bag)</li>
<li>Wooden kitchen tool handle to mix (opt., I use the handle of my dough whisk)</li>
</ul>
<h3>Making The Bread</h3>
<ul>
<li>Oven</li>
<li>Dutch oven, baking stone, or cookie sheet</li>
<li>Kitchen scale (opt.)</li>
<li>Kitchen shears (opt.)</li>
<li>Bench scraper (opt. but super useful)</li>
<li>Butcher's block or board for shaping the bread</li>
<li>Parchment paper if you don't want to use cornmeal</li>
<li>
One of these proofing mediums<ul>
<li>Baking couche/silpat-style thing</li>
<li>Proofing basket (with lots of flour!!)</li>
</ul>
</li>
<li>
<em>If not using dutch oven:</em><ul>
<li>Pizza peel for resting bread and putting bread in oven (opt.)</li>
<li>Spray bottle with water or broiler tray</li>
</ul>
</li>
<li>Cooling rack, or somewhere the bread can cool and breathe after baking</li>
</ul>
<h2>Instructions</h2>
<h3>The Dough</h3>
<ol>
<li>Add everything into the mixing container (water and starter first) and mix until just combined. Cover container and wait.</li>
<li>After 12 hours, you can do an optional fold. Grab from the center lengthwise and gently lift the dough until it releases from the container. Then lower it back down into the container. Repeat widthwise. Cover the container</li>
</ol>
<h3>Making The Bread</h3>
<ol>
<li>Preheat your oven and dutch ovens at 470F/243C.</li>
<li>24 hours after the first mixing, dust the top of your dough with flour, particularly around the edges. Use a bench scraper to release the dough from the edges of the container. Flour your butcher's block well and flip your container over on top of the butcher's block. Your dough should slowly release. Release any stragglers manually. Note that this dough is <em>very</em> wet! Act fast!</li>
<li>Dust the top of your dough lightly with flour, adding more flour where you will divide the bread. I usually divide the dough into 8 parts, with one division lengthwise and three widthwise. Use your bench scraper to divide the dough and put them on a floured surface away from the dough, as they will likely try and connect again.</li>
<li>Dust your proofing medium liberally. Shape the bread by grabbing the long end and folding it about a third over. Then grab this folded end and lightly roll it onto last third. Pick it up lightly and flip it over onto your proofing medium. Ensure the loaves don't stick together by using flour on their ends and using your couche (if using a silicon mat, you may be able to do the same thing, otherwise they will flatten a <em>lot</em>).</li>
<li>When it's time to bake, put them into your dutch oven for 15 minutes, taking the lid off after and baking for about 20 more minutes. I usually cycle the loaves when I take the lid off: one loaf out of the dutch oven onto the rack; one loaf off the rack, out of the oven, and onto the cooling rack; one new loaf into the dutch oven.</li>
<li>Let cool for at least an hour, of course.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://web.archive.org/web/20170810090959/https://northwestsourdough.com/yohan-ferrants-do-nothing-bread/" target="_blank">Archived recipe from Teresa Greenway</a></li>
<li><a href="https://www.youtube.com/watch?v=Wwu3KgbhTsU" target="_blank">Video from Teresa Greenway</a></li>
</ol>
<p class="last-modified">Last modified: 202502171929</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
