<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The difference between where you are and where you want to be is experience." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Doing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Doing</h1><p>The difference between where you are and where you want to be is experience.</p>
<blockquote>
<p>Andre 3000: &quot;I haven’t been making much music man. My focus is not there. My confidence is not there. I’d like to, but it’s just not coming.</p>
<p>Rick Rubin: &quot;I think you start making a lot of things with no thinking. What it’s supposed to be or whose it for or what anyone else is gonna think. But just get in the habit of making a lot.&quot;</p>
<p>&quot;That’s what I gotta get back to.&quot;</p>
<p>&quot;Yea, just make a lot. And then, at some point in that process, you’ll be like, ‘hmmm, I really like this.’ And you didn’t know. Through that whole process, you don’t know when that’s gonna happen.&quot;</p>
<p>&quot;Yea.&quot;</p>
<p>&quot;It’s not a decision you make and it’s not an intellectual idea where, I have a vision and I’m gonna make this thing. It doesn’t happen like that... it rarely happens like that. It happens more just having fun, making things. No stakes.&quot;[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://mattambrogi.bearblog.dev/make-a-lot/" target="_blank">https://mattambrogi.bearblog.dev/make-a-lot/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
