<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Doors are a pain in the ass." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - doors</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">doors</h1><p>Install prehung doors. Doing the rest yourself is a pain in the ass.</p>
<h2>What you need to know[1]</h2>
<ul>
<li>The clearance between the bottom of the door and the finish floor should be 3/8-inch or less.</li>
</ul>
<h3>Glossary</h3>
<ul>
<li>Rough opening: measurement from stud to stud (facing the opening, left/right by up/down).</li>
<li>Jamb depth: using the wall adjacent to the door, the depth from front to back, including plaster or drywall (e.g. drywall + stud + drywall)</li>
<li>Swing direction/handedness: easy to confuse, figure out which side of the wall it should be on and which direction it should swing.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.thisoldhouse.com/doors/21016350/how-to-install-a-prehung-door" target="_blank">Installing a prehung door</a></li>
</ol>
<p class="last-modified">Last modified: 202405030443</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
