<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Dotfiles are the config files for your computer that can help transitioning to a new device easier." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Dotfiles</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Dotfiles</h1><h2>Making a Dotfile Repo</h2>
<p>This method will allow you to sync dotfiles on different computers with a small amount of effort. You still have to pull down new changes as they occur on different machines, which sucks, but it is what it is. I'm sure there is a way I could set up git hooks to automate a check for if the local is out of date before syncing, but haven't done that yet.</p>
<ol>
<li>Create a new folder to keep your dotfiles (I use <code>$HOME/.dotfiles</code>).</li>
<li>Initialize a git repository there (<code>git init</code>).</li>
<li>
For each dotfile/folder you want to track/sync:<ol>
<li>Move it to your repo.</li>
<li>Make a <a href="symlinks.html">symlink</a> to what you moved into the repo (<code>ln -s /path/to/moved/item</code>).</li>
<li>Test that the original path leads to the moved item (e.g. if syncing the <code>vimrc</code> file: <code>cat ~/.vimrc</code>).</li>
</ol>
</li>
<li>Push the repo to the remote.</li>
</ol>
<h2>Different Settings on Different Computers</h2>
<h3>Shell RC Files</h3>
<p>You can break out different files for different machines. If the file doesn't exist, it will skip sourcing that file. </p>
<p>For instance, treating your <a href="shell.html">shell's</a> rc file (e.g. <code><a href="zsh.html">zshrc</a></code>) as a global aliases file, we can <code>source</code> other files that only pertain to our machines, like so:</p>
<p><strong>.zshrc</strong></p>
<pre><code class="language-bash">#!/bin/zsh

source &quot;$HOME/.home_zshrc&quot;
source &quot;$HOME/.work_zshrc&quot;
</code></pre>
<h3><a href="vim.html">Vim</a> and Other Configs</h3>
<p>In your shell's rc files, you can also set global environment variables that these external configs can use. For instance if you set an environment variable like <code>COMP</code> to the name of whatever machine you are using, then other programs can read that and conditionally make choices based on that value.</p>
<p>For instance, to do this in your <code>.home_zshrv</code>, use <code>export COMP=&quot;home&quot;</code>. Then in <a href="vim.html">Vim</a>, you could use a check to only set certain configurations, like tabs/spaces, etc.</p>
<pre><code class="language-vim">if $COMP == &#x27;home&#x27;
    &quot; do a thing
endif
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://dotfiles.github.io/" target="_blank">https://dotfiles.github.io/</a></li>
<li><a href="https://evanhahn.com/a-decade-of-dotfiles/" target="_blank">https://evanhahn.com/a-decade-of-dotfiles/</a></li>
<li><a href="crontab.html">Crontab</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
