<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="A card game to be played with two or more people." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Dutch</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Dutch</h1><p>Dutch is a <a href="card-games.html">card game</a> played with a standard <a href="playing-card.html">playing card</a> deck. The objective is to end the game with the fewest total points</p>
<h2>Starting the round</h2>
<p>Each player is dealt 4 cards face down. The remaining cards go in a draw pile in the center of the table and the top card is placed next to it, creating the discard pile.</p>
<p>The dealer determines how many cards, between 0 and 4, each player can look at before the game begins. After this point, players can not look at their cards again outside of switching cards on their turn.</p>
<h2>Play</h2>
<p>The player left of the dealer plays first. During their turn, each player can either pick up the card on top of the discard pile, or pick up the top card of deck. Once they have chosen their card, they must switch out that card with a card from their hand.</p>
<p>If a player has a card that matches the one in the discard pile (e.g. a 3, a King, etc.), they can place their matching card on top of the matching card in the discard pile.</p>
<p>If a player discards a Queen, they can look at any one card from their or another person's hand.</p>
<p>If a player discards a Jack, the player who plays it can switch any two player's cards, including their own. Neither player can look at the new card; if one of the cards was owned by the player who discarded the Jack, the <em>other</em> player can look at their new card.</p>
<h2>Finishing the round</h2>
<p>If a player gets rid of all their cards, play stops immediately, with all players counting their remaining points.</p>
<h3>Calling &quot;Dutch&quot;</h3>
<ul>
<li>If a player (the &quot;caller&quot;) believes they have the lowest score, they can knock or call &quot;Dutch&quot;.</li>
<li>Each remaining player gets one more round until it gets back to the caller.</li>
<li>Cards are flipped and counted.</li>
<li>If the caller has the lowest score, they get zero points and everyone else counts the points in their hand.</li>
<li>If the caller did <em>not</em> have the lowest score, the player with the lowest score gets zero and everyone else counts their points; the caller gets a penalty card at the start of the next round.</li>
</ul>
<h2>Penalties</h2>
<p>A player will receive a penalty card from the top of the deck which they cannot look at if</p>
<ul>
<li>they flip a card from their hand to match the card on the discard pile and it does not match,</li>
<li>they look at a card in their hand a second time, after it is face down, or</li>
<li>they call &quot;Dutch&quot; but don't have the lowest score at the end of the round.</li>
</ul>
<h2>Points/Card values</h2>
<ul>
<li>King of a red suit: 0 points</li>
<li>King of a black suit: 13 points</li>
<li>Queens: 12 points</li>
<li>Jacks: 11 points</li>
<li>All other cards are worth face value</li>
</ul>
<h2>Game end</h2>
<p>The game ends once someone reaches 100. When this happens, the player with the lowest score wins.</p>
<h2>References</h2>
<ol>
<li><a href="https://inv.tux.pizza/watch?v=-DFavWxVs-4" target="_blank">https://inv.tux.pizza/watch?v=-DFavWxVs-4</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="card-games.html">Card Games</a></li></ul></details></section><p class="last-modified">Last modified: 202503042042</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
