<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - dynamic-programming</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">dynamic-programming</h1><p><a href="https://yewtu.be/watch?v=oBt53YbR9Kk&amp;ywf=33537e9cb1b7dcaf" target="_blank">https://yewtu.be/watch?v=oBt53YbR9Kk&amp;ywf=33537e9cb1b7dcaf</a>
<a href="https://github.com/mxgmn/MarkovJunior" target="_blank">https://github.com/mxgmn/MarkovJunior</a>
<a href="https://markkarpov.com/tutorial/megaparsec.html#parsect-and-parsec-monads" target="_blank">https://markkarpov.com/tutorial/megaparsec.html#parsect-and-parsec-monads</a>
<a href="https://piped.kavin.rocks/watch?v=oBt53YbR9Kk" target="_blank">https://piped.kavin.rocks/watch?v=oBt53YbR9Kk</a></p>
<p class="last-modified">Last modified: 202401040631</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
