<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Good food doesn't have to be expensive nor wasteful." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Eating Frugally</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Eating Frugally</h1><!--

## Fermentation/Pickling

## Foraging

## Compost

## Growing

## Meal Prep

## Bulk

-->
<h2>References</h2>
<ol>
<li><a href="https://zerowastechef.substack.com/p/7-ways-to-save-money-as-food-prices" target="_blank">https://zerowastechef.substack.com/p/7-ways-to-save-money-as-food-prices</a></li>
<li><a href="https://zerowastechef.substack.com/p/7-homemade-drinks-that-beat-the-heat" target="_blank">https://zerowastechef.substack.com/p/7-homemade-drinks-that-beat-the-heat</a></li>
<li><a href="https://zerowastechef.substack.com/p/5-simple-healthy-meals-that-cost" target="_blank">https://zerowastechef.substack.com/p/5-simple-healthy-meals-that-cost</a></li>
<li><a href="https://zerowastechef.substack.com/p/13-kitchen-gadgets-you-may-already" target="_blank">https://zerowastechef.substack.com/p/13-kitchen-gadgets-you-may-already</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
