<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Electromagnetic energy travels at the speed of light and includes radio, microwaves, light, x-rays, and gamma rays." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Electromagnetic Energy</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Electromagnetic Energy</h1><p>Electromagnetic energy travels at the speed of light and includes radio, microwaves, light, x-rays, and gamma rays.</p>
<p>The formula to determine the wavelength of a given frequency is <code>c = ƒλ</code>, where <code>c</code> is the speed of light (300m meters/second), <code>ƒ</code> is the frequency in hertz, and <code>λ</code> is the wavelength in meters. To find the wavelength, invert this formula to <code>λ = c/ƒ</code>.</p>
<h2>Polarization</h2>
<p>n electromagnetic wave consists of an oscillating <em>electric field</em> and an oscillating *magnetic field, operating at right angles to one another. These move through space at the speed of light. The polarization of a wave is based on the orientation of it's electric field:</p>
<ul>
<li>Linearly polarized waves (<code>=</code>) do not change the orientation of the electric field;</li>
<li>Circularly polarized or elliptically polarized waves (<code>+</code>) have a rotating electric field;</li>
<li>Horizontally polarized waves (<code>┴</code>) have an electrical field that is parallel to the earth's surface;</li>
<li>Vertically polarized waves (<code>=</code> with thicker bottom line) have an electrical field that is perpendicular to the earth's surface.</li>
</ul>
<p>This orientation is established by the transmitting <a href="antennas.html">antenna's</a> orientation. For instance, horizontal antennas will produce horizontal waves. However, this can change over time as it interacts with the atmosphere, ground, and various objects like mountains or buildings.</p>
<h3>Local vs. Distant Communications</h3>
<p>Local communications via <a href="ham-radio.html">amateur radio</a> are best served with vertically polarized waves because there is less attenuation when sent along the surface of the Earth.</p>
<p>Distant communications use horizontally polarized waves since they are less attenuated when traveling due to ground and tropospheric reflections.</p>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
