<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="FAR is a type of versioning proposed by Rich Hickey." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - FAR Versioning</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">FAR Versioning</h1><p>FAR is a type of versioning proposed by Rich Hickey.</p>
<h2>What FAR Is</h2>
<p>FAR is an acronym containing what you should do when growing your software. It stands for</p>
<ul>
<li>Fixation - Fixing bugs</li>
<li>Accretion - Adding new features</li>
<li>Relaxation - Requiring less from your users</li>
</ul>
<p>Essentially, when a contract is created with the user, these are the appropriate operations that can be done when versioning that package. For instance, in package <code>pkg</code>, function <code>foo</code> takes a number, and pops out a string; other functions exist in there, too.</p>
<h3>Breaking Changes</h3>
<p>The biggest difference between this and <a href="semantic-versioning.html">semantic versioning</a> is what happens when a <em>breaking</em> change is proposed.</p>
<p>In semantic versioning, this would be a &quot;major&quot; bump. But what happens with this is the features that are being used are changed while people are using them, and then they have to rewrite their program to try and accommodate these changes. Function <code>foo</code> in <code>pkg</code> will now require different arguments, or spit out different data, maybe. If a user wants to continue using the same <code>foo</code>, they have to remain using stale, possibly insecure, functions <code>bar</code>, and <code>baz</code>. To get the new features of <code>foo</code>, they have to overhaul, refactor, and migrate <em>everything</em> in <code>pkg</code>. I have seen this in every place I've worked, where migration is essentially never an option.</p>
<p>In FAR, you should <em>never</em> have a breaking change. You leave the original function and create another that serves the same purpose but more to what you are looking to improve. Then your users can have function <code>foo</code> in library <code>pkg</code>, which will <em>always</em> take in the same stuff, and return the same things. And new function <code>foo2</code> (or whatever better name you have) does what <code>foo</code> did but much better. So your users can use the older version of <code>foo</code> but not be fucked for the new versions of functions <code>bar</code> and <code>baz</code>. And migrating to <code>foo2</code> isn't a devastating life-altering event.</p>
<p>In short, always opt for <em>accretion</em>, and <em>never remove</em>. Removal is breakage, plain and simple, and is fucking over your customer. If you must remove something or change something so drastically that the user contract can no longer be fulfilled, it <em>must</em> be created or done under a different name (e.g. <code>foo2</code> instead of <code>foo</code>, or worse, <code>pkg2</code>).</p>
<h3>But what are the versions?</h3>
<p>This is the open ended part of this puzzle. But interestingly, this is no longer such a big deal if this process is followed well. Since contracts are no longer variable, you can always assume that using <code>pkg/foo</code> will give the same result. So one proposal Rich had was something like <code>YYYYMMDD.HHMMSS</code>, since that gives some kind of <em>actual</em> semantics to the user (the age of the package).</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=oyLBGkS5ICk" target="_blank">Spec-ulation Keynote - Rich Hickey</a></li>
<li><a href="https://github.com/matthiasn/talk-transcripts/blob/master/Hickey_Rich/Spec_ulation.md" target="_blank">Spec-ulation transcription</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="semantic-versioning.html">Semantic Versioning</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
