<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The FCC is the agency that regulates and enforces rules for amateur radio in the United States." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Federal Communications Commission</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Federal Communications Commission</h1><p>Part 97 of the Code of Federal Regulations[1] states that the purpose of this part is to ensure they facilitate the</p>
<blockquote>
<p>[e]ncouragement and improvement of the amateur service through rules which provide for advancing skills in both the communication and technical phases of the art.</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://www.ecfr.gov/current/title-47/chapter-I/subchapter-D/part-97?toc=1" target="_blank">https://www.ecfr.gov/current/title-47/chapter-I/subchapter-D/part-97?toc=1</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ham-radio.html">HAM Radio</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
