<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Fermented Brown Rice</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Fermented Brown Rice</h1><p>This method removes the phytic acid and makes the nutrition more bioavailable. It sounds like this same effect could be applied to other grains, as specified in the study[2].</p>
<h2>Instructions[1]</h2>
<ol>
<li>Soak the <a href="rice.html">rice</a> in water: Put the brown rice in a bowl and add room-temperature water, until the water level is 2 inches above the rice. Let the rice soak. The February 2015 study published in the Journal of Food Science and Technology notes that grains that have been soaked for 12 to 24 hours saw a significant reduction in food inhibitors like phytic acid[2].</li>
<li>Keep aside some of the water: Drain some of the water from the rice and store it in a container in the fridge. The next time you want to ferment rice, add this water to the pot. The phytase compounds in the water will help break down the phytic acid in the fresh batch of rice, according to the February 2015 study published in the Journal of Food Science and Technology.</li>
<li>Cook the rice: Cook the fermented rice as you normally would, with the exception of cooking time. Brown rice that has been soaked cooks much faster, so keep an eye on it and take it off the heat when it is done, to keep it from getting mushy.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.livestrong.com/article/486594-how-to-ferment-brown-rice/" target="_blank">https://www.livestrong.com/article/486594-how-to-ferment-brown-rice/</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4325021/" target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4325021/</a></li>
</ol>
<p class="last-modified">Last modified: 202503042027</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
