<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Fetch API is a part of vanilla JS that does HTTP requests." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Fetch API</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Fetch API</h1><p>Fetch API is a part of vanilla <a href="javascript.html">Javascript</a> that does <a href="http-requests.html">HTTP requests</a>. </p>
<h2>Usage</h2>
<p>The syntax for <code>fetch</code> is <code>fetch(&#x27;URL&#x27;)</code>. <code>fetch()</code> ALWAYS returns <a href="promises.html">promises</a>. These promises will be fulfilled when the data is finished loading, and can be accessed with <code>.then(function (response) { ... })</code>. Within <code>.then</code>, you can resolve this promise with <code>.json()</code>, <code>.text()</code>, or <code>.blob()</code>, which all return their <em>own</em> promise. Errors are handled through a <code>.catch(function (response) { ... })</code>.</p>
<pre><code class="language-javascript">fetch(&#x27;http://web.site&#x27;)
  .then(function (response) {
    // response is a Promise, so it will be resolved within this function
    return response.json();
    // response.json is *also* a Promise
  }).then(function (json) {
    // do thing with JSON response
  }).catch(function (error) {
    console.log(error);
  });
</code></pre>
<h3>With async/await</h3>
<p>If you encapsulate the fetch call within a function, you can declare that function as an <code>async</code> function and make the calls inside the function <code>await</code>. Because it's an <code>async</code> function, it will also return a promise, which can be handled by <code>.then</code> and <code>.catch</code>.</p>
<pre><code class="language-javascript">var getJSON = async function () {
  var response = await fetch(&#x27;http://web.site&#x27;);
  var json = await response.json();
  // do thing with JSON response
};

getJSON().catch(function (error) {
  console.log(error);
});
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API</a></li>
<li><a href="https://www.youtube.com/watch?v=tc8DU14qX6I" target="_blank">https://www.youtube.com/watch?v=tc8DU14qX6I</a></li>
<li><a href="https://www.youtube.com/watch?v=RfMkdvN-23o" target="_blank">https://www.youtube.com/watch?v=RfMkdvN-23o</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ajax.html">AJAX</a></li><li><a href="test-driven-development.html">Test-Driven Development</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
