<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Food foraging is finding and eating food that is out there in the wild. DO NOT EAT WHAT YOU CANNOT IDENTIFY 100%!" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Foraging</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Foraging</h1><p><span style="color: red;"><strong>DO NOT EAT WHAT YOU CANNOT IDENTIFY 100%!</strong></span> If you can't for SURE identify what the plant or food is without any ambiguity, IT CAN KILL YOU. See <a href="https://www.youtube.com/watch?v=iHPW8Z323F0" target="_blank">Atomic Shrimp's video on beginning foraging to understand the risks</a>. This is not a harmless activity, it can be life or death.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=iHPW8Z323F0" target="_blank">https://www.youtube.com/watch?v=iHPW8Z323F0</a></li>
<li><a href="https://yewtu.be/watch?v=gzJg4yuEi2c" target="_blank">https://yewtu.be/watch?v=gzJg4yuEi2c</a></li>
<li><a href="http://wildfoodsandmedicines.com/fir-hemlock-and-spruce-tips/" target="_blank">http://wildfoodsandmedicines.com/fir-hemlock-and-spruce-tips/</a></li>
<li><a href="https://nittygrittylife.com/douglas-fir/" target="_blank">https://nittygrittylife.com/douglas-fir/</a></li>
<li><a href="http://wildfoodsandmedicines.com/douglas-fir/" target="_blank">http://wildfoodsandmedicines.com/douglas-fir/</a></li>
<li><a href="https://defiel.com/how-to-harvest-tree-sap/" target="_blank">https://defiel.com/how-to-harvest-tree-sap/</a></li>
<li><a href="https://old.reddit.com/r/foraging/comments/wgmjsb/portland_oregon/" target="_blank">https://old.reddit.com/r/foraging/comments/wgmjsb/portland_oregon/</a></li>
<li><a href="https://cascadiaprairieoak.org/documents/field-guide-to-weeds-of-eastern-oregon" target="_blank">https://cascadiaprairieoak.org/documents/field-guide-to-weeds-of-eastern-oregon</a></li>
<li><a href="https://pfaf.org/user/" target="_blank">https://pfaf.org/user/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="magnolia.html">Magnolia</a></li><li><a href="peruvian-peppercorn.html">Peruvian Peppercorn</a></li><li><a href="thai-curry.html">Thai Curry</a></li></ul></details></section><p class="last-modified">Last modified: 202404161431</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
