<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Frugality in Tech</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Frugality in Tech</h1><ul>
<li><a href="https://cheapskatesguide.org/articles/thin-clients.html" target="_blank">https://cheapskatesguide.org/articles/thin-clients.html</a></li>
<li>Linux (walled gardens)</li>
<li>Make your own tools (lock-in software, subscriptions)</li>
<li>What do you need vs. what do you think you need, find your bedrock (Adam Savage method[1])</li>
</ul>
<blockquote>
<p>you should always use the <em>weakest</em> technology capable of solving your problem - the weakest technology is likely the cheapest, easiest  to maintain, extend or replace and there are no sane arguments for using anything else.</p>
<p><a href="https://boris-marinov.github.io/humane-tech/00-human-tech/" target="_blank">https://boris-marinov.github.io/humane-tech/00-human-tech/</a></p>
</blockquote>
<p>furthered here <a href="https://ez.substack.com/p/solutions-that-create-problems?s=r" target="_blank">https://ez.substack.com/p/solutions-that-create-problems?s=r</a></p>
<h2>References</h2>
<ol>
<li><a href="https://milofultz.com/2020-05-17-adam-savage.html" target="_blank">https://milofultz.com/2020-05-17-adam-savage.html</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
