<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Getting Things Done is a book by David Allen that is very useful for people who have difficulty managing their projects." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Getting Things Done</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Getting Things Done</h1><p>Getting Things Done is a book by David Allen that is very useful for people who have difficulty managing their projects.</p>
<p>If you want a quick to the point overview, look at Sandra's post[1] on the basics.</p>
<h2>References</h2>
<ol>
<li><a href="https://idiomdrottning.org/gtd-overview" target="_blank">https://idiomdrottning.org/gtd-overview</a></li>
<li><a href="https://idiomdrottning.org/gtd-bad-paths" target="_blank">https://idiomdrottning.org/gtd-bad-paths</a></li>
<li><a href="https://idiomdrottning.org/texts" target="_blank">https://idiomdrottning.org/texts</a> -&gt; GTD header</li>
<li><a href="https://hamberg.no/gtd" target="_blank">https://hamberg.no/gtd</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="task-management.html">Task Management</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
