<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="gitignore is way to clean up what will or won't be searched for when committing to a git repo." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - gitignore</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">gitignore</h1><p>Creating a <code>.gitignore</code> file in the root folder of your project will ensure every file that matches a line within the file will be ignored by git. It uses <a href="glob.html">globs</a>.</p>
<ul>
<li>Using a <code>*</code> will work as a wildcard for every file within that level of the given directory, or as a wildcard within a filename.</li>
<li>Using two <code>**</code> in the filepath will look within every level recursively from that point forward. e.g. <code>**/.DS_Store</code> will find a file called <code>.DS_Store</code> in the root directory as well as any others in any folders within that root directory. <code>lib/**/__pycache__</code> will match any files or folders named <code>__pycache__</code> that are within the <code>lib</code> directory at any depth.</li>
<li>Using a <code>#</code> at the beginning of your line is a comment. A hash will represent a comment anywhere but the beginning of the line. <code># a comment</code> works but <code>tags # a comment</code> will look for a file named <code>tags # a comment</code>.</li>
</ul>
<h2>Global gitignore</h2>
<p>You can ignore files globally by adding them to <code>~/.gitignore_global</code>. You can also use a git template[3] and add an <code>exclude</code> file.</p>
<h2>Delete previous files in gitignore</h2>
<p>If you add a file to <code>.gitignore</code> after previously committing that file, you may see untracked changes on those files. You have to remove the old files from the git repository to remove that error.</p>
<ul>
<li>Remove the existing files: <code>find . -name {filename} -print0 | xargs -0 git rm -f --ignore-unmatch</code></li>
<li>Add the file to the gitignore: <code>{filename}</code></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/107701/how-can-i-remove-ds-store-files-from-a-git-repository" target="_blank">https://stackoverflow.com/questions/107701/how-can-i-remove-ds-store-files-from-a-git-repository</a></li>
<li><a href="https://git-scm.com/docs/gitignore" target="_blank">https://git-scm.com/docs/gitignore</a></li>
<li><a href="https://www.darrik.dev/writing/custom-git-template/" target="_blank">https://www.darrik.dev/writing/custom-git-template/</a></li>
</ol>
<p class="last-modified">Last modified: 202401290248</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
