<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="grep finds string patterns within a given file or folder." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - grep</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">grep</h1><p><code>grep</code> finds string patterns within a given file or folder.</p>
<pre><code class="language-bash">$ grep PATTERN dir/file.name
$ grep &#x27;THIS THAT&#x27; dir/file.name
</code></pre>
<h2><a href="regular-expressions.html">Regular Expressions</a></h2>
<p><strong>Square brackets</strong> do the same as normal, and also includes special <a href="regular-expressions-posix.html">POSIX</a> groups, that do what you assume: <code>[:alnum:]</code>, <code>[:alpha:]</code>, <code>[:blank:]</code>, <code>[:cntrl:]</code>, <code>[:digit:]</code>, <code>[:graph:]</code>, <code>[:lower:]</code>, <code>[:print:]</code>, <code>[:punct:]</code>, <code>[:space:]</code>, <code>[:upper:]</code>, and <code>[:xdigit:]</code>.</p>
<h3>OR</h3>
<pre><code class="language-bash">$ grep &#x27;PATTERN1\|PATTERN2&#x27; dir/file.name
</code></pre>
<h3>AND</h3>
<pre><code class="language-bash">$ grep PATTERN1 dir/file.name | grep PATTERN2
</code></pre>
<h3>NOT</h3>
<pre><code class="language-bash">$ grep -v &#x27;NOTPATTERN&#x27; dir/file.name
</code></pre>
<h3>Chain a NOT with a regular search</h3>
<pre><code class="language-bash">$ grep &#x27;THIS&#x27; dir/file.name | grep -v &quot;NOT THIS&#x27;
</code></pre>
<h2>Options</h2>
<p>Options with a single hyphen can be combined and placed after <code>grep</code>. Double hyphen options are separated.</p>
<pre><code class="language-bash">$ grep -rin PATTERN file.diz
</code></pre>
<ul>
<li><code>-h</code>: suppress filename from output</li>
<li><code>-i</code>: ignore case of search pattern</li>
<li><code>-l</code>: print only filename</li>
<li><code>-n</code>: print line number where pattern is found</li>
<li><code>-r</code>: search recursively within a folder</li>
<li><code>--color</code>: color the output where pattern is found</li>
<li><code>--include=GLOB</code>: search only files whose base name matches GLOB using wildcard matching (e.g. <code>$ grep --include=*.md PATTERN</code>)</li>
<li><code>--exclude-dir=dir_name</code> or <code>--exclude-dir={multiple,dir_names}</code> (be sure to use the curlys)</li>
</ul>
<h2>Output Formatting</h2>
<p>You can use <code><a href="awk.html">awk</a></code> to print out a formatted output. <code>-F</code> and the following char is where in the string <code>awk</code> will split. Each split section can be called using <code>$NF</code>, with <code>NF</code> being the number of the field we want. <code>$0</code> is everything.</p>
<pre><code class="language-bash">grep IDEA | awk -F: &#x27;{print $1}&#x27;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://www.man7.org/linux/man-pages/man1/grep.1.html" target="_blank">https://www.man7.org/linux/man-pages/man1/grep.1.html</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="low-no-tech-productivity.html">Low-/No-Tech Productivity</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
