<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="HyperText Markup Language is the language of the internet." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - HTML</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">HTML</h1><h2>References</h2>
<ul>
<li><a href="https://github.com/hail2u/html-best-practices/blob/main/README.md" target="_blank">https://github.com/hail2u/html-best-practices/blob/main/README.md</a></li>
<li><a href="https://github.com/cbracco/html5-test-page" target="_blank">https://github.com/cbracco/html5-test-page</a></li>
</ul>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="accessibility.html">Accessibility</a></li><li><a href="ajax.html">AJAX</a></li><li><a href="aria-attributes.html">ARIA Attributes</a></li><li><a href="canvas.html">Canvas</a></li><li><a href="cube-css.html">Cube CSS</a></li><li><a href="dom-manipulation-javascript.html">DOM Manipulation (Javascript)</a></li><li><a href="event-listeners-javascript.html">Event Listeners (Javascript)</a></li><li><a href="frameworks-javascript.html">Frameworks (Javascript)</a></li><li><a href="how-to-load-local-json-files.html">How To Load Local JSON Files</a></li><li><a href="html-forms.html">HTML Forms</a></li><li><a href="html-tables.html">HTML Tables</a></li><li><a href="inverted-triangle-css.html">Inverted Triangle CSS</a></li><li><a href="javascript.html">Javascript</a></li><li><a href="model-view-controller.html">Model View Controller</a></li><li><a href="pixijs.html">PixiJS</a></li><li><a href="progressive-enhancement.html">Progressive Enhancement</a></li><li><a href="pug.html">Pug</a></li><li><a href="sed-and-awk.html">sed and awk</a></li><li><a href="semantic-html.html">Semantic HTML</a></li><li><a href="svg.html">SVG</a></li><li><a href="testing-vanilla-javascript.html">Testing Vanilla Javascript</a></li><li><a href="web-fonts-html.html">Web Fonts (HTML)</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
