<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Like Pocari Sweat, this is a hydrating drink with electrolytes, and not super sweet like Gatorade." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Hydration Drink</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Hydration Drink</h1><p>Like Pocari Sweat, this is a hydrating drink with electrolytes, and not super sweet like Gatorade.</p>
<h2>Ingredients</h2>
<ul>
<li>1L <a href="water.html">water</a></li>
<li>Juice (2-3 Tbsp) of 1 <a href="lemon.html">lemon</a>, <a href="lime.html">lime</a>, grapefruit, or other citrus</li>
<li>1/4-1/2 tsp <a href="salt.html">salt</a></li>
<li>2 tsp sweetener (e.g. <a href="honey.html">honey</a>, <a href="sugar.html">sugar</a>) (optional)</li>
</ul>
<h3>Substitutions</h3>
<ul>
<li>You can substitute a lemon-lime or citrus fizzy drink for the sweetener, if you use a ratio of around 2 to 1 for the water to the fizzy drink.</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Jar or closed-top container for mixing/storage</li>
<li>Measuring cups/spoons</li>
<li>Wooden spoon or something for mixing.</li>
<li>Refrigerator for storage, if storing</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Mix everything together using wooden spoon or by shaking the closed container.</li>
<li>Drink.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.raisinggenerationnourished.com/2014/12/diy-electrolyte-drink/" target="_blank">DIY Electrolyte Drink</a></li>
<li><a href="https://www.drinkcollectiv.com/2018/05/09/hydra-booster/" target="_blank">Hydra Booster</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="exercise.html">Exercise</a></li></ul></details></section><p class="last-modified">Last modified: 202503042027</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
