<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Ensuring the inputs of your user-facing forms (and others) work as expected for everyone is crucial." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Input Hygiene</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Input Hygiene</h1><p>A few people who always get screwed by badly validated forms:</p>
<ul>
<li>Christopher Null[1] - Since <code>null</code> is a reserved word in most languages, Christopher would often be unable to register for things because his last name was assumed to mean the <em>absence</em> of a last name.</li>
<li>Shannon O'Neill - If you're using <a href="react.html">React</a> and <a href="javascript.html">Javascript</a> (and you are a brginner programmer who isn't good at making forms 🙋‍♀️), not escaping your quotes will make it so that she won't be able to register for an account at your office. Apparently this happens with Alaska Airlines, too, so maybe not just beginner programmers.</li>
<li>S. Qiouyi Lu[2] - Last names can be two letters long, and validating for too short of a name can cause these kinds of issues. What cultures exist that we aren't aware that maybe have one character? Not to mention that a first name can be multiple space-delimited strings, and have a period in it.[3-4]</li>
<li>Any name from this article[4]</li>
<li>Bobby Tables[5]</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.wired.com/2015/11/null/" target="_blank">https://www.wired.com/2015/11/null/</a></li>
<li><a href="https://nitter.net/sqiouyilu/status/1495971335578832898" target="_blank">https://nitter.net/sqiouyilu/status/1495971335578832898</a></li>
<li><a href="https://shinesolutions.com/2018/01/08/falsehoods-programmers-believe-about-names-with-examples/" target="_blank">https://shinesolutions.com/2018/01/08/falsehoods-programmers-believe-about-names-with-examples/</a></li>
<li><a href="https://uxmovement.com/forms/why-your-form-only-needs-one-name-field/" target="_blank">https://uxmovement.com/forms/why-your-form-only-needs-one-name-field/</a></li>
<li><a href="https://xkcd.com/327/" target="_blank">https://xkcd.com/327/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
