<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="IFS is a framework to help understand our inner selves, as a series of parts." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Internal Family Systems</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Internal Family Systems</h1><p>Internal Family Systems is a way of thinking about our inner self. It is very easy to think of our self as a monolith, in one qualitative sweeping way. But IFS has us think of our self as composed of many parts, or &quot;little guys&quot; as I think of it. These little guys are created usually as deep grooves in our behavior, developed in situations that necessitate new ways of being to accommodate for novel and sometimes scary situations. These deep grooves are a kind of psychological muscle memory, similar to riding a bike.</p>
<p>When these parts or &quot;little guys&quot; take over or are running the show, this is called when you are &quot;blending&quot; with the part or parts. Learning to unblend is one of the main goals of IFS. To unblend, stand back with dispassionate curiosity, and listen to our parts instead of totally indulge or push them away.</p>
<p>The process continues, peeling back layer after layer. Eventually, the core self (or Self with a capital S) is revealed.</p>
<h2>Parts, or little guys</h2>
<p>These little guys are important. They're around for a good reason. A little guy that is focused on proving you're worth the good things you get may be born from some trauma that happened in your life and is trying to stop that from happening again. They usually show up to protect those &quot;exiled&quot; parts of ourselves, to stop those bad experiences from happening again, and to further exile those memories. They show up in a couple different ways:</p>
<ul>
<li>Managers: they are spending their time managing how we present ourselves to the world. They make sure we don't end up in situations where we will be vulnerable.</li>
<li>Firefighters: they show up when they feel you need to be protected, like my &quot;smart and correct guy&quot; that shows up when I'm feeling anxious and thinks the solution that will keep me safe is being &quot;right&quot;.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://inv.tux.pizza/watch?v=tNA5qTTxFFA" target="_blank">https://inv.tux.pizza/watch?v=tNA5qTTxFFA</a></li>
<li><a href="https://inv.tux.pizza/watch?v=3bNHkg4ZPpA&amp;listen=false" target="_blank">https://inv.tux.pizza/watch?v=3bNHkg4ZPpA&amp;listen=false</a></li>
<li><a href="https://aryatherapy.com/wp-content/uploads/2019/07/Exiles-Managers-Firefighters.pdf" target="_blank">https://aryatherapy.com/wp-content/uploads/2019/07/Exiles-Managers-Firefighters.pdf</a></li>
</ol>
<p class="last-modified">Last modified: 202407110552</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
