<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The goal of an interpreter or a compiler is to translate a source program in some high-level language into some other form." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Interpreters and Compilers</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Interpreters and Compilers</h1><p>The goal of an <a href="interpreter.html">interpreter</a> or a <a href="compiler.html">compiler</a> is to translate a source program in some high-level language into some other form.</p>
<p>A compiler transforms <strong>source code</strong> into <strong>machine language</strong> into <strong>machine actions</strong>. An interpreter interprets the <strong>source code</strong> and converts that into <strong>machine actions</strong> directly.</p>
<h2>Parts</h2>
<table>
<thead>
<tr>
<th>Word</th>
<th>Definition</th>
</tr>
</thead>
<tbody>
<tr>
<td>token</td>
<td>A chunk of source code that represents a given type of data, like <code>if</code>, <code>else</code>, <code>string</code>, <code>number</code>.</td>
</tr>
<tr>
<td>lexeme</td>
<td>The sequence of data that makes up a token. Like <code>if</code>, <code>else</code>, <code>&quot;waka waka&quot;</code>, <code>1234</code>.</td>
</tr>
<tr>
<td>parsing</td>
<td>Recognizing a phrase in a stream of tokens.</td>
</tr>
<tr>
<td>formal grammar</td>
<td>Describes which strings from an alphabet of a formal language are valid according to the language's syntax.</td>
</tr>
<tr>
<td>terminals</td>
<td>Symbols that may appear in the outputs of the production rules of a formal grammar and which cannot be changed using the rules of the grammar.</td>
</tr>
<tr>
<td>non-terminals</td>
<td>Symbols that are replaced by groups of terminal symbols according to the production rules.</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://ruslanspivak.com/lsbasi-part1/" target="_blank">Let's build a simple interpreter</a></li>
</ol>
<p class="last-modified">Last modified: 202409260426</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
