<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Resources on how to use the itertools Python package." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Itertools (Python)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Itertools (Python)</h1><p>Resources on how to use the itertools <a href="python.html">Python</a> package.</p>
<h2>itertools.product()</h2>
<p>Avoid using nested for loops to iterate through multiple different lists or numbers</p>
<pre><code class="language-python">for var1 in xrange(min1,max1,step1):
  for var2 in xrange(min2,max2,step2):
    ...
      ...
        ...
          for var6 in xrange(min6,max6,step6):
            &#x27;&#x27;&#x27;
            Do something and be icky in the process due
            to being in the middle of six nested for loops
            &#x27;&#x27;&#x27;
x1 = xrange(min1,max1,step1)
x2 = xrange(min2,max2,step2)
x3 = xrange(min3,max3,step3)
...
for v1, v2, v3, v4, v5, v6 in itertools.product(x1, x2, x3, x4, x5, x6):
  icky_thing(....)
</code></pre>
<h2>References:</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/11174745/avoiding-nested-for-loops" target="_blank">https://stackoverflow.com/questions/11174745/avoiding-nested-for-loops</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
