<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Jest is a testing framework built by Facebook for Javascript applications." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Jest</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Jest</h1><p>Jest is a <a href="javascript.html">Javascript</a> <a href="testing-programming.html">test</a> framework built by Facebook for for use with <a href="node.html">Node</a>/<a href="javascript.html">Javascript</a> applications.</p>
<h2>Getting Started</h2>
<p>Install Jest using <code>npm i --save-dev jest</code>. Add to your <code>package.json</code>:</p>
<pre><code class="language-json">{
  &quot;scripts&quot;: {
    &quot;test&quot;: &quot;jest&quot;
  }
}
</code></pre>
<p>Then create a function that we can test.</p>
<p><strong><code>example.js</code></strong></p>
<pre><code class="language-javascript">function sum(a, b) {
  return a + b;
}

module.exports = sum;
</code></pre>
<p>Next we create a test.</p>
<p><strong><code>example.test.js</code></strong></p>
<pre><code class="language-javascript">const sum = require(&#x27;./sum&#x27;);

test(&#x27;adds 1 + 2 to equal 3&#x27;, () =&gt; {
  expect(sum(1, 2)).toBe(3);
});
</code></pre>
<p>Now we can run the test in the terminal with <code>npm run test</code>.</p>
<h2>Mocking</h2>
<h3>Simple Functions</h3>
<p>You can mock simple functions like <code>fetch</code> or <code>axios</code> by using the <code>jest.fn(() =&gt; {})</code> syntax.</p>
<pre><code class="language-javascript">const someBlackBox = jest.fn(number =&gt; 42 + number);
forEach([0, 1], someBlackBox);

// The mock function has been called
expect(someBlackBox).toHaveBeenCalled();

// The mock function is called twice
expect(someBlackBox.mock.calls.length).toBe(2);

// The first argument of the first call to the function was 0
expect(someBlackBox.mock.calls[0][0]).toBe(0);

// The first argument of the second call to the function was 1
expect(someBlackBox.mock.calls[1][0]).toBe(1);

// The return value of the first call to the function was 42
expect(someBlackBox.mock.results[0].value).toBe(42);
</code></pre>
<p>You can force certain return values, as well.</p>
<pre><code class="language-javascript">const someOtherBlackBox = jest.fn();
console.log(someOtherBlackBox()); // undefined

someOtherBlackBox.mockReturnValueOnce(10).mockReturnValueOnce(&#x27;x&#x27;).mockReturnValue(true);
console.log(
  someOtherBlackBox(), // 10
  someOtherBlackBox(), // &#x27;x&#x27;
  someOtherBlackBox(), // true
  someOtherBlackBox()  // true
);

expect(someOtherBlackBox.mock.calls.length).toBe(4);
// etc. etc.
</code></pre>
<h2>Projects/Multiple Environments[4-5]</h2>
<p>If you have elements in your application that need distinct or special test environments, use <code>projects</code>. This will allow you to use whatever configuration you want on whatever tests you want. Make sure you set up the correct <code>testMatch</code> values, or you will have a bad time.</p>
<h2>References</h2>
<ol>
<li><a href="https://jestjs.io/" target="_blank">https://jestjs.io/</a></li>
<li><a href="https://jestjs.io/docs/mock-functions" target="_blank">https://jestjs.io/docs/mock-functions</a></li>
<li><a href="https://www.leighhalliday.com/mock-fetch-jest" target="_blank">https://www.leighhalliday.com/mock-fetch-jest</a></li>
<li><a href="https://stackoverflow.com/questions/41318115/testing-two-environments-with-jest" target="_blank">https://stackoverflow.com/questions/41318115/testing-two-environments-with-jest</a></li>
<li><a href="https://jestjs.io/docs/configuration#projects-arraystring--projectconfig" target="_blank">https://jestjs.io/docs/configuration#projects-arraystring--projectconfig</a></li>
<li><a href="https://scribe.rip/swlh/mock-a-library-in-jest-and-typescript-a8bec189efc3" target="_blank">https://scribe.rip/swlh/mock-a-library-in-jest-and-typescript-a8bec189efc3</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="gherkin.html">Gherkin</a></li><li><a href="snapshot-testing.html">Snapshot Testing</a></li><li><a href="test-driven-development.html">Test-Driven Development</a></li><li><a href="testing-vanilla-javascript.html">Testing Vanilla Javascript</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
