<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Job Interviews</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Job Interviews</h1><p>What are <strong>you</strong> trying to get from this position? What do <strong>they</strong> want from you in taking this position?</p>
<h2>Show Confidence</h2>
<blockquote>
<p>Hiring managers want someone who has done the same job somewhere else OR someone who can ramp up fast. They also want fresh ideas. Here’s how to deliver on all of these.</p>
<ul>
<li>Review the job posting (if you have it).</li>
<li>Write down which things you have experience with and how you’ve been successful with each.</li>
<li>Then, write down which things you don’t have experience with and what your plan is to fill those gaps, learn quickly, and start delivering.</li>
<li>Last, think of a situation where you shared and/or implemented a solution or idea. What problem did it solve? What was the impact? How did you execute?</li>
</ul>
<p>Your goal during an interview is to give the interviewer confidence. The confidence to hire you.</p>
</blockquote>
<h2>Questions to Ask</h2>
<ul>
<li>What is your favorite part about this job?</li>
<li>What are the biggest challenges facing the team right now?</li>
<li>What is a typical day for a person in this position?</li>
<li>What is the work environment and company culture like?</li>
<li>What are the goals for the company? Short term and long term</li>
<li>How is performance measured?</li>
<li>What are the company policies for learning and development?</li>
<li>Who was your best hire and why?</li>
<li>How do you approach the ongoing education of your employees?</li>
<li>Do you have a regular process in place to gather feedback from your employees? What's an example of something that you have done based on that feedback?</li>
</ul>
<h2>The Joel Test[3]</h2>
<blockquote>
<p>I've come up with my own, highly irresponsible, sloppy test to rate the quality of a software team. The great part about it is that it takes about 3 minutes. [I]t’s easy to get a quick yes or no to each question. You don’t have to figure out lines-of-code-per-day or average-bugs-per-inflection-point. Give your team 1 point for each “yes” answer. A score of 12 is perfect, 11 is tolerable, but 10 or lower and you've got serious problems. The truth is that most software organizations are running with a score of 2 or 3, and they need serious help, because companies like Microsoft run at 12 full-time.</p>
<ul>
<li>Joel Spolsky</li>
</ul>
</blockquote>
<ul>
<li>Do you use source control?</li>
<li>Can you make a build in one step?</li>
<li>Do you make daily builds?</li>
<li>Do you have a bug database?</li>
<li>Do you fix bugs before writing new code?</li>
<li>Do you have an up-to-date schedule?</li>
<li>Do you have a spec?</li>
<li>Do programmers have quiet working conditions?</li>
<li>Do you use the best tools money can buy?</li>
<li>Do you have testers?</li>
<li>Do new candidates write code during their interview?</li>
<li>Do you do hallway usability testing?</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.codecademy.com/resources/blog/software-developer-interview-questions-and-answers/" target="_blank">https://www.codecademy.com/resources/blog/software-developer-interview-questions-and-answers/</a></li>
<li><a href="https://github.com/Twipped/InterviewThis" target="_blank">https://github.com/Twipped/InterviewThis</a></li>
<li><a href="https://www.joelonsoftware.com/2000/08/09/the-joel-test-12-steps-to-better-code/" target="_blank">https://www.joelonsoftware.com/2000/08/09/the-joel-test-12-steps-to-better-code/</a></li>
<li><a href="https://www.linkedin.com/posts/josh-fullmer_if-you-have-an-interview-coming-up-read-activity-6977982774162980865-ATHm" target="_blank">https://www.linkedin.com/posts/josh-fullmer_if-you-have-an-interview-coming-up-read-activity-6977982774162980865-ATHm</a></li>
<li><a href="https://www.nowhiteboard.org/" target="_blank">https://www.nowhiteboard.org/</a></li>
<li><a href="https://www.interviewbit.com/technical-interview-questions/" target="_blank">https://www.interviewbit.com/technical-interview-questions/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
