<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Journaling is a great way to reflect on who you are, what you do, and what you want or need." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Journaling</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Journaling</h1><h2>Prompts</h2>
<p>Having prompts can help guide you in solving problems or just getting the pen to paper. This are some of the prompts that resonated with me that I've gotten from various sources[1].</p>
<ul>
<li>What if I did the opposite for 48 hours?</li>
<li>What do I spend a silly amount of money on? What is the second best? Can I do this myself?</li>
<li>What would I do/have/be if I had $10 million? What’s my real TMI?</li>
<li>What are the worst things that could happen? Could I get back here?</li>
<li>If I could only work 2 hours per week on my business, what would I do?</li>
<li>Do I need to make it back the way I lost it?</li>
<li>What if I could only subtract to solve problems?</li>
<li>What might I put in place to allow me to go off the grid for 4 to 8 weeks, with no phone or email?</li>
<li>Am I hunting antelope or field mice?</li>
<li>Could it be that everything is fine and complete as is?</li>
<li>What would this look like if it were easy?</li>
<li>How can I throw money at this problem? How can I “waste” money to improve the quality of my life?</li>
<li>No hurry, no pause.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://tim.blog/2016/12/07/testing-the-impossible-17-questions-that-changed-my-life/" target="_blank">https://tim.blog/2016/12/07/testing-the-impossible-17-questions-that-changed-my-life/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="packing-list.html">Packing List</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
