<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="A kimchi pancake is quick and simple, and tastes great over rice." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Kimchi Pancake</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Kimchi Pancake</h1><p>A kimchi pancake is quick and simple, and tastes great over rice. This recipe is from <a href="https://www.maangchi.com/recipe/kimchijeon" target="_blank">Maangchi</a> plus some extra information and additions.</p>
<h2>Ingredients</h2>
<ul>
<li>230g/8oz <a href="kimchi.html">kimchi</a>, chopped</li>
<li>29g/1oz/2T kimchi brine</li>
<li>3 scallions or <a href="green-onions.html">green onions</a>, chopped</li>
<li>3g/1t <a href="sugar.html">sugar</a></li>
<li>74g/½ cup all-purpose <a href="flour.html">flour</a></li>
<li>120g/½ cup <a href="water.html">water</a></li>
<li>4T <a href="olive-oil.html">olive oil</a> (I almost always eyeball this)</li>
<li>Cooked <a href="rice.html">rice</a> to place cooked pancake on top</li>
</ul>
<h3>Substitutions</h3>
<ul>
<li>For the kimchi brine, I have substituted some vegetarian oyster sauce or vinegar with some extra water.</li>
<li>I have substituted the flour and the water with a full cup of ripe <a href="sourdough.html">sourdough starter</a>.</li>
<li>You can use the <a href="rice.html">rice starch water</a>) from rinsing rice before cooking, instead of the water.</li>
<li>I usually use olive oil.</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Medium mixing bowl</li>
<li>12&quot; non-stick or cast-iron skillet</li>
<li>Thin spatula</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Heat the skillet to medium (just below the smoke point of olive oil, if that is what you are using).</li>
<li>Mix the kimchi, brine, scallions, sugar, flour, and water together fully. Let rest for a few minutes..</li>
<li>Once the skillet is hot, add your mixture and spread it around until it is evenly distributed. Drizzle 2T of oil around the edges of the pancake, gently lifting the sides of the pancake and tilting the skillet to ensure it coats the underside.</li>
<li>After a few minutes, the underside of the pancake should be getting crispy. After gaining a bit of color, we are going to flip the pancake. This may be difficult or impossible, so I usually quarter it and then clip the quarters.</li>
<li>Once flipped, drizzle the remaining oil around, ensuring that the underside of all the pieces are coated.</li>
<li>After a few minutes, the underside will be PRETTY crispy. I don't mind getting a serious amount of color, so you do you. When it is to your liking, serve it over a bed of rice.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.maangchi.com/recipe/kimchijeon" target="_blank">https://www.maangchi.com/recipe/kimchijeon</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="rice.html">Rice</a></li></ul></details></section><p class="last-modified">Last modified: 202503042028</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
