<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Sharpening your knives at home is probably not the cheapest, but it is a fun meditative activity, and very satisfying." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Knife Sharpening</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Knife Sharpening</h1><h2>Fundamentals</h2>
<ol>
<li>Abrasive (whetstone)</li>
<li>Sharpening angle</li>
<li>The burr</li>
<li>Consistency</li>
</ol>
<h3>Abrasive</h3>
<p>Whetstones come in three categories:</p>
<ol>
<li>800- Coarse (used for dull knives or repairs)</li>
<li>800-2000 Medium/Medium Fine (sharpening starts here)</li>
<li>2000+ Fine (polishing)</li>
</ol>
<h3>Sharpening Angle</h3>
<p>Most knives have two even angles that need to be sharpened. Some more uncommon knives have one flat edge and one sharp edge (Japanese knives usually). The angle is usually between 15-25 degrees. The shallower the angle, the sharper the knife, but the more prone to chipping/damage.</p>
<h3>Burr</h3>
<p>The burr is a raised edge that occurs when sharpening one side of a knife. For a sharp knife, we want to remove the burr completely by sharpening one side of the knife until it is sharp and a burr forms, repeating on the other side, and repeating back and forth until the burr is minimized.</p>
<h3>Consistency</h3>
<p>You must be consistent in how you are holding you knife when sharpening on both sides. If you are inconsistent, the burrs will not be regular and work you have done is likely to be undone.</p>
<h2>Technique</h2>
<h3>Sharpening</h3>
<p>Prepare the whetstone by letting it soak in water anywhere from 30 minutes to 8 hours.</p>
<p>When preparing the sharpen, take the whetstone from the soak and place it on a sturdy surface.</p>
<p>Hold the knife in your right hand: 3 back fingers on the handle, thumb on the heel/bottom of the blade, index on the back. This will help lock your wrist and maintain a good sharpening angle. With your left hand, place three fingers flat on the blade with the edge facing you.</p>
<p>To determine the proper angle to hold the knife while sharpening, place it flush against the stone, rotating it until the gap between the blade's edge and the whetstone is minimized.</p>
<p>Use pressure on the trailing strokes (away from you), release pressure on the leading strokes (towards you).</p>
<p>Begin making passes. Splash some water on your whetstone before beginning. Make trailing and leading strokes, starting at the base of your blade slowly moving towards the tip, with your non-knife hand moving with you to maintain pressure between the knife and the stone. When reaching the tip, raise your elbow on your knife hand to ensure you are getting full coverage on the tip itself. Check for a burr developing on the opposite side after each pass. When an even burr has developed, switch sides.</p>
<p>On the opposite side, maintain the same grip styles but with switched hands. Repeat this whole process.</p>
<h3>Polishing</h3>
<p>Repeat the previous process but on the finer grit stone.</p>
<h3>Stropping</h3>
<p>Using the same grip you had before, go from tip to base, with your non-knife hand holding a slight amount of pressure around the tip and ensuring your are raising your arm slightly to make good contact with the tip.</p>
<p>Repeat 10 times per side, moving down to 8 per side, 6, 4, and then finishing with 2 on each side. If needed, do one pass per side until desired polish is reached.</p>
<h2>Testing For Sharpening Angle Consistency</h2>
<p>Run a magic marker or sharpie along the sides next to the edge before sharpening, polishing, or stropping. When making passes, look to see that you are removing the marks you made and they are being removed at a consistent width starting from the edge of the knife going inward.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=TkzG4giI8To" target="_blank">https://www.youtube.com/watch?v=TkzG4giI8To</a></li>
<li><a href="https://www.gearpatrol.com/home/a540109/how-to-sharpen-kitchen-knives/" target="_blank">https://www.gearpatrol.com/home/a540109/how-to-sharpen-kitchen-knives/</a></li>
<li><a href="https://yewtu.be/watch?v=YsfbStV7pqE&amp;listen=false" target="_blank">Honing is not sharpening</a></li>
</ol>
<p class="last-modified">Last modified: 202503042015</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
