<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Knitting is creating stuff out of fiber, like yarn." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Knitting</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Knitting</h1><p>Knitting is creating stuff out of fiber, like yarn. You can also <a href="reuse.html">use</a> it for sewing, if you need it.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=p_R1UDsNOMk" target="_blank">How to knit for beginners (video)</a></li>
<li><a href="https://nimble-needles.com/tutorials/how-to-knit-for-beginners/" target="_blank">How to knit for beginners (webpage)</a></li>
<li><a href="https://www.simple-knitting.com/single-cast-on.html" target="_blank">Single cast-on knitting method</a></li>
</ol>
<p class="last-modified">Last modified: 202503042016</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
