<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - knowledge</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">knowledge</h1><blockquote>
<p>The knowledge of a carpenter is in his hands. The apprentice must work with his own to discover it.</p>
</blockquote>
<p><a href="https://simonsarris.substack.com/p/long-distance-thinking?s=r" target="_blank">https://simonsarris.substack.com/p/long-distance-thinking?s=r</a></p>
<p>Seems relevant to this too <a href="http://akkartik.name/post/division-of-labor" target="_blank">http://akkartik.name/post/division-of-labor</a></p>
<p>Seemingly contradictory to the ideas of Orwell in his essay <a href="http://www.public-library.uk/ebooks/72/30.pdf" target="_blank">Politics and the English Language</a>:</p>
<blockquote>
<p>(i) Never use a metaphor, simile or other figure of speech which you are used to seeing in print.
(ii) Never use a long word where a short one will do.
(iii) If it is possible to cut a word out, always cut it out.
(iv) Never use the passive where you can use the active.
(v) Never use a foreign phrase, a scientific word or a jargon word if you can think of an everyday English
equivalent.
(vi) Break any of these rules sooner than say anything barbarous.</p>
</blockquote>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
