<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Bread flavored soda. You can reuse your stale bread and some sourdough starter, too!" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Kvass</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Kvass</h1><p>Kvass is like a bread <a href="kombucha.html">kombucha</a> and is super refreshing. The darker you get the bread and the more molasses is used instead of sugar, the more beer-like your kvass will end up. I have subbed sugar for molasses and it still works out, it's a pretty foolproof recipe in terms of getting something tasty. This recipe can be scaled up or down as necessary.</p>
<h2>Ingredients</h2>
<ul>
<li>7 liters <a href="water.html">water</a></li>
<li>200g <a href="bread.html">bread</a> (darker the better, like rye)</li>
<li>460g <a href="molasses.html">molasses</a> (blackstrap if you can get it)</li>
<li>30g <a href="honey.html">honey</a></li>
<li>10g <a href="yeast.html">yeast</a> or 100g <a href="sourdough-starter.html">sourdough starter</a></li>
<li>600g <a href="sugar.html">sugar</a></li>
<li>Some <a href="raisins.html">raisins</a>, <a href="ginger.html">ginger</a> or other flavorings for the second fermentation (opt.)</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Oven, range and pan, or grill that can be outside (outside part is optional but highly recommended)</li>
<li>Range</li>
<li>Large pot</li>
<li>Stirring spoon</li>
<li>Fermentation vessel</li>
<li>Airlock (or some other mechanism for allowing carbon dioxide to escape for first fermentation, I just burp the vessel every once in a while)</li>
<li>Colander/strainer</li>
<li>Secondary fermentation vessels (opt., preferably plastic but I've used glass <a href="kombucha.html">kombucha</a> bottles)</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Toast the bread until it is <em>really</em> dark, like burnt dark. I toasted my bread twice at the highest setting and it was very burnt around the sides. The darker you go, the more dark in color and flavor your kvass will be.</li>
<li>Put around a quarter of your water on heat and dissolve honey and sugar. You don't want <em>all</em> your water hot, just this little bit.</li>
<li>Add the rest of your water and molasses to the mixture and stir it in.</li>
<li>Place the mixture into your primary fermentation vessel and add the toasted bread and yeast/sourdough starter.</li>
<li>Let it sit out of direct sunlight. Fermentation should start beginning after around 24 hours.</li>
<li>Let it ferment for around four days, give or take depending on taste and how sweet you want it.</li>
<li>Once to your liking, strain the bread from your kvass. Do this slowly, as you may also have sediment at the bottom and we want to keep that out, as well.</li>
<li>At this point, you can drink it.</li>
<li>If you want to do a secondary fermentation for carbonation and/or flavoring, bottle it in your secondary fermentation vessels with your added flavorings. If doing this, be sure to take care that you are burping your vessels often if using glass, or monitor your plastic containers for excess fermentation. When you're happy with the carbonation, refrigerate them.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.pantsdownapronson.com/bread-kvass-recipe/" target="_blank">Traditional Homemade Bread Kvass - PantsDownApronsOn</a></li>
</ol>
<p class="last-modified">Last modified: 202409012329</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
