<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Laundry Detergent</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Laundry Detergent</h1><h2>Liquid</h2>
<p>This recipe is from Apartment Therapy[1]. One load of laundry uses 1/4 cup of detergent.</p>
<h3>Ingredients</h3>
<ul>
<li>1 cup <strong>castile liquid <a href="soap.html">soap</a></strong></li>
<li>1 cup <strong><a href="baking-soda.html">baking soda</a></strong></li>
<li>2 cups <strong>warm <a href="water.html">water</a></strong></li>
<li>1/3 cup <strong><a href="salt.html">salt</a></strong></li>
<li>Enough <strong><a href="water.html">water</a></strong> to fill the rest of the container (you'll want some more water)</li>
</ul>
<h3>Materials</h3>
<ul>
<li>Bowl or bucket for mixing that can hold at least one gallon and some kind of marking at the one gallon mark</li>
<li>Utensil for mixing</li>
<li>Jar or bottle for storage</li>
</ul>
<h3>Instructions</h3>
<ol>
<li>Mix the <strong>warm water</strong> with the <strong>salt</strong> and <strong>baking soda</strong> until fully combined.</li>
<li>Add the <strong>liquid soap</strong> and fill the remainder of the container (up to one gallon) with water.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.apartmenttherapy.com/make-your-own-dr-bronners-laun-138151" target="_blank">https://www.apartmenttherapy.com/make-your-own-dr-bronners-laun-138151</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
