<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="A bunch of random links to eventually go through." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Links</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Links</h1><p><a href="https://www.npr.org/sections/goatsandsoda/2019/03/13/685533353/a-playful-way-to-teach-kids-to-control-their-anger" target="_blank">https://www.npr.org/sections/goatsandsoda/2019/03/13/685533353/a-playful-way-to-teach-kids-to-control-their-anger</a></p>
<p><a href="https://idiomdrottning.org/scheme-if-you-already-know-how-to-program-other-stuff" target="_blank">https://idiomdrottning.org/scheme-if-you-already-know-how-to-program-other-stuff</a></p>
<p><a href="https://dev.to/codemouse92/ten-principles-of-critique-5f4p" target="_blank">https://dev.to/codemouse92/ten-principles-of-critique-5f4p</a></p>
<p><a href="https://learnxinyminutes.com/" target="_blank">https://learnxinyminutes.com/</a></p>
<p><a href="https://www.simplethread.com/20-things-ive-learned-in-my-20-years-as-a-software-engineer/" target="_blank">https://www.simplethread.com/20-things-ive-learned-in-my-20-years-as-a-software-engineer/</a></p>
<p><a href="https://www.youtube.com/watch?v=5kj5ApnhPAE&amp;t=2913s" target="_blank">https://www.youtube.com/watch?v=5kj5ApnhPAE&amp;t=2913s</a></p>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
