<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Lockpicking, or locksport, is essentially another skill toy." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Lockpicking</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Lockpicking</h1><h2>Combination Dial Locks</h2>
<p>This isn't <em>really</em> lock picking in the strict sense, but it's useful nonetheless. This method is for those super common Master combo dial locks[3]. I've not had a lot of success yet, but I'm not sure if it's a me problem.</p>
<ol>
<li>Rotate it a bunch to the right to reset the lock.</li>
<li>
First Number<ol>
<li>Start at zero.</li>
<li>Apply just enough pressure to the shackle to where the lock can still rotate but you can feel some resistance; you might hear some grinding or clicking inside.</li>
<li>Rotate the dial clockwise repeatedly, noticing the highest point of resistance as you turn. There should be a <em>single point</em> that has more pressure than the others. If not, try applying more pressure.</li>
<li>Once you determine the spot with the most resistance, round that range up, add 5, and write the number down. For instance, if you have the most resistance between 5 and 6, write down 11.</li>
</ol>
</li>
<li>
Second Number<ol>
<li>Continue from the first number.</li>
<li>Apply a bit more pressure to the shackle of the lock and rotate the dial anti-clockwise. There should be maximal pressure that still allows rotation.</li>
<li>Eventually the dial should stop and no longer rotate. This is not a number of the combination, but keep this limit point in mind for a later step.</li>
<li>Apply the same amount of pressure to the shackle as you did for finding the first number.</li>
<li>Rotate the dial clockwise slowly, feeling for that resistance, grinding, clicking. When you have rotated just over one complete turn (e.g. your limit point was 20, so you rotated and reached 15), rotate the dial anti-clockwise and go back to your limit point and repeat.</li>
<li>Once you determine the spot with the most resistance, round that range up and write the number down. For instance, if you have the most resistance between 29 and 30, write down 30.</li>
</ol>
</li>
<li>
Third Number<ol>
<li><em>Shortcut is to enter the first and second number, and then just rotate it clockwise slowly and pull up on the shackle over and over until it comes up.</em></li>
<li>Rotate the dial clockwise multiple times to reset the lock. Set the dial to zero.</li>
<li>Apply enough pressure on the shackle so that the dial <em>can't</em> fully rotate.</li>
<li>
Rotate the dial clockwise until it stops or snags. We now have two possibilities:<ul>
<li>If the dial is between <strong>two</strong> numbers, ignore it. (e.g. the dial doesn't go below 32 or above 33)</li>
<li>If the dial is between <strong>three</strong> numbers and crosses over a single number, write that number down. (e.g. the dial doesn't go below 12 and doesn't go above 14 but crosses 13, we write down 13)</li>
</ul>
</li>
<li>Release a slight amount of pressure until you can rotate the dial again. Repeat the above step until you come back to your starting point of zero.</li>
<li>Place all your numbers you wrote down in this step side by side. Most of them will be multiples of one another except for a single outlier (e.g. 5, 15, 25, <strong>32</strong>, 35). This is your third number.</li>
</ol>
</li>
</ol>
<h2>Cleaning</h2>
<p>TODO</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=mK8TjuLDoMg" target="_blank">The &quot;Jiggle Test&quot;</a> (<a href="https://www.youtube.com/watch?v=Qlb5QC8LEK0" target="_blank">and a second one</a>)</li>
<li><a href="https://www.reddit.com/r/lockpicking/comments/oq1sjh/new_to_our_sub_start_here/" target="_blank">Lockpicking subreddit newbie post</a></li>
<li><a href="https://www.youtube.com/watch?v=w4wkCcsWs4c" target="_blank">How to get combination of dial lock</a></li>
<li><a href="https://www.youtube.com/watch?v=9O-CJEwcQnY" target="_blank">My Approach to Lock Picking Tension - YouTube</a></li>
<li><a href="https://nostarch.com/locksport" target="_blank">Locksport | No Starch Press</a></li>
<li><a href="https://www.superslickstuff.com/product/houdini-lock-lube/" target="_blank">Houdini Lock Lube | Protexall Products, Inc.</a></li>
</ol>
<p class="last-modified">Last modified: 202503042016</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
