<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Lua is a minimalist interpreted programming language." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Lua</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Lua</h1><p>Lua is a minimalist, dynamically typed, interpreted language. Like <a href="python.html">Python</a> but way more portable and easy to inspect.</p>
<h2>Basics</h2>
<p><strong><code>fib.lua</code></strong></p>
<pre><code class="language-lua">function fib (n)
    if n &lt;= 1 then
        return 1
    else
        return fib(n - 1) + fib(n - 2)
    end
end

print(&quot;Enter a number:&quot;)
num = io.read(&quot;*number&quot;)
print(fib(num))
</code></pre>
<pre><code class="language-sh">$ lua fib.lua
Enter a number:
5 # User input
8 # Lua&#x27;s output
</code></pre>
<h3>Types</h3>
<p>There are 8 types in Lua:</p>
<ul>
<li>nil (the value of every uninitialized variable)</li>
<li>boolean</li>
<li>number</li>
<li>string</li>
<li>table (associative arrays, where the index can be any value of the language except <code>nil</code>)</li>
<li>function (<a href="https://en.wikipedia.org/wiki/First-class_citizen" target="_blank">first class citizen</a>)</li>
<li>userdata (allows arbitrary C data to be stored in Lua variables)</li>
<li>thread</li>
</ul>
<h2>Tables</h2>
<p>Tables are very versatile, but in their way, a bit annoying. Tables are arrays, stacks, sets, bags, enums, dictionaries, and kind of everything all in one. Anything can be a key or value, except for <code>nil</code>.</p>
<p><strong>Tables are natively <code>1</code> indexed.</strong></p>
<pre><code class="language-lua">-- Array / Stack
arr = { 1, 2, 3 }
-- Push / Insert
table.insert(arr, 2000) -- arr = { 1, 2, 3, 2000 }
table.insert(arr, #arr + 1, 10) -- arr = { 1, 2, 3, 2000, 10 }
table.insert(arr, 1, 5) -- arr = { 5, 1, 2, 3, 2000, 10 }
-- Pop / Remove
val = table.remove(arr) -- arr = { 5, 1, 2, 3, 2000 }; val = 10
val = table.remove(arr, 1) -- arr = { 1, 2, 3, 2000 }; val = 5

-- Set/Bag (Note the value at each index does not matter, as long as it is not `nil`)
set = { 1, 2, 3 }
-- Add
set[4] = true -- set = { 1, 2, 3, 4 }
set[4] = true -- Same result, is idempotent
-- Remove
set[1] = nil -- set = { 2, 3, 4 }
set[1] = nil -- Same result

-- Enums
enum = {
    &quot;todo&quot;,
    &quot;doing&quot;,
    &quot;done&quot;
}
task_progress = enum[1] -- &quot;todo&quot;

-- Dictionaries
dic = {
    TODO: 1,
    DOING: 2,
    DONE: 3
}
task_progress = dic.TODO -- &quot;todo&quot;
-- Anything can be a key or value
another_table = { 1, 2, 3 }
dic = {
    &quot;key&quot;: &quot;value&quot;,
    1: 2,
    another_table: &quot;yeah&quot;
}
print(dic[another_table]) -- &quot;yeah&quot;

</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://www.lua.org/pil/" target="_blank">Programming In Lua</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
