<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="MacOS is the operating system for Apple computers." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - MacOS</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">MacOS</h1><h2>Spotlight</h2>
<h3><code>mds</code> or <code>mds_stores</code> using tons of CPU</h3>
<p>To stop it, run <code>sudo mdutil -a -i off</code>. To restart it again, use <code>sudo mdutil -a -i on</code>.</p>
<h3>Reindex</h3>
<p>If you have problems where spotlight isn't finding applications or files for some reason, you can initiate the indexing manually via <code>sudo mdutil -E /</code>.</p>
<h3>High CPU Usage</h3>
<ol>
<li>Restart the computer.</li>
<li>Kill spotlight process in activity monitor: <code>corespotlightd</code>. It should restart with lower CPU usage.</li>
<li>If that didn't work, kill spotlight processes in the terminal: <code>killall corespotlightd</code>.</li>
<li>Restart again.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://osxdaily.com/2012/02/02/reindex-spotlight-from-the-command-line/" target="_blank">Reindexing for Spotlight</a></li>
<li><a href="https://apple.stackexchange.com/questions/144474/mds-and-mds-stores-constantly-consuming-cpu" target="_blank">mds and mds_stores diagnosing</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="applescript.html">Applescript</a></li><li><a href="assembly-unix.html">Assembly (Unix)</a></li><li><a href="certificatespem-files.html">Certificates/PEM Files</a></li><li><a href="lichen-cms-tutorial-php-version.html">Lichen CMS Tutorial (PHP Version)</a></li><li><a href="postgres.html">Postgres</a></li><li><a href="sass.html">Sass</a></li><li><a href="sox.html">SoX</a></li><li><a href="sublime-text.html">Sublime Text</a></li><li><a href="testing-accsesibility-for-the-web.html">Testing Accsesibility for the Web</a></li><li><a href="vim.html">Vim</a></li></ul></details></section><p class="last-modified">Last modified: 202412312142</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
