<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Magnolia blossoms are edible and delicions, tasting of floral ginger." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Magnolia</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Magnolia</h1><p>Magnolia buds and petals can be used raw, <a href="pickles.html">pickled</a>, or dried. I've used them to make an <a href="magnolia-pickles.html">all-vinegar quick pickle</a>, tea, and raw in soups.</p>
<h2>Flavors and varieties by color</h2>
<p>As always, if you are <a href="foraging.html">foraging</a> this plant, ensure you are 100% about your identification. This list is from Handmade Apothecary's page[1]:</p>
<ul>
<li>Dark pink: bitter, gingery-chilli</li>
<li>Pink/White: the gingery, cardamommy flavours</li>
<li>White: more lemony, subtle, sometimes floral</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.handmadeapothecary.co.uk/blog/2019/3/16/magnolia-a-foraged-spice-cupboard?rq=magnolias" target="_blank">Different types of edible magnolia</a></li>
<li><a href="https://www.wildwalks-southwest.co.uk/wild-food-magnolia-petals/" target="_blank">Ways to use magnolia</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="magnolia-quick-pickles.html">Magnolia Quick Pickles</a></li></ul></details></section><p class="last-modified">Last modified: 202503042035</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
