<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Pickled magnolia blossoms and buds taste like pickled ginger." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Magnolia Quick Pickles</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Magnolia Quick Pickles</h1><p><a href="magnolia.html">Magnolia</a> is everywhere in the pacific northwest and when it blooms it is absolutely abundant. Use these blossoms and buds to preserve some of the goodness.</p>
<h2>Ingredients</h2>
<p>This recipe scales easily, so don't be afraid to go bigger.</p>
<ul>
<li>9-10 <a href="magnolia.html">magnolia</a> buds or blossoms (~80-100g)</li>
<li>150g <a href="vinegar.html">vinegar</a> (rice, white, apple cider, etc.)</li>
<li>50g <a href="sugar.html">sugar</a></li>
<li>Pinch of <a href="salt.html">salt</a></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Pot for boiling</li>
<li>Mason-style jar for storing, cleaned and sanitized</li>
<li>Refrigerator, if wanting long-term storage</li>
</ul>
<h2>Preparing the food</h2>
<ol>
<li>If using whole buds, discard the outer green sepal. If only using petals, discard everything but the petals (outer green sepal, inner ovary, etc.). Wash and clean the food before preparation.</li>
<li>If using petals, Stack as many magnolia petals as you can and slice into strips lengthwise.</li>
</ol>
<h2>Instructions</h2>
<p>Follow the <a href="quick-pickles.html">quick pickle</a> recipe.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.kaveyeats.com/how-to-pickle-magnolia-blossoms" target="_blank">https://www.kaveyeats.com/how-to-pickle-magnolia-blossoms</a></li>
<li><a href="https://www.wildwalks-southwest.co.uk/wild-food-magnolia-petals/" target="_blank">https://www.wildwalks-southwest.co.uk/wild-food-magnolia-petals/</a></li>
</ol>
<p class="last-modified">Last modified: 202409012329</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
