<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This is the basics of making a rule in ESLint." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Make a Rule (ESLint)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Make a Rule (ESLint)</h1><h2>Make a New Rule</h2>
<p>A super basic <a href="eslint.html">ESLint</a> rule file[1] in <a href="typescript.html">Typescript</a> looks like this:</p>
<pre><code class="language-tsx">import type { Rule } from &quot;eslint&quot;;

const rule = {
    meta: {
        name: &quot;new-rule&quot;,
        type: &quot;problem&quot;,
        docs: {
            description: &quot;Description of the rule in the rules index.&quot;,
            recommended: false,
        },
        messages: {
            newRule:
                &quot;This is what will show in ESLint when the rule is violated.&quot;,
        },
    },

    create(context) {
        return {
            JSXElement: (node: Rule.Node) =&gt; {
                context.report({
                    node,
                    messageId: &quot;newRule&quot;,
                });
            },
        };
    },
};

export default rule;
</code></pre>
<p>This will trigger an error at every JSXElement. ESLint traverses the AST[4,5] of the <a href="javascript.html">Javascript</a>/<a href="typescript.html">Typescript</a> document and runs one of the functions found in the <code>return</code> of the <code>create</code> property when that type is found. Think of them like you would <a href="selectors-css.html">CSS selectors</a>, where you can even use a property name like &quot;JSXElement &gt; JSXElement&quot; to only trigger when there is a JSXElement that is a direct descendant of another JSXElement.</p>
<h2>References</h2>
<ol>
<li><a href="https://eslint.org/docs/latest/extend/custom-rules" target="_blank">Custom Rules - ESLint - Pluggable JavaScript Linter</a></li>
<li><a href="https://github.com/DarkPurple141/eslint-codemod-utils" target="_blank">GitHub - DarkPurple141/eslint-codemod-utils: A collection of AST Utils to mimic jscodeshift esque precision to codemods in eslint</a></li>
<li><a href="https://betterprogramming.pub/creating-custom-eslint-rules-cdc579694608" target="_blank">Creating Custom Eslint Rules. How to use Eslint like a pro | by Babatunde Koiki | Better Programming</a></li>
<li><a href="https://astexplorer.net/" target="_blank">AST explorer</a></li>
<li><a href="https://ts-ast-viewer.com/#" target="_blank">TypeScript AST Viewer</a></li>
<li><a href="jscodeshift.html">JSCodeShift</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
