<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="These are "games" to isolate certain techniques and make it fun." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Martial Arts Games</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Martial Arts Games</h1><ul>
<li><a href="https://inv.tux.pizza/watch?v=mWO68FayDRk&amp;listen=false&amp;t=426" target="_blank">Chi push? (no real name given)</a></li>
<li><a href="https://inv.tux.pizza/watch?v=Vi5-r1oivek" target="_blank">Aiki training</a></li>
<li><a href="https://inv.tux.pizza/watch?v=zmIQ3zepDRA" target="_blank">Kuzushi training</a></li>
<li><a href="https://www.youtube.com/watch?v=2kI3OdfqQBM" target="_blank">Push hands (from tai chi)</a></li>
</ul>
<p class="last-modified">Last modified: 202409041436</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
