<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="You should have as few as possible." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Meetings</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Meetings</h1><h2>How to have less meetings</h2>
<h3>Preemptive communication</h3>
<p>Communicate to stakeholders early and often. This should include:</p>
<ul>
<li>what you are working on (and why if necessary),</li>
<li>what you have done,</li>
<li>what is blocking and if you need help.</li>
</ul>
<p>This is what most meetings are anyway.</p>
<h3>Documentation</h3>
<p>Though it can be, and often is, helpful for your own career, you should assume documentation is for others to read. This will help you write it in a way that doesn't have assumed context. There are different types of documentation:</p>
<ul>
<li>Logging your work, progress, and/or status</li>
<li>Scribing what happened</li>
<li>Instructions</li>
</ul>
<p>Logs are part of preemptive communication. If you keep good logs, you can send those living documents to your stakeholders and they will know at a glance how things are going. THis is similar to how <a href="the-carmack-plan.html">Carmack plan files</a> were developed.</p>
<p>Scribing codifies when and why certain decisions were made. This is useful for covering your ass, but also extremely useful for explaining why decisions were made in the future. Having this record of who agreed on what and why is invaluable for people who question why things are done a given why. Especially with things like developing software, where decisions are sometimes made based on bugs or random conversations, documenting <em>why</em> is essential for those considerations making it into future versions.</p>
<p>Instructions do many things. They can help you better understand a process, clarify missing steps, document missing but necessary information, find unforeseen issues, save time trying to remember how to do it in the future, help your colleagues if you are away, etc. There is a reason why humans have been writing stuff down forever.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.tremendous.com/blog/the-perks-of-a-high-documentation-low-meeting-work-culture/" target="_blank">A high documentation and low meeting culture</a></li>
</ol>
<p class="last-modified">Last modified: 202405271534</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
