<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Mending clothes is a great way to extend the life of your clothes. And you can make it artful, too!" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Mending</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Mending</h1><p>Mending clothes is a great way to extend the life of your clothes. I prefer making them visible[1] and very clashing with the primary clothing piece, as it looks cool.</p>
<h2>Simple</h2>
<p>For a basic hole in something low impact, like a shirt, the side of a sock, a purse, etc., you can do something like this.</p>
<h3>Materials</h3>
<ul>
<li>Heavy duty thread, synthetic/acrylic yarn, or some other thicker thread. (You want to make sure this thread is somewhat close to the size of the fabric's current threads. Otherwise, you may make more holes or add too much strain to the fabric.)</li>
<li>Scissors</li>
<li>Needle(s) (Sashiko needles are best, as they can work for most clothing and thread thicknesses.)</li>
<li>Scrap of fabric or patch to cover the hole (optional, usually use this if the hole is larger).</li>
</ul>
<h3>Techniques</h3>
<p>For tears or rips, you can essentially &quot;suture&quot; it up with a <a href="sewing.html">ladder stitch</a>, starting at one end and alternating on each side of the tear until the tear is closed.</p>
<p>For smaller holes, I &quot;weave&quot; a patch out of thread, starting with multiple rows, and following with over/under for each column.</p>
<p>For bigger holes, I follow the sashiko method[2] with a patch.</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Visible_mending" target="_blank">Visible mending - Wikipedia</a></li>
<li><a href="https://en.wikipedia.org/wiki/Sashiko" target="_blank">Sashiko - Wikipedia</a></li>
<li><a href="reuse.html">Reuse</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="clothing.html">Clothing</a></li><li><a href="sewing.html">Sewing</a></li></ul></details></section><p class="last-modified">Last modified: 202503042017</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
