<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Small bits of CSS that do a lot." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Minimalist CSS</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Minimalist CSS</h1><h2>Boilerplate</h2>
<p>This <a href="css.html">CSS</a> code makes really beautiful text-centric websites that are responsive and look nice with only like 54 bytes or something? I use this as a basis all the time for making nice looking pages.</p>
<pre><code class="language-css">main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}
</code></pre>
<p>A tiny bit more space yields a nice result, too[3]:</p>
<pre><code class="language-css">html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
</code></pre>
<h2>Modern CSS Reset/Normalize</h2>
<p>This is from Josh W. Comeau[5] and is a great way to make CSS do what you expect.</p>
<pre><code class="language-css">/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after { box-sizing: border-box; }

/* 2. Remove default margin */
* { margin: 0; }

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg { display: block; max-width: 100%; }

/* 6. Inherit fonts for form controls */
input, button, textarea, select { font: inherit; }

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

/* 8. Improve line wrapping */
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

/* 9. Create a root stacking context */
#root, #__next { isolation: isolate; }
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://jrl.ninja/etc/1/" target="_blank">https://jrl.ninja/etc/1/</a></li>
<li><a href="classless-css.html">Classless CSS</a></li>
<li><a href="https://www.swyx.io/css-100-bytes" target="_blank">https://www.swyx.io/css-100-bytes</a></li>
<li><a href="https://github.com/ajusa/lit" target="_blank">https://github.com/ajusa/lit</a></li>
<li><a href="https://www.joshwcomeau.com/css/custom-css-reset/" target="_blank">https://www.joshwcomeau.com/css/custom-css-reset/</a></li>
</ol>
<p class="last-modified">Last modified: 202410231631</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
