<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Muesli is a great simple breakfast food." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Muesli</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Muesli</h1><p>Muesli is traditionally &quot;a cold oatmeal dish based on rolled oats and ingredients such as grains, nuts, seeds and fresh or dried fruits&quot;[1]. My own version of this is about as stripped down, quick, and simple as you can get, but the real recipe is &quot;add things in whatever quantities you want and then pour some kind of alt milk on it&quot;.</p>
<h2>Ingredients</h2>
<p>This is for one bowl. Could be scaled, but I like my even portions per bowl. Not enough time saved by batching anyway.</p>
<ul>
<li>2/3 cup <a href="oats.html">rolled oats</a></li>
<li>1-2 tablespoons <a href="raisins.html">raisins</a></li>
<li>1 teaspoon <a href="brown-sugar.html">brown sugar</a></li>
<li><a href="alt-milk.html">milk</a>, enough to almost cover the evenly distributed dry ingredients</li>
</ul>
<h3>Substitutions</h3>
<p>This is a very DIY do-whatever-you-want recipe. Similar to granola, just try adding different nuts or subbing out sweeteners and see what happens! You can't lose here.</p>
<h2>Cookware</h2>
<ul>
<li>Bowl</li>
<li>Spoon</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Mix dry oats, raisins, and brown sugar into a bowl.</li>
<li>Pour alt milk over dry ingredients until satisfied.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Muesli" target="_blank">https://en.wikipedia.org/wiki/Muesli</a></li>
</ol>
<p class="last-modified">Last modified: 202409012329</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
