<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Object Oriented CSS</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Object Oriented CSS</h1><p>Another <a href="css.html">CSS</a> framework</p>
<h2>Main Principles</h2>
<ol>
<li>Separate structure and skin - Structure and position declarations should be in the base object (along with default visual declarations if necessary), while any visual declarations should go into extender classes.</li>
<li>Separate container and content - Break the dependency between the container module and the content objects in contains</li>
</ol>
<h2>More Best Practices</h2>
<ol>
<li>Create a component library - Make components (legos) with which you can build your site. These components could include headers, lists, media components, etc. Build these before building your site.</li>
<li>Extend objects by applying multiple classes to an element - Don't make one class do everything. Utilities, modifiers, and base classes can combine to make a much easier to maintain style.</li>
<li>Minimize selectors - Low specificity means less cascade problems and runaway specificity races.</li>
<li>Use consistent semantic styles</li>
<li>Design modules to be transparent on the inside</li>
<li>Be flexible - Height and width should be able to adapt themselves and should not rely on constant babysitting by the designer/developer.</li>
<li>Learn to love grids</li>
</ol>
<h2>9 Pitfalls</h2>
<ol>
<li>Avoid location dependent styles - You want your code to be modular. If it only works if it is in a certain context or position, it is not modular and prone to breakage.</li>
<li>Avoid specifying what tag a class applies - A 'heading' should do something predictable from page to page.</li>
<li>Avoid IDs - They add unnecessary specificity errors and can only be used once, so are needlessly specific.</li>
<li>Avoid drop shadows and rounded corners over irregular backgrounds - This may cause undesired results</li>
<li>Avoid height alignment - Height should be defined by the content of the element. Instead of this, ensure you are separating the container from the content.</li>
<li>Don't use images as text - Screen readers and users on older software often rely on text only and this will make pages needlessly difficult to use.</li>
<li>Avoid redundancy - If two components look too similar to be used on the same page, they are too similar to use on the same site. Choose one!</li>
<li>Avoid premature optimization - If you are unsure what is the best choice, do the naive solution first, and then refactor afterwards.</li>
<li><del>Don't sprite every image together, unless you have very few pages</del> (seems like dated advice at this point)</li>
</ol>
<p>Grids control <strong>width</strong>, content controls <strong>height</strong></p>
<h2>References</h2>
<ol>
<li><a href="https://www.slideshare.net/stubbornella/object-oriented-css/37-Avoid_redundancy" target="_blank">https://www.slideshare.net/stubbornella/object-oriented-css/37-Avoid_redundancy</a></li>
<li><a href="https://www.benmarshall.me/oocss-object-oriented-css/" target="_blank">https://www.benmarshall.me/oocss-object-oriented-css/</a></li>
<li><a href="https://www.slideshare.net/stubbornella/our-best-practices-are-killing-us" target="_blank">https://www.slideshare.net/stubbornella/our-best-practices-are-killing-us</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
