<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="When I travel, this is what I need to check." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Packing List</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Packing List</h1><h2>DON'T BRING</h2>
<ul>
<li>Keys (you won't need them)</li>
</ul>
<h3>Carry on</h3>
<ul>
<li><a href="shaving.html">Safety razor</a> (TSA took mine, even without blades)</li>
<li>Any liquid-ish material over 2oz (assume they won't let you take it on unless checked)</li>
<li><a href="peanut-butter.html">Peanut butter</a> (TSA have always taken it)</li>
</ul>
<h2>Travel Necessities</h2>
<ul>
<li>Printed copies of boarding passes, insurance documents, itineraries, visas, and other travel documentation (cover your ass!)</li>
<li>N95 Masks</li>
<li>Passport/ID</li>
<li>Phone and charger</li>
<li>Portable battery</li>
<li>Power plug adapters and converters (220?)</li>
</ul>
<h2>Personal Necessities</h2>
<ul>
<li>Wallet with international credit card and some bills</li>
<li>Medication</li>
<li>
Bathroom Bag<ul>
<li>Toothbrush</li>
<li>Toothpaste (less than 2oz tube)/<a href="baking-soda.html">Baking soda</a></li>
<li>Retainers</li>
<li>Deodorant</li>
<li>Travel towel</li>
</ul>
</li>
<li><a href="water.html">Water</a> bottle</li>
<li><a href="journaling.html">Journal(s)</a> and pens</li>
<li>Earplugs</li>
<li>Buff/Kerchief/Sarong/<a href="towel.html">Towel</a>[2]</li>
<li>6 feet of <a href="paracord.html">paracord</a> rope</li>
</ul>
<h3><a href="clothing.html">Clothing</a></h3>
<p>Bring 1/3 to 1/2 less than you think you should bring. You can always wash your clothing in the sink or tub with shampoo and soap, and let it dry in the sun or the hotel room with the fan on. Most hotels also offer laundry service. If you do plan on hand washing, bring clothes that dry super fast, like synthetic or wicking materials, and consider bringing a little detergent.</p>
<ul>
<li>Glasses</li>
<li>Sunglasses</li>
<li>Hat/Beanie</li>
<li>Coat/Sweatshirt</li>
<li>Shirts</li>
<li>Gloves</li>
<li>Shorts/Pants</li>
<li>Underwear</li>
<li>Socks</li>
<li>Shoes/Sandals</li>
<li>Sleepwear</li>
</ul>
<h2>Work</h2>
<ul>
<li>Work computer and charger</li>
<li>Personal computer and charger</li>
<li>Headphones</li>
</ul>
<h2>Fun</h2>
<ul>
<li>Paper and pen/pencil</li>
<li>Deck of <a href="playing-cards.html">playing cards</a></li>
<li>Books/Kindle</li>
<li>Portable music maker</li>
<li>Headphones</li>
<li>Swim trunks and towel</li>
<li>Fidget toys (<a href="komboloi.html">komboloi</a>, rubiks cube, etc.)</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.ricksteves.com/travel-tips/packing-light/ricks-packing-list" target="_blank">Rick Steves' Packing List</a></li>
<li><a href="https://store.ricksteves.com/shop/p/carry-on-backpack" target="_blank">Rick Steves' carry on backpack</a></li>
<li><a href="https://expertvagabond.com/shemagh-keffiyeh/" target="_blank">Shemagh (Keffiyeh) Scarf: Why I Travel With One</a></li>
</ol>
<p class="last-modified">Last modified: 202503042054</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
