<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Paracord is a synthetic cord containing smaller synthetic cord inside." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Paracord</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Paracord</h1><p>Paracord is a synthetic <a href="cordage.html">cord</a> containing smaller synthetic cord inside. This synthetic cord can be removed and used as well, though it is extremely thin. I usually carry around some on my keychain, as it's useful for random scenarios and for practice tying <a href="knots.html">knots</a>.</p>
<h2>Sizes</h2>
<table>
<thead>
<tr>
<th>Kind</th>
<th>Width</th>
<th>Inner Strands</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>550</td>
<td>4mm</td>
<td>7</td>
<td>Most common, standard</td>
</tr>
<tr>
<td>275</td>
<td>2.4mm</td>
<td>5</td>
<td></td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://www.boredparacord.com/" target="_blank">Bored Paracord</a></li>
<li><a href="https://yewtu.be/channel/UCprDa_LLciUHLoxtoJzPsbg" target="_blank">Weavers of Eternity - Paracord projects</a></li>
<li><a href="https://www.paracordplanet.com/cord-comparison-chart/" target="_blank">Cord comparison chart</a></li>
<li><a href="https://en.wikipedia.org/wiki/Parachute_cord" target="_blank">Parachute cord - Wikipedia</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="begleri.html">Begleri</a></li><li><a href="packing-list.html">Packing List</a></li><li><a href="sandals.html">Sandals</a></li></ul></details></section><p class="last-modified">Last modified: 202503042017</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
