<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Parsers are a way of converting input data from a string into meaningful tokens and data." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Parsers</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Parsers</h1><h2>Activities</h2>
<p>Parse something simple (like an INI file, <code>Key=Value</code>) with a finite state machine</p>
<h2>References</h2>
<ol>
<li><a href="https://lukaszwrobel.pl/blog/math-parser-part-1-introduction/" target="_blank">https://lukaszwrobel.pl/blog/math-parser-part-1-introduction/</a></li>
<li><a href="https://www.scaler.com/topics/infix-to-postfix-conversion/" target="_blank">https://www.scaler.com/topics/infix-to-postfix-conversion/</a></li>
<li><a href="https://www.youtube.com/watch?v=dDtZLm7HIJs" target="_blank">https://www.youtube.com/watch?v=dDtZLm7HIJs</a></li>
<li><a href="https://www.youtube.com/watch?v=bxpc9Pp5pZM" target="_blank">https://www.youtube.com/watch?v=bxpc9Pp5pZM</a></li>
<li><a href="https://www.youtube.com/watch?v=r6vNthpQtSI" target="_blank">https://www.youtube.com/watch?v=r6vNthpQtSI</a></li>
<li><a href="https://www.youtube.com/watch?v=tH5AOX9929g" target="_blank">https://www.youtube.com/watch?v=tH5AOX9929g</a></li>
<li><a href="https://www.youtube.com/watch?v=ggxEzR2VRNU" target="_blank">https://www.youtube.com/watch?v=ggxEzR2VRNU</a></li>
<li><a href="https://medium.com/dailyjs/compiler-in-javascript-using-antlr-9ec53fd2780f" target="_blank">https://medium.com/dailyjs/compiler-in-javascript-using-antlr-9ec53fd2780f</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
