<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This fragrant peppercorn can be found in Southern California, Hawaii, and Florida." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Peruvian Peppercorn</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Peruvian Peppercorn</h1><p>In America, this tree can be found in Southern California, Hawaii, and Florida. They are quite abundant in Los Angeles and the bay area of San Francisco, so it's quite an easy one to <a href="foraging.html">forage</a>.</p>
<h3><a href="https://en.wikipedia.org/wiki/Schinus_molle" target="_blank">Identification</a></h3>
<p><em>Schinus molle</em> is a quick growing evergreen tree that grows up to 15 meters (50 feet) tall and wide. It is the largest of all <em><a href="https://en.wikipedia.org/wiki/Schinus" target="_blank">Schinus</a></em> species and potentially the longest lived. The upper branches of the tree tend to droop. The tree's <a href="https://en.wikipedia.org/wiki/Pinnate" target="_blank">pinnately compound</a> leaves measure 8–25 cm long × 4–9 cm wide and are made up of 19-41 <a href="https://en.wikipedia.org/wiki/Leaves#Arrangement_on_the_stem" target="_blank">alternate</a> leaflets. Male and female flowers occur on separate plants (<a href="https://en.wikipedia.org/wiki/Dioecious" target="_blank">dioecious</a>). Flowers are small, white and borne profusely in panicles at the ends of the drooping branches. The <a href="https://en.wikipedia.org/wiki/Fruit" target="_blank">fruit</a> are 5–7 mm diameter round <a href="https://en.wikipedia.org/wiki/Drupe" target="_blank">drupes</a> with woody seeds that turn from green to red, pink or purplish, carried in dense clusters of hundreds of berries that can be present year round. The rough grayish bark is twisted and drips sap. The bark, leaves and berries are aromatic when crushed.</p>
<p>See the Wikipedia page for pictures of the distinctive bark and berries.</p>
<h3>Food</h3>
<p>The ripened peppercorns can be used as a fruity spicy addition to dishes, particulary for seafood, salads, curries, cheese, chocolate, or popcorn. &quot;spicy and peppery, but have a very fragrant, sweet-tart and rosy tone.&quot;</p>
<h3>Preparation</h3>
<ul>
<li>Pick the berries from the branches once they are ripe and bright pink, trying to remove as much branch as possible, but it's not a biggie if some are left.</li>
<li>Set them on a single layer sheet or plate and let them dry out over a few days. This should result a dried fruit outer layer around the seed inside.</li>
<li>Store these dried peppercorns away from direct sunlight and heat to maintain freshness.</li>
</ul>
<h3>Use</h3>
<p>Use these dried peppercorns with mortar and pestle or crushed with the flat side of a knife to release their oils. They can also be roasted prior to use to release more aromatics. They can also be mixed with regular peppercorns, but can easily be overwhelmed, and the thin skin can clog the pepper grinder. Interestingly, they can also be used whole, as they are milder than other types of peppercorns.</p>
<p>The potency will start to decline six months or so after preparation.</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Schinus_molle" target="_blank">https://en.wikipedia.org/wiki/Schinus_molle</a></li>
<li><a href="https://www.gardenbetty.com/peruvian-pink-peppercorns/" target="_blank">https://www.gardenbetty.com/peruvian-pink-peppercorns/</a></li>
</ol>
<p class="last-modified">Last modified: 202503042036</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
