<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - php-mail</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">php-mail</h1><p><a href="https://code.tutsplus.com/tutorials/introduction-to-the-php-configuration-file-phpini--cms-34452" target="_blank">https://code.tutsplus.com/tutorials/introduction-to-the-php-configuration-file-phpini--cms-34452</a></p>
<p><a href="https://mailtrap.io/blog/php-email-sending/" target="_blank">https://mailtrap.io/blog/php-email-sending/</a></p>
<p><a href="https://www.hostinger.com/tutorials/send-emails-using-php-mail" target="_blank">https://www.hostinger.com/tutorials/send-emails-using-php-mail</a></p>
<p><a href="https://stackoverflow.com/questions/24644436/php-mail-function-doesnt-complete-sending-of-e-mail" target="_blank">https://stackoverflow.com/questions/24644436/php-mail-function-doesnt-complete-sending-of-e-mail</a></p>
<p><a href="https://stackoverflow.com/questions/49206701/how-to-send-an-email-using-sendmail-command" target="_blank">https://stackoverflow.com/questions/49206701/how-to-send-an-email-using-sendmail-command</a></p>
<p>PHPMailer: <a href="https://mailtrap.io/blog/phpmailer/" target="_blank">https://mailtrap.io/blog/phpmailer/</a></p>
<p>We need it to send messages to Josh. <em>Maybe</em> to the sender as a copy, that would be smart for confirmation purposes. How can we confirm the email is getting to Josh at all? Unblock the sender and ensure it doesn't go to spam in his email client maybe.</p>
<p>(Maybe) How to:</p>
<ul>
<li>Get domain</li>
<li>Create domain email</li>
<li>Ensure a flavor of Linux is the server base, so it has sendmail</li>
<li>Install Lichen</li>
<li>Ensure Lichen is serving properly</li>
<li>Install <a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a> (using composer? no? why?)</li>
<li>Add a test on the main page to send a test email using a fake email as TO and the real email as FROM</li>
</ul>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
