<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Politics arise when a group bigger than a single person needs to make a decision of what to do or how to handle a specific situation or type of situations." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Politics</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Politics</h1><blockquote>
<p>Politics arise when a group bigger than a single person needs to make a decision of what to do or how to handle a specific situation or type of situations.</p>
<p>Politics are about:</p>
<ul>
<li>what decisions do we need to make together, vs what is left on the backburner for future meetings, or left for everyone to decide for themselves?</li>
<li>what do we actually decide to do?</li>
<li>how do we make it so that those decisions are followed?</li>
<li>and, just as importantly, how do we answer those previous questions themselves?</li>
</ul>
<p>These questions are unavoidable for any group. This is politics.[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://idiomdrottning.org/intro-to-politics" target="_blank">https://idiomdrottning.org/intro-to-politics</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
