<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="A preferment is important for good flavor without a sourdough starter." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Preferment for bread</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Preferment for bread</h1><p><a href="sourdough.html">Sourdough</a> starters are fun, but can be daunting. If you want to easily upgrade your loaves, one of the easiest things you can do is a poolish or biga. This helps quite a bit with flavor and gluten development.</p>
<blockquote>
<p>Firm/dry pre-ferment:</p>
<ul>
<li>Biga - made from scratch as a pre-ferment, no salt, as little as .5% yeast</li>
<li>Pate Fermentee - extra dough saved for leavening, contains salt</li>
</ul>
<p>Wet pre-ferment:</p>
<ul>
<li>Poolish - equal weights water and flour with .25% yeast, usually requires more yeast at final mix</li>
<li>Sponge - faster than a poolish, loads all or most of the yeast in the pre-ferment[1]</li>
</ul>
</blockquote>
<p>For a poolish for a &quot;standard&quot; 900g loaf of <a href="bread.html">bread</a>, I have done around 100g <a href="water.html">water</a> and <a href="flour.html">flour</a> with 1/8 or 1/16 tsp <a href="yeast.html">yeast</a>. Though I've also read[2] that using half the flour in the recipe and equal amount water, with a pinch of yeast has a similar effect. Let it sit for a while (see below). Then add it to the rest of the ingredients when it's time to combine.</p>
<h2>How much yeast relates to wait time</h2>
<p>The percentages here[1] are baker's percentages, meaning percentage of the total flour weight used (e.g. 100g of flour would use .6% for 3 hours, which would be .006 * 100 = .6g).</p>
<blockquote>
<p>3 hours: 0.6%
7-8 hours: 0.28%
12 - 15 hours: .04%</p>
</blockquote>
<p>Obviously these are <em>very</em> small weights, so you could also disperse larger amounts in water, mix and then separate. For instance, if you need .6g, measure 6 grams into 100g of water, mix, and then save 10g of the water, leaving you with around .6g of yeast.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.thefreshloaf.com/comment/20549#comment-20549" target="_blank">https://www.thefreshloaf.com/comment/20549#comment-20549</a></li>
<li><a href="https://www.thefreshloaf.com/comment/299678#comment-299678" target="_blank">Poolish recipe from Fresh Loaf</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="bread.html">Bread</a></li><li><a href="bread-for-bread-machines.html">Bread for Bread Machines</a></li></ul></details></section><p class="last-modified">Last modified: 202503011639</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
