<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Node has a global `process` variable, which provides access to useful methods and properties." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Process (Node)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Process (Node)</h1><h2>Why not to use <code>process.exit(1)</code></h2>
<p><code>process.exit(1)</code> will quit <em>without</em> gracefully ending exiting processes. To allow a graceful exit, use <code>process.exitCode(1)</code>. This will allow ongoing processes to finish and <em>then</em> send exit code <code>1</code> back to the executing shell.</p>
<pre><code class="language-js">// Bad

const { exit } = require(&#x27;node:process&#x27;);

// This is an example of what *not* to do:
if (someConditionNotMet()) {
    printUsageToStdout();
    exit(1);
}

// Good

const process = require(&#x27;node:process&#x27;);

// How to properly set the exit code while letting
// the process exit gracefully.
if (someConditionNotMet()) {
    printUsageToStdout();
    process.exitCode = 1;
}
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://nodejs.org/api/process.html#processexitcode" target="_blank">Exit Code &gt; Process | Node.js v21.2.0 Documentation</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
