<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This is how to utilize piping with Python programs in Bash." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Python with Bash</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Python with Bash</h1><p>This is how to utilize piping with <a href="python.html">Python</a> programs in <a href="bash.html">Bash</a>.</p>
<h2>Example</h2>
<p>See this simple <code>echo.py</code>:</p>
<pre><code class="language-python">import sys

if __name__ == &quot;__main__&quot;:
    for line in sys.stdin:
        sys.stderr.write(&quot;DEBUG: got line: &quot; + line)
        sys.stdout.write(line)
</code></pre>
<p>running:</p>
<pre><code class="language-bash">$ ls | python echo.py 2&gt;debug_output.txt | sort
</code></pre>
<p>output:</p>
<pre><code>echo.py
test.py
test.sh
</code></pre>
<p>debug_output.txt content:</p>
<pre><code>DEBUG: got line: echo.py
DEBUG: got line: test.py
DEBUG: got line: test.sh
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/4429966/how-to-make-a-python-script-pipeable-in-bash" target="_blank">https://stackoverflow.com/questions/4429966/how-to-make-a-python-script-pipeable-in-bash</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
