<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="What is our responsibility as workers?" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Responsibility</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Responsibility</h1><h2>Work Is Not Family</h2>
<blockquote>
<p>We were proud of working there, and we loved being part of a big and impactful product. But no, this wasn’t a family gathering and nowhere in our contracts were we asked to do a song and dance when the company name is mentioned. Many a contract would have stayed unsigned if that had been the case.</p>
</blockquote>
<h2>On Being Indispensable</h2>
<p>Being in charge and having responsibility can come with a high cost when you aren't in charge of your time.</p>
<blockquote>
<p>The best advice I got starting out was, &quot;be indispensable.&quot; The best advice I got four years later was, &quot;don't be indispensable.&quot;[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://news.ycombinator.com/item?id=30671345" target="_blank">https://news.ycombinator.com/item?id=30671345</a></li>
<li><a href="https://christianheilmann.com/2022/10/06/unless-youre-in-the-mafia-your-company-isnt-your-family/" target="_blank">https://christianheilmann.com/2022/10/06/unless-youre-in-the-mafia-your-company-isnt-your-family/</a></li>
<li><a href="https://developer-advocacy.com/" target="_blank">https://developer-advocacy.com/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
