<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Rice is a simple starch you can (and I do) add to almost any meal." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Rice</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Rice</h1><p>Rice is a simple starch you can (and I do) add to almost any meal.</p>
<h2>Preparation</h2>
<p>I am of the mind that rice cookers are your best bet for making consistent delicious rice. Since I eat rice nearly every single day for lunch, I went for an expensive Zojirushi rice cooker, but have also used a pressure cooker, an Instant Pot, or one of those <a href="https://2.bp.blogspot.com/-GpaYxVxzyWg/VbZuFZsWCnI/AAAAAAAAFZk/313kmVe8e_8/s1600/ELBA%2BTraditional%2BRice%2BCooker%2BERC-1066T.jpg" target="_blank">dime-a-dozen cheapo rice cookers</a>. Of course, you can always make it on the stovetop.</p>
<p>Before cooking your rice, you will want to rinse off all of the starch. This will generally make for a better cooking and eating experience, as the rice won't stick to the pot as much, and you won't end up with mushy too-sticky rice.</p>
<h2>Rice Starch Water</h2>
<p>I have heard that rice starch water is good for indigestion, for your hair, and for your skin, but I just like it because it tastes nice and <a href="reuse.html">wastes less</a> water, since it's what you get from rinsing your rice like you would anyway.</p>
<p>For this you will need your rice, <a href="water.html">water</a>, a mixing bowl, a fine colander, and another container to store the rice starch water in.</p>
<ol>
<li>Get your dry rice in a mixing bowl and cover it with water, plus a bit extra.</li>
<li>Scoop up the rice and water mixture and roll it/scrub it between your hands, trying to loosen and remove the starch from the outside of the rice. Continue this process repeatedly until you feel you have done so with all of the rice. You should now have a starchy liquid mingling with the rice.</li>
<li>Pour the starch water out of the mixing bowl, through the colander, and into your container. You should end up with a container full of starchy water and a colander filled with rice. Allow the rice to drain off as much liquid as possible.</li>
<li>Optional: you can do a quick rinse of the rice here by putting the rice back in the mixing bowl and adding a small amount of water, swirling it around, and repeating the last step.</li>
<li>Store this rice starch water in the fridge for around four days.</li>
</ol>
<p>Let it sit in your fridge until the next morning, and you should see a definite separation of highly starchy liquid at the bottom with a lightly starchy liquid on top.</p>
<p>The lightly starchy liquid can be poured off and drank, with tastes along the lines of an iced buckwheat tea. The highly starchy liquid can be used as a soup thickener or as the liquid in something like a <a href="kimchi-pancake.html">kimchi pancake</a> or anywhere else you want a bit more starch.</p>
<h2>References</h2>
<ul>
<li><a href="https://www.beyondkimchee.com/how-to-make-rice-starch-water/" target="_blank">https://www.beyondkimchee.com/how-to-make-rice-starch-water/</a></li>
<li><a href="https://recipes.timesofindia.com/us/articles/kitchen-hacks/9-reasons-that-will-make-you-use-rice-water-daily/photostory/64449940.cms" target="_blank">https://recipes.timesofindia.com/us/articles/kitchen-hacks/9-reasons-that-will-make-you-use-rice-water-daily/photostory/64449940.cms</a></li>
</ul>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="alt-milk.html">Alt Milk</a></li><li><a href="fermented-brown-rice.html">Fermented Brown Rice</a></li><li><a href="kimchi-pancake.html">Kimchi Pancake</a></li><li><a href="thai-curry.html">Thai Curry</a></li></ul></details></section><p class="last-modified">Last modified: 202503042038</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
