<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Rowing is a low impact cardio workout." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Rowing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Rowing</h1><h2>Beginning</h2>
<ul>
<li>Focus on form[1]. It's weird and unintuitive until you figure it out. Push don't pull.</li>
<li>Don't overdo it. Do beginner workouts from people like Dark Horse Rowing[2] and be a beginner.</li>
<li>Slower stroke rates are harder in a way, but they let you focus on form.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=zQ82RYIFLN8" target="_blank">https://www.youtube.com/watch?v=zQ82RYIFLN8</a></li>
<li><a href="https://www.youtube.com/@DarkHorseRowing/videos" target="_blank">https://www.youtube.com/@DarkHorseRowing/videos</a></li>
<li><a href="https://thepeteplan.wordpress.com/beginner-training/" target="_blank">The Pete Plan</a> (or <a href="_peteplan.md" target="_blank">a Markdown file, ~38kb</a>)</li>
</ol>
<p class="last-modified">Last modified: 202503042044</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
