<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Rust is a compiled low-level language. Aiming for similar applications as C, but safer." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Rust</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Rust</h1><p>Rust prioritizes precision. Lots of types which can be annoying, but makes for a totally clean and predictable code path, returns, behavior, etc.</p>
<h2>Raw notes</h2>
<!-- 20240205 -->
<p><code>cargo</code> is the package manager, I think. But you can also run <code>cargo run</code> to compile and run your thing so :shrug:.</p>
<h3>Example</h3>
<pre><code class="language-rust">use actix_web::{get, web, App, HttpServer, Responder};

#[get(&quot;/&quot;)]
async fn index() -&gt; impl Responder {
    &quot;Hello, world!&quot;
}

#[get(&quot;/{name}&quot;)]
async fn hello(name: web::Path&lt;String&gt;) -&gt; impl Responder {
    format!(&quot;Hello {}!&quot;, &amp;name)
}

#[actix_web::main]
async fn main() -&gt; std::io::Result&lt;()&gt; {
    HttpServer::new(|| App::new().service(index).service(hello))
        .bind((&quot;127.0.0.1&quot;, 8080))?
        .run()
        .await
}
</code></pre>
<p><code>impl Responder</code> is the &quot;trait&quot; or &quot;interface&quot; that is being returned. Not a type necessarily. Can be replaced with <code>String</code>, which is true, but isn't <em>accurate</em>.</p>
<p><code>String</code> is not <code>str</code>.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.rust-lang.org/learn/get-started" target="_blank">Rust - Get Started</a></li>
<li><a href="https://code.visualstudio.com/docs/languages/rust" target="_blank">Rust with Visual Studio Code</a></li>
<li><a href="https://fasterthanli.me/articles/the-curse-of-strong-typing" target="_blank">https://fasterthanli.me/articles/the-curse-of-strong-typing</a></li>
<li><a href="https://github.com/rust-lang/rustlings" target="_blank">https://github.com/rust-lang/rustlings</a></li>
</ol>
<p class="last-modified">Last modified: 202402151557</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
