<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Search engines are getting worse from SEO and spam, but there are still good and fun ones out there." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Search Engines</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Search Engines</h1><p>Search engines are getting worse[1] from SEO and spam, but there are still good and fun ones out there.</p>
<h2>Exploring</h2>
<ol>
<li><a href="https://wiby.me/" target="_blank">https://wiby.me/</a></li>
<li><a href="https://search.marginalia.nu/" target="_blank">https://search.marginalia.nu/</a></li>
<li><a href="https://theuselessweb.com/" target="_blank">https://theuselessweb.com/</a></li>
<li>
</li>
</ol>
<h2>Searching</h2>
<ol>
<li><a href="https://frogfind.com/" target="_blank">https://frogfind.com/</a> - Uses DuckDuckGo to search and runs every site you go to through an HTML-only proxy. Great for basic computers on the internet.</li>
<li><a href="https://kagi.com/" target="_blank">https://kagi.com/</a></li>
<li><a href="https://www.alexandria.org/" target="_blank">https://www.alexandria.org/</a></li>
<li><a href="https://gigablast.com/" target="_blank">https://gigablast.com/</a></li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://contrachrome.com/" target="_blank">https://contrachrome.com/</a></li>
<li><a href="https://m15o.ichi.city/site/search-engine.html" target="_blank">https://m15o.ichi.city/site/search-engine.html</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
