<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Sewing is a simple, cheap, and useful skill to have for creating and fixing clothes and textiles." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Sewing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Sewing</h1><p>Sewing is a simple, cheap, and useful skill to have for creating and fixing <a href="clothing.html">clothes</a> and textiles. I use it quite frequently when doing <a href="mending.html">visible mending</a>, hemming frayed shirt or jean bottoms, patching clothes, or adjusting clothes to better fit me.</p>
<h2>Getting started</h2>
<p>You can get started by getting a basic travel sewing kit from any drug store, pharmacy, or department store. Or make your own with an Altoids tin and a trip to your local quilting shop[6] (I'd just ask them, everyone who works at a place like that rules). You should have at minimum:</p>
<ul>
<li>Needles</li>
<li>Pins</li>
<li>Thread</li>
<li>Thimble</li>
<li>Scissors</li>
</ul>
<p>If you are looking to do any projects on tougher fabric or with really big thread (e.g. yarn), I recommend getting sashiko[5] needles as they have larger eyes and are made for mending stuff like denim.</p>
<h2>Stitches and how I use them</h2>
<ul>
<li>Straight/running stitch[4] - adding a patch.</li>
<li>Backstitch[5] - same as straight stitch, but much stronger and uses more thread.</li>
<li>Whipstitch[1] - smaller hems, stopping fraying on patches.</li>
<li>Blanket stitch[2] - hemming edges, joining multiple pieces of fabric together at the edge.</li>
<li>Ladder stitch[3] - closing seams in fabric, fixing rips/tears.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Whip_stitch" target="_blank">Whipstitch</a></li>
<li><a href="https://www.youtube-nocookie.com/embed/S9zegUYdPmg" target="_blank">Blanket stitch</a></li>
<li><a href="https://en.wikipedia.org/wiki/Ladder_stitch" target="_blank">Ladder stitch</a></li>
<li><a href="https://en.wikipedia.org/wiki/Straight_stitch" target="_blank">Straight/running stitch</a></li>
<li><a href="https://en.wikipedia.org/wiki/Sashiko" target="_blank">Sashiko</a></li>
<li><a href="https://www.instructables.com/altiods-sewing-kit/" target="_blank">Altoids tin sewing kit</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="clothing.html">Clothing</a></li><li><a href="mending.html">Mending</a></li></ul></details></section><p class="last-modified">Last modified: 202503042018</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
