<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The basics of getting started with shaving using a safety razor." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Shaving</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Shaving</h1><p>Using a safety razor is satisfying, effective, and cheap.</p>
<p><em>NOTE: the TSA will confiscate your safety razor in a carry on bag, even if it has no blades in it. Just don't bring them with you when you travel unless you check it.</em></p>
<p>What you will need to shave with a safety razor:</p>
<ul>
<li>Safety razor</li>
<li>Razor blades</li>
<li>Shaving soap or cream (either from the tube or from an aerosol can)</li>
<li>Cup or bowl, if using shaving cream from the tube</li>
<li>Shaving brush</li>
</ul>
<p>Steps:</p>
<ol>
<li>Lather your soap or cream in your cup or bowl[1]</li>
<li>Wet where you want to shave and use your brush to apply the lather</li>
<li>Place razor blade into your safety razor</li>
<li>Shave</li>
<li>Repeat steps 3-5 until complete</li>
</ol>
<h2>Safety Razor</h2>
<p>The world of safety razors is another one full of expensive options. But you can also get quality vintage razors for the same price as inexpensive sorta cheap modern razors. So check vintage stores and eBay for &quot;a brass ball end Gillette Tech or a fat handle Gillette Tech&quot;[4] or other older Gillettes. I got a 1950's Gillette brass ball end for $20 shipped and it is way better than the $30 new Viking one I got. The big difference is weight and build quality. There is a user on ebay <code>sealover811</code>[5] who sells refurbed vintage razors and they all seem very well done; it's where I got mine and I've been very happy with it.</p>
<p>For budget razors, a lot of people even recommend getting one from Dollar Tree[4]. No experience myself, but knowing this, you probably can't go wrong getting whatever you can find, especially to get started.</p>
<h2>Making Lather[1]</h2>
<p>This doesn't apply if you are using an aerosol cream.</p>
<ol>
<li>Soak the brush in warm water for around 10 minutes.</li>
<li>Squeeze out all excess water from the brush. You don't have to get it <em>all</em> out, but get as much as you can.</li>
<li>If using cream, add a healthy dollop of cream to the bottom of your cup or bowl. Otherwise, use the container your soap resides in and add a little bit of water to it before starting.</li>
<li>Use your brush to gently press into the cream or soap and stir to agitate and create lather. This is a similar process to beating egg whites in the sense that you are trying to create a fluffy and airy consistency from what is otherwise fairly wet. Use more vigor than you think, but you don't want to be ballistic, either.</li>
<li>Eventually, you should have something that is not wet, more like the consistency of whip cream.</li>
</ol>
<h2>Shaving Technique</h2>
<p>When shaving, you don't need <em>pressure</em>. You just need the right angle and the hair will come off.</p>
<blockquote>
<p>just the weight of the razor press against your skin &amp; lightly drag it down/across/against the grain[3]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=_4zESTQWDuw" target="_blank">How to lather shaving soap</a>, and <a href="https://yewtu.be/watch?v=SUzlE5Qmuw8" target="_blank">this one too</a></li>
<li><a href="https://old.reddit.com/r/wicked_edge/wiki" target="_blank">Reddit Wiki on Wet Shaving</a></li>
<li><a href="http://kira.solar/safety-razors.html" target="_blank">Kira's guide to safety razors</a></li>
<li><a href="https://www.reddit.com/r/wicked_edge/comments/lddsa5/best_budget_safety_razor/" target="_blank">Best budget safety razor?</a></li>
<li><a href="https://www.ebay.com/str/sealover811" target="_blank">sealover811: ebay seller for used safety razors</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="packing-list.html">Packing List</a></li></ul></details></section><p class="last-modified">Last modified: 202503042019</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
