<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Software should be simple and predictable." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Simple and Predictable</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Simple and Predictable</h1><blockquote>
<p>There are two ways of constructing a software design: one way is to make it so simple that there are obviously no deficiencies, and the other way is to make it so complicated that there are no obvious deficiencies. The first method is far more difficult. – C.A.R. Hoare[4]</p>
</blockquote>
<blockquote>
<p>To make a product feel simple, every time a person takes a particular action, they should see the same result. That predictability means the user always understands their place in a product.</p>
<p>There’s an added bonus here: <strong>not only is predictability key to simplicity, predictability is also a substitute for control.</strong>[1]</p>
</blockquote>
<p>A tool should strive for</p>
<ul>
<li>orthogonality - single entry and exit point with no side effects</li>
<li>predictability - the user can intuit what will happen when it is used</li>
<li>simplicity - the user can hold the majority of use cases in their head, referring to a manual for the edge cases if necessary</li>
</ul>
<h2>Beware of Hype</h2>
<blockquote>
<p>there is no silver bullet[.] any single tool, no matter how good it is, must be evaluated from the engineering point of view of pros and cons. Everything has a cost, and implies compromises. It's a matter of ROI. Which is hard to evaluate without experience.[5]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://amivora.substack.com/p/to-make-something-simple-make-it?s=r" target="_blank">https://amivora.substack.com/p/to-make-something-simple-make-it?s=r</a></li>
<li><a href="http://stanleylieber.com/2022/04/03/0/" target="_blank">http://stanleylieber.com/2022/04/03/0/</a></li>
<li><a href="https://en.wikipedia.org/wiki/The_Art_of_Unix_Programming" target="_blank">https://en.wikipedia.org/wiki/The_Art_of_Unix_Programming</a></li>
<li><a href="https://scribe.rip/m/global-identity?redirectUrl=https%3A%2F%2Fblog.francoisfournier.eu%2Ftwo-ways-of-constructing-a-software-design-82f58c6d45aa" target="_blank">https://scribe.rip/m/global-identity?redirectUrl=https%3A%2F%2Fblog.francoisfournier.eu%2Ftwo-ways-of-constructing-a-software-design-82f58c6d45aa</a></li>
<li><a href="https://www.bitecode.dev/p/hype-cycles" target="_blank">XML is the future</a></li>
</ol>
<p class="last-modified">Last modified: 202401050416</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
