<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Snapshot testing is a way of testing the state of the UI through DOM structure." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Snapshot Testing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Snapshot Testing</h1><p>Snapshot testing is a way of testing the state of the UI through DOM structure. It seems very fragile, as a change in the DOM could not affect the user experience of the app but nonetheless throw an error. Which would lead to a lot of false positives, as you aren't actually testing what matters.</p>
<p>Common tooling used for this is <a href="jest.html">Jest</a> and <a href="enzyme.html">Enzyme</a>.</p>
<blockquote>
<p>You can think about a snapshot test as a unit test with an auto generated assumption about your component.</p>
<p>The advantages are that you can easily test complex structures without writing much code, that you get good warnings when something changed and that you can easily update this test.</p>
<p>The disadvantages are that from just reading the test it is not always clear what is tested and what the expected behaviour is, that it could happen that the created snapshot is so complex that you overlook wrong assumptions that then end up as expected result and that it is so easy to update snapshots that wrong stuff can sneak in.</p>
<p>So when using snapshot test its really important to make them more granular, so not always testing the whole component, but have some smaller test that test parts of it and to have good code review culture, to spot bugs in the snapshot.[2]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://jestjs.io/docs/snapshot-testing" target="_blank">Snapshot Testing with Jest</a></li>
<li><a href="https://stackoverflow.com/a/43775523" target="_blank">When to use snapshot testing</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
