<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Sorting in Python has some quirks." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Sorting (Python)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Sorting (Python)</h1><p>There are two main built-in sorting functions in <a href="python.html">Python</a>.</p>
<ol>
<li><code>sorted(iterable, key: function = None, reverse=False) -&gt; iterable</code></li>
<li><code>[iterable].sort(key: function = None, reverse=False) -&gt; None</code></li>
</ol>
<p><code>sorted</code> will return a new sorted version of the iterable. <code>sort</code> will sort the iterable in place.</p>
<h2>Arguments</h2>
<p><code>iterable</code> can be any iterable: list, tuple, or set.</p>
<p>The <code>key</code> keyword is used when you don't want to sort by comparing two items with <code>&lt;</code>. You can pass in any function that can take each iterable item as an argument (e.g. <code>[&#x27;a&#x27;, &#x27;b&#x27;, &#x27;c&#x27;]</code> you could use <code>key=str.upper</code>). Also useful is to use lambdas for more complex comparisons (e.g. <code>[[1,2,3], [4,5,6]]</code> you could use <code>lambda x: x[2]</code> to sort using the 3rd item in each sublist).</p>
<p><code>reverse</code> will sort each comparison as if the comparison was done in reverse. For instance, if you set your <code>key</code> to be the default <code>&lt;</code>, using <code>reverse=True</code> will sort as if it were running <code>&gt;</code>.</p>
<h2>References</h2>
<ol>
<li><a href="https://docs.python.org/3/howto/sorting.html" target="_blank">https://docs.python.org/3/howto/sorting.html</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
