<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Unix's `sort` command is super powerful and I use it often." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - sort</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">sort</h1><p><code>sort</code> sorts the input lines by a given item within each line.</p>
<h2>Basic sorting</h2>
<p><code>sort {file}</code> or <code>echo &quot;test&quot; | sort</code></p>
<table>
<thead>
<tr>
<th>Option</th>
<th>Args</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>-k</code></td>
<td><code>n[,m]</code></td>
<td>Sort by field number <code>n</code>, and any further provided field numbers (e.g. <code>m</code>) if <code>n</code>'s are equal.</td>
</tr>
<tr>
<td><code>-n</code></td>
<td></td>
<td>Sort numerically. e.g. <code>10</code> will come after <code>1</code>.</td>
</tr>
<tr>
<td><code>-h</code></td>
<td></td>
<td>Sort by numerical value, but take into account the SI suffix, if present. e.g. <code>10K</code> will come before <code>2M</code>.</td>
</tr>
<tr>
<td><code>-r</code></td>
<td></td>
<td>Reverse the input.</td>
</tr>
<tr>
<td><code>-t</code></td>
<td><code>c</code></td>
<td>Set the delimiter <code>c</code> for each field. e.g. a <code>,</code> (comma) for a <a href="csv.html">CSV</a> file. Default is any amount of spaces.</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://unix.stackexchange.com/questions/169200/sort-command-in-unix-with-numeric-sort" target="_blank">https://unix.stackexchange.com/questions/169200/sort-command-in-unix-with-numeric-sort</a></li>
</ol>
<p class="last-modified">Last modified: 202407060005</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
