<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="SoX is a Linux command-line application that can create, edit, or process audio." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - SoX</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">SoX</h1><p>SoX is a <a href="linux.html">Linux</a> command-line application that can create, edit, or process audio.</p>
<h2>Installation</h2>
<p>On <a href="macos.html">MacOS</a>, use <code>brew install sox</code>. Once it is installed, it should be available on the command line by typing <code>sox</code>.</p>
<h2>Examples</h2>
<ul>
<li>Ocean waves[2]: <code>play -n synth brownnoise synth pinknoise mix synth 0 0 0 10 10 40 trapezium amod 0.1 30</code></li>
<li>Guitar chord[3]: <code>play -n synth pl G2 pl B2 pl D3 pl G3 pl D4 pl G4 delay 0 .05 .1 .15 .2 .25 remix - fade 0 4 .1 norm -1</code></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="http://sox.sourceforge.net/sox.html" target="_blank">http://sox.sourceforge.net/sox.html</a></li>
<li><a href="https://merveilles.town/web/statuses/107359264170996361" target="_blank">https://merveilles.town/web/statuses/107359264170996361</a></li>
<li><a href="https://scruss.com/blog/2017/12/19/synthesizing-simple-chords-with-sox/" target="_blank">https://scruss.com/blog/2017/12/19/synthesizing-simple-chords-with-sox/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
