<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - SQLite3 (Python)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">SQLite3 (Python)</h1><p>How to use <a href="sqlite.html">SQLite</a> with <a href="python.html">Python</a>.</p>
<h2>Opening/Closing Connections and Command Execution</h2>
<p>After importing the built-in <code>sqlite3</code> module, you need to establish a connection with your <a href="database.html">database</a>. </p>
<pre><code class="language-python">import sqlite3

conn = sqlite3.connect(&quot;database.db&quot;) # if found at filepath
conn = sqlite3.connect(&quot;:memory:&quot;)    # to use RAM (flushed after use)
</code></pre>
<p>After creating the connection, create a cursor object and use it to run <a href="sql.html">SQL</a> commands via <code>execute</code>.</p>
<pre><code class="language-python">c = conn.cursor()
c.execute(&quot;&quot;&quot;--sql-goes-here&quot;&quot;&quot;)
</code></pre>
<p>Once all commands have been run, be sure to commit your changes and close the connection.</p>
<pre><code class="language-python">conn.commit()
conn.close()
</code></pre>
<h2>.fetchone() and .fetchall()</h2>
<p>After you have executed a <code>SELECT</code> command, you can use the cursor as an iterator with <code>fetchone()</code>, which will recall each returned row one by one, or <code>fetchall()</code> to return all rows at once.</p>
<h2>Outputting Dicts</h2>
<p>You can output dicts instead of tuples by using the following from the docs:</p>
<pre><code class="language-python">import sqlite3

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

con = sqlite3.connect(&quot;:memory:&quot;)
con.row_factory = dict_factory
cur = con.cursor()
cur.execute(&quot;select 1 as a&quot;)
print(cur.fetchone()[&quot;a&quot;])

con.close()
</code></pre>
<h2>Pretty Printing</h2>
<p>You can pretty print query resullts using the <a href="pandas-python.html">Pandas</a> module.</p>
<pre><code class="language-python">import pandas as pd
import sqlite3

# set up the database

# Allow results to expand in width
pd.options.display.max_colwidth = 200

cursor.execute(&#x27;&#x27;&#x27;SELECT * FROM table&#x27;&#x27;&#x27;)
print(pd.DataFrame(cursor.fetchall()))
</code></pre>
<h2>Get table names from database</h2>
<pre><code class="language-sql">SELECT name 
FROM sqlite_master 
WHERE type = &#x27;table&#x27;;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://docs.python.org/3/library/sqlite3.html" target="_blank">https://docs.python.org/3/library/sqlite3.html</a></li>
<li><a href="https://sqlite.org/autoinc.html" target="_blank">https://sqlite.org/autoinc.html</a></li>
<li><a href="https://sqlite.org/datatype3.html" target="_blank">https://sqlite.org/datatype3.html</a></li>
<li><a href="https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.row_factory" target="_blank">https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.row_factory</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
