<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Storybook is a framework to manually test isolated UI components." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Storybook</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Storybook</h1><p>Storybook is a framework to manually test isolated UI components, and is available for use with <a href="react.html">React</a>, <a href="vue.html">Vue</a>, and other <a href="frameworks-javascript.html">frameworks</a>. The advantages of using Storybook versus something else like a live website or CodeSandbox examples are that you can isolate or combine components in meaningful and specific ways, and also that the parameters being passed into these components can be changed dynamically for easy testing.</p>
<h2>Getting Started</h2>
<p><em>This is assuming you have an existing <a href="node.html">node</a> project and are using some kind of <a href="yarn.html">yarn</a> or <a href="npm.html">npm</a> program to manage your dependencies.</em></p>
<p>Go into your project's root folder and run <code>npx storybook init</code> and follow the instructions. Through this, it adds a script in your <code>package.json</code>, so from there, you should be able to run <code>npm run storybook</code>, or <code>yarn start storybook</code> or whatever is specific for you.</p>
<p>This should show a URL or open a browser window which shows the UI.</p>
<h2>References</h2>
<ol>
<li><a href="https://storybook.js.org/" target="_blank">https://storybook.js.org/</a></li>
<li><a href="https://storybook.js.org/docs/react/get-started/introduction" target="_blank">https://storybook.js.org/docs/react/get-started/introduction</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
