<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Strings in C are arrays of characters." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Strings (C)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Strings (C)</h1><p>Strings in <a href="c.html">C</a> are <a href="arrays-c.html">arrays</a> of characters.</p>
<h2>Basics</h2>
<p>All of these strings are arrays of 6 characters in length, which includes the null termination character <code>\0</code>. The length of a C string is determined by searching for the null termination character. These three are the same:</p>
<pre><code class="language-c">#include &lt;string.h&gt;

char str1[] = &quot;Hello&quot;;

char str2[] = {&#x27;H&#x27;, &#x27;e&#x27;, &#x27;l&#x27;, &#x27;l&#x27;, &#x27;o&#x27;, &#x27;\0&#x27;};

char str3[6];
strcpy(str3, &quot;Hello&quot;);
</code></pre>
<h2>Syntax</h2>
<p><code>\0</code> - This is the null termination character, signifying the end of the string within the string array. </p>
<p>A string of multiple characters is signified by double quotes <code>&quot;like this&quot;</code>.</p>
<p>A single character is signified by single quotes, like <code>&#x27;\0&#x27;</code>, <code>&#x27;a&#x27;</code>, or <code>&#x27;\a&#x27;</code>.</p>
<h2>Functions</h2>
<p>Many helper functions can be brought in with the <code>string.h</code> helper file, like <code>strlen</code>, <code>strcpy</code>, <code>strcat</code>, etc.</p>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/14461695/what-does-0-stand-for" target="_blank">https://stackoverflow.com/questions/14461695/what-does-0-stand-for</a></li>
<li><a href="https://en.wikipedia.org/wiki/C_string_handling" target="_blank">https://en.wikipedia.org/wiki/C_string_handling</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
