<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Suspension trainers like the TRX or gymnastic rings make bodyweight exercise a bit more fun and engaging." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Suspension Exercises</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Suspension Exercises</h1><p>Suspension trainers like the TRX or gymnastic rings make bodyweight <a href="exercise.html">exercise</a> a bit more fun and engaging.</p>
<h2>References</h2>
<ol>
<li>Basic rings exercises: <a href="https://www.pullup-dip.com/us/gymnastic-rings-exercises" target="_blank">1</a>, <a href="https://www.pullup-dip.com/us/gymnastic-rings-exercises" target="_blank">2</a></li>
<li>TRX/rings with a door anchor exercises: <a href="https://yewtu.be/watch?v=f4qGG2i_c4k" target="_blank">1</a>, <a href="https://yewtu.be/watch?v=WUXR58li1s8" target="_blank">2</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
