<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Switch cases allow if/else style branching but with different side effects." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Switch Case (Javascript)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Switch Case (Javascript)</h1><p>Switch cases in <a href="javascript.html">Javascript</a> act very similar to <code>if</code>/<code>else</code> statements, but have some very important differences.</p>
<h2>Good Differences</h2>
<h3>Semantics</h3>
<p>It is easier to understand what a switch case is checking for, as there is only one expression you are going to be checking. This obviously doesn't work with everything, but when it does work, it is cleaner.</p>
<pre><code class="language-javascript">if (bob === 1) {
  // do thing
} else if (bob === 2) {
  // do thing
} else if (bob === 3) {
  // do thing
}

// or 

switch (bob) {
  case 1:
    // do thing
    break;
  case 2:
    // do thing
    break;
  case 3:
    // do thing
    break;
}
</code></pre>
<p>This is technically longer, but is much much easier to understand what is being checked for and what values become what result.</p>
<h3>Reduced Duplication/Execution</h3>
<p>The above code is much more DRY and if you need to change the condition, it only needs to be done in one place.  Also, if the case you are testing in a function, you don't have to create a new variable where it can be executed, just for this one conditional.</p>
<h3>Forced Consolidation of Concerns</h3>
<p>In switch cases, you are <strong>always</strong> checking if the case is equal to some set of values. <code>if</code>/<code>else</code> chains can be misleading as multiple unrelated things can be checked in a row, or a false sense of knowing what is going on can be in place and then subtle changes arise that make you confused.</p>
<h2>(Potentially) Bad Differences</h2>
<h3><code>break</code></h3>
<p>Switch cases will trip the condition that matches <strong>and all that follow it unless a specific <code>break</code> is made.</strong> Default is a special case that will only trip if no other conditions are met <strong>or if <code>break</code> is not invoked.</strong></p>
<pre><code class="language-javascript">const number = 1;

switch (number) {
  case -1:
    console.log(&#x27;Definitely negative 1&#x27;);
    break;
  case 1:
    console.log(&#x27;True&#x27;);
    break;
  case 0:
    console.log(&#x27;False&#x27;);
    // Will fall through to default as no explicit `break` was made
  default:
    console.log(&#x27;Definitely not -1&#x27;);
}

// Logs &#x27;True&#x27;
// number = 2: &#x27;Definitely not -1&#x27;
// number = 0: &#x27;False&#x27;, &#x27;Definitely not -1&#x27;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/switch" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/switch</a></li>
<li><a href="https://mortoray.com/2019/06/29/why-switch-is-better-than-if-else/" target="_blank">https://mortoray.com/2019/06/29/why-switch-is-better-than-if-else/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="php.html">PHP</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
