<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Symbolic links allow you to create shortcuts that act exactly like the files they link to." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Symlinks</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Symlinks</h1><h2>What Is It</h2>
<p>Without the <code>--symbolic</code> option, <code>ln</code> will create a &quot;hard link&quot;[2], which points directly to the block in memory where the data resides. A symlink, or &quot;symbolic link&quot; or &quot;soft link&quot;, will point to the file, which is in itself a pointer to the block in memory. This ensures things that the file itself maintains one single source of truth.</p>
<h2>How To</h2>
<p>To create a symlink, use <code>ln -s</code>. This will create a &quot;shortcut&quot; to the source file, allowing you to perform normal operations on the file using the symlink as you would if you typed out the full path to the source.</p>
<pre><code class="language-shell">$ ls
$ # folder contains nothing
$ ln -s /path/to/file
$ ls
$ # folder contains &quot;file&quot;, which is a symlink
$ ln -s /path/to/file shortcut-name
$ ls
$ # folder contains &quot;file&quot; and &quot;shortcut-name&quot;, which are symlinks
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://bryandugan.com/creating-symlinks-in-osx/" target="_blank">https://bryandugan.com/creating-symlinks-in-osx/</a></li>
<li><a href="https://linuxhandbook.com/hard-link/" target="_blank">https://linuxhandbook.com/hard-link/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="dotfiles.html">Dotfiles</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
