<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Synth bass, or key bass, is using a synthesizer as the bass instrument." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Synth Bass</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Synth Bass</h1><h2>Songs and Bands</h2>
<ul>
<li>Everything on Michael Jackson, particularly the albums &quot;Off The Wall&quot;, &quot;Thriller&quot;, and &quot;Bad&quot;</li>
<li>Aretha Franklin's &quot;Get It Right&quot;</li>
<li>Anything Timbaland produced</li>
<li>Gap Band</li>
<li>Zapp and Roger</li>
<li>Anything from Chaka Khan</li>
<li>Chaka Khan's &quot;We Can Work It Out&quot;</li>
<li>Madonna's &quot;Get Into The Groove&quot;[1]</li>
<li>Any other dance band from the 80's</li>
<li>Anything produced by Jimmy Jam and Terry Lewis[2]</li>
<li>Prince/The Time</li>
<li>Earth Wind and Fire</li>
<li>Pretty much all late 90's early 00's R&amp;B</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?app=desktop&amp;v=7Xe1zQ3Cv3w" target="_blank">Madonna 'Into The Groove' bassline on Juju 60 - YouTube</a></li>
<li><a href="https://en.wikipedia.org/wiki/Jimmy_Jam_and_Terry_Lewis" target="_blank">Jimmy Jam and Terry Lewis - Wikipedia</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
