<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Tagged template literals are a relatively new feature for Javascript allowing complex string building." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Tagged Template Literals</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Tagged Template Literals</h1><p>Tagged template literals are a relatively new feature for <a href="javascript.html">Javascript</a> allowing complex string building, similar to <code>f</code>-strings in <a href="python.html">Python</a>.</p>
<p>Here is an example from MDN[1]:</p>
<pre><code class="language-javascript">const person = &quot;Mike&quot;;
const age = 28;

function myTag(strings, personExp, ageExp) {
  const str0 = strings[0]; // &quot;That &quot;
  const str1 = strings[1]; // &quot; is a &quot;
  const str2 = strings[2]; // &quot;.&quot;

  const ageStr = ageExp &gt; 99 ? &quot;centenarian&quot; : &quot;youngster&quot;;

  // We can even return a string built using a template literal
  return `${str0}${personExp}${str1}${ageStr}${str2}`;
}

const output = myTag`That ${person} is a ${age}.`;

console.log(output);
// That Mike is a youngster.
</code></pre>
<p>This is essentially the same thing as writing the argument to <code>myTag</code> without calling <code>myTag</code> at all, but what makes it so special is that you can perform arbitrary processes on these strings. This comes in handy in readability of templating functions, like zserge's experimental React clone, <code>o</code>[2], or other general string manipulation.</p>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates</a></li>
<li><a href="https://zserge.com/posts/worst-react-ever/" target="_blank">Zserge's <code>O</code> uses them to great effect to make 'the worst React ever'</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
