<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Task management is about dealing and refining the constant input and maintaining consisitent output." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Task Management</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Task Management</h1><p>This is an absolutely huge and broad subject, but I'll try to simplify.</p>
<p>Good task management is about dealing with and refining your inputs (i.e. minimizing them) and maintaining reliable and consistent output. <a href="getting-things-done.html">Getting Things Done</a> is a good system that outlines this in detail.</p>
<p>A good system of staying in contact with many projects is from Ramsey Nassar[3]. He maintains a list of projects and works on a single project at a time, usually something near the top. Then after working on a project:</p>
<ol>
<li>Record what needs to be done next for that project</li>
<li>Move it to the bottom of my list of projects</li>
</ol>
<p>This keeps a kind of visual representation of what needs tending to, either prompting the dissolving of the project or to work on it.</p>
<h2>References</h2>
<ol>
<li><a href="getting-things-done.html">Getting Things Done</a></li>
<li><a href="https://milofultz.com/2022-04-17-my-task-management.html" target="_blank">My Task Management System</a></li>
<li><a href="https://nas.sr/2020/12/04/practice-management/" target="_blank">https://nas.sr/2020/12/04/practice-management/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
