<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Tepache is a Mexican fermented pineapple drink." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Tepache</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Tepache</h1><p>Tepache is a Mexican <a href="fermented.html">fermented</a> <a href="pineapple.html">pineapple</a> drink. Think pineapple <a href="kombucha.html">kombucha</a>. It is often drank straight, mixed into a cocktail, or mixed with beer.</p>
<h2>Ingedients</h2>
<ul>
<li>1 whole <a href="pineapple.html">pineapple</a></li>
<li>200g <a href="piloncillo.html">piloncillo</a>, <a href="brown-sugar.html">brown sugar</a>, or <a href="sugar.html">sugar</a></li>
<li>10 <a href="cloves.html">cloves</a></li>
<li>1 <a href="cinnamon.html">cinnamon</a> stick</li>
<li>5 <a href="ginger.html">ginger</a> slices (optional)</li>
<li>2 quarts <a href="water.html">water</a> (enough to cover material)</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Pot and spoon for boiling/mixing sugar water</li>
<li>Knife that can cut through a pineapple</li>
<li>Cutting board</li>
<li>Kitchen scale</li>
<li>Half gallon jar and lid</li>
<li>Kitchen cloth/something open but tighter than cheesecloth to cover the jar</li>
<li>Another storage container for the fruit</li>
<li>Fine mesh strainer</li>
<li>Funnel, if necessary</li>
<li>If doing a second fermentation, fermentation-grade bottles</li>
<li>Else, some clean container (another jar, pitcher, etc.)</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Dissolve the sugar in around a quart of water.</li>
<li>Cut the top and bottom off the pineapple. Discard.</li>
<li>Stand up your barrel-shaped body of pineapple and remove the rind. Save the rind and put it into the jar.</li>
<li>Cut the fruit from the core. Save the fruit in a separate container and put the core in the jar.</li>
<li>Add the spices to the jar with the pineapple rind and core. Once the sugar water is room temperature, add it to the jar. Add rest of water, or enough water until there is around 1 or 2 inches of room.</li>
<li>Cover the jar with your semi-permeable material away from direct sunlight at room temperature.</li>
<li>Let it sit for 1 to 3 days. It should start to bubble and be very active from the yeast in the pineapple. It will happen more quickly in a warmer environment and slower in a colder one.</li>
<li>Give it a taste after around 24 hours, and then every 24 hours after that. When it's the flavor you desire, it's time to bottle. If you wait too long, it can get a bit too much vinegar flavor, so earlier is better, IMO.</li>
<li>Strain liquid into a clean pitcher. You can discard the remnants or use it to make another batch.</li>
<li>If you aren't doing a second fermentation, you're done! Put your pitcher in the fridge.</li>
</ol>
<h2>Second Fermentation (optional)</h2>
<p>This process is similar to the second fermentation of <a href="kombucha.html">kombucha</a>.</p>
<ol>
<li>Put the liquid into individual containers, leaving around 1 to 2 inches free at the top.</li>
<li>Let sit at room temperature for 1 to 3 more days.</li>
<li>Every 24 hours or so, check the level of carbonation in one of your containers.</li>
<li>When it's at the carbonation level you want, put it in the fridge.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://fermenterskitchen.com/pineapple-tepache/" target="_blank">https://fermenterskitchen.com/pineapple-tepache/</a></li>
<li><a href="https://drinkinghobby.com/tepache-recipe/#tve-jump-172dca0214d" target="_blank">https://drinkinghobby.com/tepache-recipe/#tve-jump-172dca0214d</a></li>
<li><a href="https://www.mexicoinmykitchen.com/homemade-pineapple-brew" target="_blank">https://www.mexicoinmykitchen.com/homemade-pineapple-brew</a></li>
</ol>
<p class="last-modified">Last modified: 202410300427</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
