<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Testing vanilla Javascript is simple, but different than testing a React project." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Testing Vanilla Javascript</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Testing Vanilla Javascript</h1><p>Testing vanilla <a href="javascript.html">Javascript</a> is not as straightforward and laid out as <a href="react.html">React</a> or other <a href="frameworks-javascript.html">frameworks</a>, so it takes some finangling.</p>
<p>Most simple would be to use a single webpage only for the tests. To do this, you can use <a href="jasmine.html">Jasmine</a>'s standalone SpecRunner[3], a zero-dependencies test runner in a webpage that has language very similar to <a href="jest.html">Jest</a>.</p>
<p>If you want to test a function or component, you can add the file that contains it as a <code>script</code> in the SpecRunner's <a href="html.html">HTML</a>, followed by the spec file that tests it. Jasmine will recognize the tests and then show which passed or failed. It's nice and clean and lets you unit test without having to pull in bulky <a href="node.html">node</a>/<a href="npm.html">npm</a> environments. You can follow their instructions[3] for an easy setup and implementation.</p>
<h2>References</h2>
<ol>
<li><a href="https://dev.to/thawkin3/how-to-unit-test-html-and-vanilla-javascript-without-a-ui-framework-4io" target="_blank">https://dev.to/thawkin3/how-to-unit-test-html-and-vanilla-javascript-without-a-ui-framework-4io</a></li>
<li><a href="https://dev.to/aurelkurtula/unit-testing-with-vanilla-javascript-the-very-basics-7jm" target="_blank">https://dev.to/aurelkurtula/unit-testing-with-vanilla-javascript-the-very-basics-7jm</a></li>
<li><a href="https://jasmine.github.io/pages/getting_started.html" target="_blank">https://jasmine.github.io/pages/getting_started.html</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="jasmine.html">Jasmine</a></li><li><a href="vanilla-javascript.html">Vanilla Javascript</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
