<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Javascript provides many options to test your code via timing, assertions, and frameworks." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Testing (Javascript)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Testing (Javascript)</h1><p><a href="javascript.html">Javascript</a> provides many options to test your code via timing, assertions, and frameworks.</p>
<h2>Time</h2>
<h3>Simplest Timer</h3>
<pre><code class="language-javascript">console.time(&#x27;process&#x27;);
// do stuff
console.timeEnd(&#x27;process&#x27;); // log time passed since console.time
</code></pre>
<h3>Basic Timer Polyfill</h3>
<pre><code class="language-javascript">var Timer = function(name) {
  var start = new Date();
  return {
    stop: function() {
      var end  = new Date();
      var time = end.getTime() - start.getTime();
      console.log(&#x27;Timer:&#x27;, name, &#x27;finished in&#x27;, time, &#x27;ms&#x27;);
    }
  }
};

var t = new Timer(&#x27;Description&#x27;);
// do stuff
t.stop();
</code></pre>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
