<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Using TDD with shell scripts is weird but not impossible." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Testing Shell Scripts</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Testing Shell Scripts</h1><h2>Getting Started</h2>
<p>The best way I have found to unit test shell scripts is rather simple and comes from JSON.sh[1] (I've changed this a little bit for my own use):</p>
<pre><code class="language-bash">#!/bin/sh

# Set current directory to the current file
cd &quot;${0%/*}&quot; || exit 1

fail=0
tests=0
passed=0

for test in tests/*.sh ; do
    tests=$((tests+1))
    echo &quot;TEST: $test&quot;
    if &quot;./$test&quot;; then
        echo &quot;OK: ---- $test&quot;
        passed=$((passed+1))
    else
        echo &quot;FAIL: $test&quot;
        fail=$((fail+ret))
    fi
done

if [ &quot;$fail&quot; -eq 0 ]; then
    echo &#x27;SUCCESS&#x27;
    exitcode=0
else
    echo &#x27;FAILURE&#x27;
    exitcode=1
fi

echo &quot;$passed / $tests&quot;
exit $exitcode
</code></pre>
<p>Essentially what this does is it:</p>
<ul>
<li>runs each test within the <code>tests</code> folder;</li>
<li>records each test's exit code, determining if the test succeeded (<code>0</code>) or failed (anything else);</li>
<li>shows the result of each test and the suite as a whole when complete.</li>
</ul>
<p>I haven't written super complex shell scripts yet, but I feel like this gives enough flexibility to work with simple unit testing in basic applications.</p>
<p>Another advantage is that meta files, like set up and tear down, can be kept in a file preceded by <code>.</code>, as they will be skipped by the above glob.</p>
<h2>Examples</h2>
<p>An example of this could be testing a function called <code>capitalize</code>. First, we write the above test runner to the root folder and then make the test file in our <code>tests</code> folder:</p>
<p><strong>tests/capitalize.sh</strong></p>
<pre><code class="language-bash">cd ${0%/*}

source &quot;../capitalize.sh&quot;

fails=0

words=(bob john Jane ron-jon)
expected_words=(Bob John Jane Ron-jon)

for word in &quot;${words[@]}&quot;; do
    i=$((i + 1))
    result=&quot;$(capitalize &quot;$word&quot;)&quot;
    if [ &quot;$result&quot; != &quot;${expected_words[i]}&quot; ]; then
        fails=$((fails + 1))
    fi
done

exit $fails
</code></pre>
<p>And then we run the test runner and see that it failed before writing the actual function.</p>
<p><strong>capitalize.sh</strong></p>
<pre><code class="language-bash">capitalize() {
    # imagine this capitalizes things and returns the capitalized word
}
</code></pre>
<p>If you want to test using external files, you can change the <code>for</code> loop above to a glob, like</p>
<pre><code class="language-bash">for file in ./mock_data/*; do
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://github.com/dominictarr/JSON.sh" target="_blank">https://github.com/dominictarr/JSON.sh</a></li>
<li><a href="https://thomaslevine.com/computing/shell-testing/" target="_blank">https://thomaslevine.com/computing/shell-testing/</a></li>
<li><a href="https://poisel.info/posts/2022-05-10-shell-unit-tests/" target="_blank">https://poisel.info/posts/2022-05-10-shell-unit-tests/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
