<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This Thai curry can be used as a base for a "kitchen sink" kind of meal, throwing in whatever you got in your fridge or pantry." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Thai Curry</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Thai Curry</h1><p>This Thai curry can be used as a base for a &quot;kitchen sink&quot; kind of meal, throwing in whatever you got in your fridge or pantry. I usually double this recipe and use it as a meal prep for a few days of lunch/dinner. This recipe came from the <a href="https://www.spilledmilkpodcast.com/" target="_blank">Spilled Milk podcast</a> ages ago, can find it <a href="http://www.grubshack.com/essays/thai-curry2.html" target="_blank">here</a>.</p>
<h2>Ingredients</h2>
<ul>
<li>13.5oz/1 can <a href="coconut-milk.html">coconut milk</a>, <a href="https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1" target="_blank">with the cream and oil separated</a></li>
<li>2-3T <a href="curry-paste.html">curry paste</a> (I use whatever kind is around: panang, red, yellow, green, etc.)</li>
<li>1 medium <a href="onion.html">onion</a>, chopped</li>
<li>1t oyster sauce</li>
<li>2t dark <a href="soy-sauce.html">soy sauce</a></li>
<li>1t <a href="palm-sugar.html">palm sugar</a></li>
<li>1/2 <a href="lime.html">lime</a>, juiced</li>
<li><a href="pepper.html">Pepper</a>, crushed</li>
<li>
Whatever meat substitutes, vegetables, and starches you have sitting around, e.g.<ul>
<li><a href="mushrooms.html">mushrooms</a></li>
<li>soya chunks</li>
<li>frozen green beans</li>
<li><a href="sweet-potatoes.html">sweet potatoes</a></li>
<li><a href="potatoes.html">potatoes</a></li>
<li>soaked <a href="lentils.html">lentils</a></li>
</ul>
</li>
<li>Fresh <a href="serrano-chiles.html">serrano chiles</a>, sliced thin</li>
<li>Cooked <a href="rice.html">rice</a> to place curry on top</li>
</ul>
<h3>Substitutions</h3>
<ul>
<li>Instead of palm sugar, I often use white or brown <a href="sugar.html">sugar</a> because palm sugar is a pain.</li>
<li>I often omit the lime.</li>
<li>I use <a href="foraging.html">peruvian peppercorn</a>, but regular pepper is good. Anything to cut through with brightness.</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Deep pot</li>
<li>Wooden spoon</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>In a medium saucepan, heat the thick coconut cream over medium-high heat until bubbling furiously.</li>
<li>Add the curry paste and stir until well mixed, grinding the paste against the bottom and sides of the pot if necessary. Add the chopped onion, and cook until you see dark streaks of coconut oil forming, or until bored.</li>
<li>Add the oyster sauce, soy sauce, sugar, lime, and thin coconut milk. Stir to mix.</li>
<li>Taste and adjust seasonings.</li>
<li>Reduce heat to medium. Add your meat substitutes, vegetables, and starches.</li>
<li>Simmer 30 minutes or, if using <a href="potatoes.html">potatoes</a>, until potato is cooked through. If you don't simmer gently, the coconut milk will separate a <em>lot</em>, and the curry will look kind of weird and be harder to dish up. It will still be perfectly tasty, though.</li>
<li>Taste and adjust seasonings. Garnish with fresh chiles and serve over <a href="rice.html">rice</a>.</li>
</ol>
<h2>References</h2>
<ul>
<li><a href="http://www.grubshack.com/essays/thai-curry2.html" target="_blank">http://www.grubshack.com/essays/thai-curry2.html</a></li>
<li><a href="https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1" target="_blank">https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1</a></li>
</ul>
<p class="last-modified">Last modified: 202503042032</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
