<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Toum is a naturally vegan garlic aioli/mayonnaise." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Toum</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Toum</h1><p>Toum is a naturally vegan garlic aioli/mayonnaise.</p>
<h2>Ingredients</h2>
<ul>
<li>1/2 cup / ~24 medium sized cloves <a href="garlic.html">garlic</a>, peeled</li>
<li>1 tsp <a href="salt.html">salt</a></li>
<li>1/4 cup <a href="lemon-juice.html">lemon juice</a> or <a href="vinegar.html">vinegar</a> or <a href="kombucha.html">kombucha</a> (I'll call this the tart liquid)</li>
<li>1 1/2 cup <a href="olive-oil.html">olive oil</a></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Blender</li>
<li>Measuring cups/spoons</li>
<li>Glass vessel for pouring wet ingredients</li>
<li>Rubber spatula</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Add garlic and salt to blender. Pulse/blend as fine as possible.</li>
<li>Scrape down the sides and repeat the above step as needed. (Our blender couldn't get it too fine because it would stick to the side, so we repeated a few times).</li>
<li>Add a teaspoon of tart liquid and pulse until you have a paste (same advice as before, you may have to scrape a bit; no need to go too crazy though).</li>
<li>Start your blender at a low speed. While running, alternate adding a little olive oil and a little tart liquid very slowly. Stop blender and scrape sides as needed until you have enough liquid to keep it going and not throw up on the sides. <em>Go slowly!</em></li>
<li>Repeat the previous step until all wet ingredients are gone. Then you are done <em>Remember, go slow!</em></li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.cheftariq.com/recipe/lebanese-garlic-sauce/" target="_blank">Original recipe</a></li>
</ol>
<p class="last-modified">Last modified: 202409012329</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
