<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Handling traffic in amateur radio means relaying messages from station to station." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Traffic</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Traffic</h1><p>Handling traffic in amateur radio means relaying messages from station to station. Before cheap phone calls, this was a way to send messages from one person to another over very long distances. The <a href="american-radio-relay-league.html">American Radio Relay League</a> considers this a large part of the ham radio tradition. This skill is still useful for emergency communications.</p>
<p>These relayed messages included a preamble, or the information needed to track the message, and a check, or a count of the number of words or word equivalents in the text portion of the message.</p>
<h2>References</h2>
<ol>
<li><a href="http://www.arrl.org/files/file/Public%20Service/RADIOGRAM-2011.pdf" target="_blank">A radiogram form</a></li>
<li><a href="http://www.arrl.org/files/file/Public%20Service/MPG104A.pdf" target="_blank">http://www.arrl.org/files/file/Public%20Service/MPG104A.pdf</a></li>
<li><a href="http://www.arrl.org/nts" target="_blank">National Traffic System</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
