<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - trust</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">trust</h1><p><a href="https://piped.kavin.rocks/watch?v=X5N3YYqtJ_w" target="_blank">https://piped.kavin.rocks/watch?v=X5N3YYqtJ_w</a></p>
<p>Trust isn't something you can do. It's not an action.</p>
<p>Blindly trying to trust others can be dangerous. </p>
<p>If you aren't comfortable accepting help, communicate that situation. &quot;I recognize you're trying to help me and I appreciate that, but I feel XYZ about accepting help right now, so I'm going to do it on my own.&quot;</p>
<p>If you feel like you are creating a strings-attached situation through giving help but can't accept it, communicate this to the other person and try to solve it. One possible scenario is the other person helping you despite your protests, though this does seem like it would need to be communicated and agreed upon very very deliberately, as in the wrong light it could feel overbearing and dismissive.</p>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
