<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="There are a few kinds of "typing", as it pertains to programming languages." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Typing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Typing</h1><h2>Static vs. Dynamic</h2>
<p>This refers to how the programming language manages variables. <strong>Static</strong> typing is when types are checked at <strong>compilation</strong> and <strong>dynamic</strong> is when types are checked at <strong>runtime</strong>. </p>
<p>For instance, in <a href="c.html">C</a>, you must instantiate your variables with a type, so the compiler knows what to do with it. This is <strong>static</strong>. But in <a href="python.html">Python</a> or <a href="javascript.html">Javascript</a>, since you don't have to initialize variables with a type, you can put a string into a variable that once held a number. If it works at runtime, it works. This is <strong>dynamic</strong>.</p>
<h2>Strong vs. Weak</h2>
<p>This refers to how types can be converted. In <strong>strongly typed</strong> systems, only <strong>explicit conversions</strong> are allowed. In <strong>weakly typed</strong> systems, <strong>implicit conversions</strong> are okay. Or another way, in a strongly typed system, &quot;you cannot work around or subvert the type system&quot;[2].</p>
<p>For instance, in <a href="ruby.html">Ruby</a> or <a href="typescript.html">TypeScript</a>, if you try and run <code>&quot;1&quot; + 1</code>, it will throw a TypeError. But in <a href="javascript.html">vanilla Javascript</a>, you can do <code>&quot;1&quot; + 1</code>, or even <code>&quot;1&quot; + []</code>, and it will implicitly figure out &quot;what you wanted&quot;.</p>
<h2>Duck Typing</h2>
<p>Duck typing is where instead of determining what types are allowed or disallowed to be input in a given class or function, &quot;the set of methods and properties determine the valid semantics&quot;[1]. </p>
<p>For instance, in <a href="python.html">Python</a> or <a href="ruby.html">Ruby</a>, if you wanted to handle either a single name or a list of names in a duck typing system, you could use conditionals for &quot;if input is a string&quot; and &quot;else if input is a list&quot;, and then manage the types that way. In a non-duck typing system, if the function expected a string and you passed in a list, the function would throw an error because it would be expecting a certain type for the input.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.koffeinfrei.org/2012/03/19/static-vs-dynamic-vs-strong-vs-weak-vs-duck-typing/" target="_blank">https://www.koffeinfrei.org/2012/03/19/static-vs-dynamic-vs-strong-vs-weak-vs-duck-typing/</a></li>
<li><a href="https://stackoverflow.com/questions/430182/is-c-strongly-typed" target="_blank">https://stackoverflow.com/questions/430182/is-c-strongly-typed</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ruby.html">Ruby</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
