<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="How to properly define and apply typography rules in CSS." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Typography (CSS)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Typography (CSS)</h1><p>How to properly define and apply typography rules in <a href="css.html">CSS</a>.</p>
<h2>Line Height</h2>
<p>The <code>normal</code> value on a <code>line-height</code> property in <a href="css.html">CSS</a> is calculated as 1.2x the font size; e.g. a font size of 16px will have a <code>normal</code> line height of (1.2 * 16)px = 19.2px.</p>
<p>When setting a defined line-height, use the <code>em</code> unit to set it relative to the current <code>font-size</code>. </p>
<h3><a href="http://smad.jmu.edu/shen/webtype/lineheight.html" target="_blank">Best Practices</a></h3>
<p>1.5em is the most common line height for copy.</p>
<ul>
<li>The longer the line length, the taller the Line-height should be.</li>
<li>The shorter the line length, the shorter the Line-height should be.</li>
<li>Use a taller line-height with continuous copy.</li>
<li>Use taller line-heights with large x-height fonts.</li>
<li>The ascenders and descenders of the lines of text should not touch.</li>
<li>Place the lines close enough together that the reader requires no effort to find the next line, then balance the height based on the line length.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="http://smad.jmu.edu/shen/webtype/lineheight.html" target="_blank">http://smad.jmu.edu/shen/webtype/lineheight.html</a></li>
<li><a href="https://www.madebymike.com.au/writing/precise-control-responsive-typography/" target="_blank">https://www.madebymike.com.au/writing/precise-control-responsive-typography/</a></li>
<li><a href="https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/" target="_blank">https://blog.typekit.com/2016/08/17/flexible-typography-with-css-locks/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
