<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Vim functions can be super powerful, if you learn how vimscript works." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Vim Functions</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Vim Functions</h1><h2>References</h2>
<ol>
<li><a href="https://www.bobbywlindsey.com/2017/07/30/vim-functions/" target="_blank">https://www.bobbywlindsey.com/2017/07/30/vim-functions/</a></li>
<li><a href="https://learnxinyminutes.com/docs/vimscript/" target="_blank">https://learnxinyminutes.com/docs/vimscript/</a></li>
<li><a href="https://devhints.io/vimscript" target="_blank">https://devhints.io/vimscript</a></li>
<li><a href="https://learnvim.irian.to/vimscript/vimscript_functions/" target="_blank">https://learnvim.irian.to/vimscript/vimscript_functions/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
