<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Vim is a command-line editor that is included with most *nix machines and OSX." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Vim</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Vim</h1><p>Vim is a command-line editor that is included with most *nix machines and <a href="macos.html">OSX</a>.</p>
<h2>VimTutor</h2>
<p>Use it! It guides you through the <a href="vim-commands.html">basic commands</a> of Vim by <em>doing things</em> instead of reading random wikis on the web and trying to cobble together how to do stuff. You can access it by typing <code>vimtutor</code> at the CLI.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.vim.org/" target="_blank">https://www.vim.org/</a></li>
<li><a href="https://danielmiessler.com/study/vim/" target="_blank">https://danielmiessler.com/study/vim/</a></li>
<li><a href="https://elijahmanor.com/blog/neovim-tmux" target="_blank">https://elijahmanor.com/blog/neovim-tmux</a></li>
<li><a href="http://texteditors.org/cgi-bin/wiki.pl?VIM" target="_blank">http://texteditors.org/cgi-bin/wiki.pl?VIM</a></li>
<li><a href="https://www.vimgolf.com/" target="_blank">https://www.vimgolf.com/</a></li>
<li><a href="https://secluded.site/vim-as-a-markdown-editor/" target="_blank">https://secluded.site/vim-as-a-markdown-editor/</a></li>
<li><a href="https://shapeshed.com/vim-netrw/" target="_blank">https://shapeshed.com/vim-netrw/</a></li>
<li><a href="https://github.com/tpope/vim-vinegar" target="_blank">https://github.com/tpope/vim-vinegar</a></li>
<li><a href="https://andrew.stwrt.ca/posts/vim-ctags/" target="_blank">https://andrew.stwrt.ca/posts/vim-ctags/</a></li>
<li><a href="https://tbaggery.com/2011/08/08/effortless-ctags-with-git.html" target="_blank">https://tbaggery.com/2011/08/08/effortless-ctags-with-git.html</a></li>
<li><a href="https://joshrendek.com/2011/11/osx-vim-ctags-exuberant-for-fast-context-switching-in-large-projects/" target="_blank">https://joshrendek.com/2011/11/osx-vim-ctags-exuberant-for-fast-context-switching-in-large-projects/</a></li>
<li><a href="https://vimtricks.com/p/word-wrapping/" target="_blank">https://vimtricks.com/p/word-wrapping/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="dotfiles.html">Dotfiles</a></li><li><a href="ed.html">ed</a></li><li><a href="git.html">git</a></li><li><a href="shell.html">Shell</a></li><li><a href="uxn.html">uxn</a></li><li><a href="vimrc.html">Vimrc</a></li><li><a href="xargs.html">xargs</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
