<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="VoiceOver is an accessibility tool by and for MacOS." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - VoiceOver</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">VoiceOver</h1><p>VoiceOver is an <a href="accessibility.html">accessibility</a> tool by and for MacOS.</p>
<h2>Getting Started</h2>
<p>To activate Voiceover to be used, go into your System Preferences and enable it from your Accessibility settings.</p>
<p>You can customize your <code>VO</code> key between holding <code>Caps Lock</code> or the combination of <code>Control + Option</code>. Below, <code>VO</code> refers to this.</p>
<h2>Navigation</h2>
<p>Using <code>tab</code> will move you to the next interactive element[3]. This puts you in &quot;form mode&quot;.</p>
<p>Using <code>VO + arrow keys</code> will move you through the document in DOM order. Up and down will move you inside or outside of the current element, and left and right will move you to the previous or next element. This is &quot;browse mode&quot;.</p>
<p>Use the rotor! It is much easier to move around the whole page than by using tab or the arrow keys.</p>
<h2>Cheatsheet</h2>
<p>Using <code>Shift</code> on any of the &quot;Next&quot; actions will go to the previous element.</p>
<p><code>Ctrl</code> will stop messages from playing.</p>
<table>
<thead>
<tr>
<th>Keystroke</th>
<th>Effect</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>cmd + F5</code></td>
<td>De/activate VoiceOver</td>
</tr>
<tr>
<td><code>VO + Down</code></td>
<td>Enter web page</td>
</tr>
<tr>
<td><code>VO + Up</code></td>
<td>Exit page</td>
</tr>
<tr>
<td><code>VO + A</code></td>
<td>Read all</td>
</tr>
<tr>
<td><code>VO + U</code></td>
<td>Open rotor (categorical navigation)</td>
</tr>
<tr>
<td><code>VO + H</code></td>
<td>Next heading</td>
</tr>
<tr>
<td><code>VO + I</code></td>
<td>Next image</td>
</tr>
<tr>
<td><code>VO + L</code></td>
<td>Next link</td>
</tr>
<tr>
<td><code>VO + J</code></td>
<td>Next form control</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://accessibility.psu.edu/screenreaders/voiceover/" target="_blank">Voiceover commands for web page testing</a></li>
<li><a href="https://cloudfour.com/thinks/mac-voiceover-testing-the-simple-way/" target="_blank">Mac VoiceOver Testing the Simple Way</a></li>
<li><a href="https://html.spec.whatwg.org/multipage/dom.html#interactive-content" target="_blank">Interactive elements</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="testing-accsesibility-for-the-web.html">Testing Accsesibility for the Web</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
