<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Vue is a front-end Javascript framework." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Vue</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Vue</h1><p>Vue is a front-end Javascript framework that operates similar to <a href="react.html">React</a> but operates with a much leaner profile. Often is used with <a href="express.html">Express</a> and/or <a href="node.html">Node</a> and a database to create full-stack apps.</p>
<h2>Components</h2>
<p>A Vue component is made up of three parts:</p>
<ul>
<li>HTML</li>
<li>Javascript (or some other flavor, like <a href="typescript.html">Typescript</a>)</li>
<li>CSS (or some other flavor, like <a href="sass.html">Sass</a>)</li>
</ul>
<p>Unlike <a href="react.html">React</a>, these all occur in the same file and are not necessarily using <a href="jsx.html">JSX</a> component.</p>
<p>An example file looks like this:</p>
<pre><code class="language-vue">&lt;template&gt;
  &lt;header&gt;
    &lt;h1 v-bind:title=&quot;title&quot;&gt;{{title}}&lt;/h1&gt;
  &lt;/header&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  props: {
    title: String,
  },
}
&lt;/script&gt;

&lt;style scoped&gt;
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
&lt;/style&gt;
</code></pre>
<h3>State</h3>
<p>The contents of your <strong>app.js</strong> may look like this, containing state within the <code>data()</code> function.</p>
<pre><code class="language-javascript">const app = Vue.createApp({
  data() {
    return {
      firstName: &#x27;Jane&#x27;,
      lastName: &#x27;Doe&#x27;,
      imageURL: &#x27;example.com&#x27;,
    }
  }
});
</code></pre>
<p>State can be brought in to the templating engine using double curly braces.</p>
<p>As tag content, it can be brought in directly. In the <code>data</code> return object, we have a <code>title</code> property that is then addressed within the <code>template</code> tag. e.g. <code>&lt;h1&gt;{{title}}&lt;/h1&gt;</code>.</p>
<p>As properties <em>of</em> the tag itself, we need to use something called the <code>v-bind:</code> directive. To do this, preface whatever property name you want to use a prop in with <code>v-bind:</code>, and set the value in double quotes, as if it were a Javascript string. e.g. <code>&lt;img v-bind:src=&quot;imageURL&quot; v-bind:alt=&quot;`A man whose name is ${firstName} ${lastName}`&quot;/&gt;</code>.</p>
<p>While <code>v-bind:</code> is the explicit prefix for bound properties, you can also just use <code>:</code> in it's place. e.g. <code>&lt;img :src=&quot;imageURL&quot; :alt=&quot;`A man whose name is ${firstName} ${lastName}`&quot;/&gt;</code>.</p>
<h3>Methods and Event Handlers</h3>
<p>The contents of your <strong>app.js</strong> may look like this, containing methods within the <code>methods</code> object.</p>
<pre><code class="language-javascript">const app = Vue.createApp({
  data() {
    return {
      firstName: &#x27;Bob&#x27;,
    };
  },
  methods: {
    getUser() {
      this.firstName = &#x27;Jane&#x27;
    },
  },
});
</code></pre>
<p>Methods can be added to event listeners in the DOM by using <code>v-on:{event}</code>, where <code>{event}</code> is <code>click</code>, etc. e.g. <code>&lt;button v-on:click=&quot;getUser()&quot;&gt;Click Here&lt;/button&gt;</code>.</p>
<p>While <code>v-on:</code> is the explicit prefix for bound handlers, you can also just use <code>@</code> in it's place. e.g. <code>&lt;button @click=&quot;getUser()&quot;&gt;Click Here&lt;/button&gt;</code>[5].</p>
<h3>Props</h3>
<p>Props can be sent in to existing components just like in <a href="react.html">React</a>, using properties on a <a href="jsx.html">JSX</a> component. e.g. <code>&lt;HelloWorld msg=&quot;Hello world!&quot; names=&quot;[&#x27;Bob&#x27;, &#x27;John&#x27;]&quot; /&gt;</code>. These props can be accessed inside the component file like so:</p>
<pre><code class="language-vue">&lt;template&gt;
  &lt;p :title=&quot;names&quot;&gt;{{msg}}&lt;/p&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: &#x27;HelloWorld&#x27;,
  props: {
    msg: String,
    names: String,
  },
}
&lt;/script&gt;

&lt;style scoped&gt;
p {
  text-align: center;
}
&lt;/style&gt;
</code></pre>
<p>Notice that the props must be registered inside of the <code>export</code>. Props can be registered a few different ways. </p>
<pre><code class="language-javascript">// As an array of props
export default {
  props: [&#x27;id&#x27;, &#x27;msg&#x27;, &#x27;name&#x27;],
}

// As an object with typing
export default {
  props: {
    id: Number,
    msg: String,
    name: [ String, Number ],
    metadata: null, // can be `any` type
  },
}

// Using `default` and `required`
export default {
  props: {
    id: {
      type: Number,
      default: 0,
      required: true,
    },
  },
  // etc.
}
</code></pre>
<p>In general, if a prop is not required, it should have a default value.</p>
<h4>Type Checking[4]</h4>
<p>Using the <code>validator</code> property in your props object, you can validate your incoming data.</p>
<pre><code class="language-javascript">const userInformationIsValid = ({
  name,
  age,
  catchPhrases,
  pocketContents
}) =&gt; {
  return (
    typeof name === &#x27;string&#x27; &amp;&amp;
    typeof age === &#x27;number&#x27; &amp;&amp;
    Array.isArray(catchPhrases) &amp;&amp;
    catchPhrases.length === 3 &amp;&amp;
    catchPhrases.every(item =&gt; typeof item === &#x27;number&#x27;) &amp;&amp;
    typeof pocketContents === &#x27;object&#x27; &amp;&amp;
    !Array.isArray(pocketContents) &amp;&amp;
    pocketContents.wallet === true
  )
};

export default {
  props: {
    userInformation: {
      type: Object,
      default: 0,
      required: true,
      validator: userInformationIsValid,
    },
  },
}
</code></pre>
<h3>Iteration</h3>
<p>If you have an array-like object you want to iterate through, you can use <code>v-for=&quot;item in array&quot;</code>, using the <a href="javascript.html">Javascript</a> <code>for ... in</code> syntax. Like <a href="react.html">React</a>, we need to have a unique key for each item in the iteration.</p>
<pre><code class="language-vue">&lt;template&gt;
  &lt;div :key=&quot;task.id&quot; v-for=&quot;task in tasks&quot;&gt;
    &lt;h1&gt;{{ task.id }}&lt;/h1&gt;
  &lt;/div&gt;
&lt;/template&gt;
</code></pre>
<h3>Lifecycle Methods</h3>
<p>These methods pertain to the lifecycle of the component, like mounting, updating, and unmounting. These go in the top level of the export.</p>
<pre><code class="language-javascript">export default {
  props: {
    userId: String,
  },
  created() {
    console.log(&#x27;Created!&#x27;);
  },
};
</code></pre>
<p>This will run the <code>created</code> function when the component is created.</p>
<p>For all the lifecycle methods, look at their site[6-7], or at <a href="https://vuejs.org/api/options-lifecycle.html" target="_blank">this diagram</a>.</p>
<h2>Getting Started</h2>
<p>Using the Vue CLI[3] is the easiest way to get started. Similar to Create React App, it handles a lot of the nitty gritty setup and puts it all together with whatever specifics you want to use in your project.</p>
<h2>References</h2>
<ol>
<li><a href="https://vuejs.org/" target="_blank">https://vuejs.org/</a></li>
<li><a href="https://www.youtube.com/watch?v=qZXt1Aom3Cs" target="_blank">https://www.youtube.com/watch?v=qZXt1Aom3Cs</a></li>
<li><a href="https://cli.vuejs.org/" target="_blank">https://cli.vuejs.org/</a></li>
<li><a href="https://michaelnthiessen.com/unlock-full-potential-prop-types/" target="_blank">https://michaelnthiessen.com/unlock-full-potential-prop-types/</a></li>
<li><a href="https://code.luasoftware.com/tutorials/vuejs/vuejs-v-bind-and-v-on-shorthand/" target="_blank">https://code.luasoftware.com/tutorials/vuejs/vuejs-v-bind-and-v-on-shorthand/</a></li>
<li><a href="https://vuejs.org/guide/essentials/lifecycle.html" target="_blank">https://vuejs.org/guide/essentials/lifecycle.html</a></li>
<li><a href="https://vuejs.org/api/options-lifecycle.html" target="_blank">https://vuejs.org/api/options-lifecycle.html</a></li>
<li>Binding multiple props at once: <a href="https://stackoverflow.com/a/65300456/14857724" target="_blank">https://stackoverflow.com/a/65300456/14857724</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="frameworks-javascript.html">Frameworks (Javascript)</a></li><li><a href="storybook.html">Storybook</a></li><li><a href="web-component-course-notes.html">web-component-course-notes</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
