<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Sourdough, yeast, and baking soda waffles." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Waffles</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Waffles</h1><p>Sourdough, yeast, and baking soda waffles.</p>
<h2>Ingredients</h2>
<ul>
<li>One of the below variations of <a href="flour.html">flour</a>, <a href="water.html">water</a>, and rising agent</li>
<li>100g <a href="alt-milk.html">alt milk</a> (add enough to make it a batter)</li>
<li>1.5 tsp <a href="vinegar.html">vinegar</a> (opt. if using sourdough)</li>
<li>10g <a href="olive-oil.html">olive oil</a></li>
<li>1/2 tsp <a href="salt.html">salt</a></li>
<li>1 Tbsp <a href="cornmeal.html">cornmeal</a> (opt.)</li>
</ul>
<h3>100% Hydration Sourdough Discard</h3>
<p>This is essentially the recipe from Zero Waste Chef[1] for pancakes, but it works well for waffles and is totally vegan, too, which is nice.</p>
<ul>
<li>230g/1 cup 100% hydration <a href="sourdough.html">sourdough</a> discard (usually fairly spent)</li>
<li>1/8 tsp <a href="baking-soda.html">baking soda</a></li>
</ul>
<h3>60% Hydration Rye Sourdough Discard</h3>
<ul>
<li>24g 60% hydration <a href="sourdough.html">sourdough</a> discard</li>
<li>108g <a href="water.html">water</a></li>
<li>68g bread flour</li>
<li>40g whole wheat flour</li>
</ul>
<h3>Instant Yeast</h3>
<ul>
<li>1 tsp instant <a href="yeast.html">yeast</a></li>
<li>120g <a href="water.html">water</a></li>
<li>80g bread flour</li>
<li>40g whole wheat flour</li>
</ul>
<h3>Baking Soda</h3>
<ul>
<li>1/2-1 tsp baking soda</li>
<li>120g <a href="water.html">water</a></li>
<li>80g bread flour</li>
<li>40g whole wheat flour</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Mixing bowl</li>
<li>Dough whisk (opt.)</li>
<li>Spatula</li>
<li>Waffle iron</li>
<li>1/4 cup measuring cup, or something around that for scooping batter into the iron</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>If using vinegar, mix vinegar and soy milk and let stand for 5 minutes or so until it &quot;curdles&quot; similar to buttermilk[2].</li>
<li>If using the stiff starter or standard yeast, mix everything together and let it rest for 8 hours/overnight. Otherwise, mix ingredients and use immediately.</li>
<li>Plugin and heat up the waffle iron.</li>
<li>Add 1/4 cup of batter at a time and let it cook. Repeat until batter is gone.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://zerowastechef.com/2016/04/01/sourdough-pancakes/" target="_blank">https://zerowastechef.com/2016/04/01/sourdough-pancakes/</a></li>
<li><a href="https://www.thespruceeats.com/make-your-own-buttermilk-p2-995500" target="_blank">https://www.thespruceeats.com/make-your-own-buttermilk-p2-995500</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="alt-milk.html">Alt Milk</a></li></ul></details></section><p class="last-modified">Last modified: 202503042033</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
