<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Weatherproofing your home is prophylactic work." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Weatherproofing</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Weatherproofing</h1><h2>Grading</h2>
<p>You want the ground around your house to have a pitch of one inch per foot from your foundation to four feet out. Use soil up against your house to get the level up to four inches above the average ground level, then use a level to check. If you have your level at one end touching your house and the soil reaches it, and four feet out it is four inches above the ground, and the level is level, you're good.</p>
<h2>Skirting for Mobile Homes</h2>
<h3>Types</h3>
<ul>
<li>Vinyl: standard, cheap, needs repair and replacement often but good for budget</li>
<li>Wood: Looks good but needs constant upkeep, can rot, pests</li>
<li>Metal: pricier but is metal, so holds up well</li>
<li>Faux Stone/Brick: Synthetic, lasts longer than vinyl and still fairly inexpensive, can install yourself</li>
<li>Brick/Stone: Needs professional, very pricey, looks cool</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=5hYIda7tWqA" target="_blank">How to Properly Grade Around Your Home</a></li>
<li><a href="https://mobilehomeliving.org/mobile-home-skirting/" target="_blank">The Ultimate Mobile Home Skirting Guide | Mobile Home Living</a></li>
<li><a href="https://rvinspiration.com/cold-weather-rving/cheap-diy-rv-skirting/" target="_blank">How We Made Vinyl DIY RV Skirting for Winter (for only $200!)</a></li>
<li><a href="https://billboardtarps.com/shop/billboard-vinyl/reused-billboard-vinyl-13-16oz-black-with-pipe-sleeves-copy/" target="_blank">Reused Billboard Vinyl: 13-16oz, White, With Pipe Sleeves - billboardtarps.com</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
