<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Things that can make web development a little more bearable." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Web Development Resources</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Web Development Resources</h1><ul>
<li><a href="https://github.com/public-apis/public-apis" target="_blank">Free Public APIs</a></li>
<li><a href="classless-css.html">Classless CSS</a></li>
<li><a href=".html"></a></li>
<li><a href="https://dev.to/tigt/making-the-worlds-fastest-website-and-other-mistakes-56na" target="_blank">Making the world’s fastest website, and other mistakes</a></li>
<li><a href="https://9elements.com/blog/maintaining-javascript-applications-in-the-long-term/" target="_blank">Maintaining JavaScript applications in the long term</a></li>
</ul>
<p class="last-modified">Last modified: 202401121549</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
