<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Web Fonts (HTML)</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Web Fonts (HTML)</h1><p>To import a font from Google Fonts, you can copy the font(s) URL from the Google Fonts library and then paste it in your <a href="html.html">HTML</a>. For this challenge, we'll import the Lobster font. To do this, copy the following code snippet and paste it into the top of your code editor (before the opening style element):</p>
<pre><code class="language-html">&lt;link href=&quot;https://fonts.googleapis.com/css?family=Lobster&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
</code></pre>
<p>Now you can use the Lobster font in your <a href="css.html">CSS</a> by using Lobster as the <code>FAMILY_NAME</code> as in the following example:</p>
<pre><code class="language-css">font-family: FAMILY_NAME, GENERIC_NAME;
</code></pre>
<p>The <code>GENERIC_NAME</code> is optional, and is a fallback font in case the other specified font is not available.</p>
<h2>References:</h2>
<ol>
<li><a href="https://www.freecodecamp.org/learn/responsive-web-design/basic-css/import-a-google-font" target="_blank">https://www.freecodecamp.org/learn/responsive-web-design/basic-css/import-a-google-font</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
