<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - web-component-course-notes</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">web-component-course-notes</h1><p><a href="https://www.linkedin.com/learning/web-components-and-modularization-practical-approaches://www.linkedin.com/learning/web-components-and-modularization-practical-approaches/" target="_blank">https://www.linkedin.com/learning/web-components-and-modularization-practical-approaches://www.linkedin.com/learning/web-components-and-modularization-practical-approaches/</a></p>
<h2>What Are Web Components</h2>
<p>I know this</p>
<p>Web Components are defined by MDN as &quot;a suite of different technologies allowing you to create reusable custom elements — with their functionality encapsulated away from the rest of your code — and utilize them in your web apps&quot;.</p>
<blockquote>
<p>It consists of three main technologies, which can be used together to create versatile custom elements with encapsulated functionality that can be reused wherever you like without fear of code collisions.</p>
<ul>
<li>Custom elements: A set of JavaScript APIs that allow you to define custom elements and their behavior, which can then be used as desired in your user interface.</li>
<li>Shadow DOM: A set of JavaScript APIs for attaching an encapsulated &quot;shadow&quot; DOM tree to an element — which is rendered separately from the main document DOM — and controlling associated functionality. In this way, you can keep an element's features private, so they can be scripted and styled without the fear of collision with other parts of the document.</li>
<li>HTML templates: The <template> and <slot> elements enable you to write markup templates that are not displayed in the rendered page. These can then be reused multiple times as the basis of a custom element's structure.</li>
</ul>
</blockquote>
<p>Most of the time, people are talking about components via a <a href="frameworks-javascript.html">framework</a> like <a href="react.html">React</a> or <a href="vue.html">Vue</a>, which require their own bundle of software to do what they do because of things like <a href="jsx.html">JSX</a>, <a href="babel.html">Babel</a>, <a href="webpack.html">Webpack</a> and a bunch of other stuff.</p>
<p><em>Web components</em> are a standard set by W3C[3] that run in the browser natively and are agnostic to the environment they run in.</p>
<p>Throughout, the word &quot;component&quot; will be the global umbrella holding <a href="react.html">React</a> components, Web components, <a href="vue.html">Vue</a> components, etc.</p>
<h2>Mental Model</h2>
<p>&quot;Atomic Design&quot; by Brad Frost[4] talk about components as &quot;organisms&quot; that are made of &quot;molecules&quot; which are themselves made of &quot;atoms&quot;. These &quot;molecules&quot; then make up templates which are used to create pages.</p>
<p>Another model is thinking about them as Legos.</p>
<h3>Design Process</h3>
<ol>
<li>Start on paper so you can get all messy and abstract.</li>
<li>Put it on a whiteboard and think in terms of sections within your component, using colors to delineate them.</li>
<li>Design it in a design application, making clear the different states and behaviors.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.linkedin.com/learning/web-components-and-modularization-practical-approaches://www.linkedin.com/learning/web-components-and-modularization-practical-approaches/" target="_blank">https://www.linkedin.com/learning/web-components-and-modularization-practical-approaches://www.linkedin.com/learning/web-components-and-modularization-practical-approaches/</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components" target="_blank">https://developer.mozilla.org/en-US/docs/Web/Web_Components</a></li>
<li><a href="https://www.w3.org/wiki/WebComponents/" target="_blank">https://www.w3.org/wiki/WebComponents/</a></li>
<li><a href="https://bradfrost.com/blog/post/atomic-web-design/" target="_blank">https://bradfrost.com/blog/post/atomic-web-design/</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
