<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="" /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Wood</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Wood</h1><p>Ideas of how to <a href="reuse.html">reuse</a> scrap wood:</p>
<ul>
<li><a href="https://www.youtube.com/watch?v=KLKbIkq_t50" target="_blank">Plyo box</a></li>
<li><a href="https://www.instructables.com/One-Board-Minimalist-Chair/" target="_blank">Viking chair</a></li>
<li><a href="https://xuv.be/uH-bench-open-source-public-bench.html" target="_blank">Bench from pallets</a></li>
</ul>
<p>Generally you shouldn't use pallet wood because it really sucks and is filled with nails and screw ends. It's good for bulky stuff but not worth too much modification.</p>
<p class="last-modified">Last modified: 202503042014</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
