<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="XAMPP is a tool for developing locally using the LAMP stack." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - XAMPP</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">XAMPP</h1><p>XAMPP is a tool for developing locally using the LAMP stack (<a href="linux.html">Linux</a>, <a href="apache.html">Apache</a> server, <a href="mysql.html">MySQL</a>, <a href="perl.html">Perl</a>/<a href="php.html">PHP</a>/<a href="python.html">Python</a>).</p>
<h2>Getting started</h2>
<ol>
<li>Install XAMPP.</li>
<li>Open XAMPP.</li>
<li>Start your Apache server, MySQL, and the FTP server.</li>
<li>Go to <code>localhost</code> in your browser.</li>
<li>Hooray!</li>
</ol>
<h2>PHP My Admin</h2>
<p>You can access a GUI for MySQL via <code>http://localhost/phpmyadmin/</code>. You may need to adjust the port based on your settings.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=BUCiSSyIGGU" target="_blank">PHP for Beginners</a></li>
<li><a href="https://www.apachefriends.org/index.html" target="_blank">XAMPP Homepage</a></li>
</ol>
<p class="last-modified">Last modified: 202409070022</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
