<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="XML is a verbose but human readable data format." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - XML</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">XML</h1><p>XML is a verbose but human readable data format.</p>
<h2><a href="rss.html">RSS</a></h2>
<p>RSS is an XML document that is made to show a list of items that a user could subscribe to. This is what <a href="podcast.html">podcasts</a> and <a href="blog.html">blogs</a> are built with, and many services like Youtube and Reddit still use these. It's a really effective way to deliver content to your readers in a simple and effective way.</p>
<p>The below script is the most minimal possible RSS feed I made that passes the RSS validator[1].</p>
<pre><code class="language-xml">&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;rss version=&quot;2.0&quot;&gt;
  &lt;channel&gt;
    &lt;title&gt;Title&lt;/title&gt;
    &lt;description&gt;Description&lt;/description&gt;
    &lt;link&gt;http://example.com&lt;/link&gt;
    &lt;item&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;guid&gt;http://example.com&lt;/guid&gt;
      &lt;pubDate&gt;Sun, 23 Feb 2025 00:00:00 +0000&lt;/pubDate&gt;
    &lt;/item&gt;
  &lt;/channel&gt;
&lt;/rss&gt;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://validator.w3.org/feed/check.cgi" target="_blank">W3C RSS Feed Validator</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ajax.html">AJAX</a></li><li><a href="svg.html">SVG</a></li><li><a href="yaml.html">YAML</a></li></ul></details></section><p class="last-modified">Last modified: 202503070041</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
