<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="Yak shaving is when you start task X but task Y 'must' be finished first, and thus task Z 'must' be done, ad infinitum." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Yak Shaving</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Yak Shaving</h1><p>Yak shaving is when you start task X but task Y 'must' be finished first, and thus task Z 'must' be done, ad infinitum. Or another way, &quot;doing some seemingly useless task that is necessary to complete another task, which is necessary to complete other tasks, which eventually will allow you to complete your initial goal&quot;[2].</p>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=AbSehcT19u0" target="_blank">https://yewtu.be/watch?v=AbSehcT19u0</a></li>
<li><a href="https://softwareengineering.stackexchange.com/questions/388092/what-exactly-is-yak-shaving" target="_blank">https://softwareengineering.stackexchange.com/questions/388092/what-exactly-is-yak-shaving</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
