<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This is a way to control the versions of dependencies." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Yarn Resolutions</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Yarn Resolutions</h1><p>For example:</p>
<pre><code class="language-json">  &quot;dependencies&quot;: {
    &quot;package-a&quot;: &quot;1.0.0&quot;,
    &quot;package-b&quot;: &quot;1.0.0&quot;
  },
  &quot;resolutions&quot;: {
    &quot;**/package-d1&quot;: &quot;2.0.0&quot;
  }
</code></pre>
<p>This would render all versions of <code>package-d1</code> in all packages to the same version.</p>
<blockquote>
<p>A resolution contains on the left-hand side a glob pattern applied to the dependency tree (and not to the node_modules directory tree, since the latter is the result of yarn resolution being influenced by the resolution).</p>
<ul>
<li>a/b denotes the directly nested dependency b of the project's dependency a.</li>
<li>**/a/b denotes the directly nested dependency b of all the dependencies and nested dependencies a of the project.</li>
<li>a/**/b denotes all the nested dependencies b of the project's dependency a.</li>
<li>**/a denotes all the nested dependencies a of the project.</li>
<li>a is an alias for **/a (for retro-compatibility, see below, and because if it wasn't such an alias, it wouldn't mean anything as it would represent one of the non-nested project dependencies, which can't be overridden as explained below).</li>
<li>** denotes all the nested dependencies of the project (a bad idea mostly, as well as all other designations ending with **).</li>
</ul>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://github.com/yarnpkg/rfcs/blob/master/implemented/0000-selective-versions-resolutions.md" target="_blank">Selective Versioning</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
