<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="The Z80 is a microprocessor found in TI calculators as well as ZX computers." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Z80</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Z80</h1><h2>References</h2>
<ol>
<li><a href="https://www.assemblytutorial.com/z80/" target="_blank">https://www.assemblytutorial.com/z80/</a></li>
<li><a href="https://en.wikibooks.org/wiki/TI_83_Plus_Assembly" target="_blank">https://en.wikibooks.org/wiki/TI_83_Plus_Assembly</a></li>
<li><a href="https://www.ticalc.org/pub/text/z80/" target="_blank">https://www.ticalc.org/pub/text/z80/</a></li>
<li><a href="https://ncot.uk/zombies-a-game-written-in-z80-assembly/" target="_blank">Zombies! - A Game Written in Z80 Assembly - NCoT Technology</a></li>
</ol>
<p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
