<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="ie=edge" /><meta name="description" content="This is an archiving and compression tool that allows encryption." /><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - zip</title><link rel="stylesheet" href="tinystyle.css" /><link rel="stylesheet" href="prism.css" /></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">zip</h1><p>If you want to extract a <code>tar</code> file, use the <code>tar</code> tool[3].</p>
<h2>Zipping a file or folder</h2>
<pre><code class="language-shell">$ zip [options] output.zip inpath[ inpath ...]
</code></pre>
<p><code>inpath</code> can also accept a glob pattern, like <code>./*</code>.</p>
<table>
<thead>
<tr>
<th>Option</th>
<th>Arguments</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>-r</code></td>
<td></td>
<td>Travel the directory structure recursively. For use if input is a folder</td>
</tr>
<tr>
<td><code>-@</code></td>
<td>none but really <code>stdin</code></td>
<td>Each line of <code>stdin</code> is a file to be added to the archive. e.g. <code>find . -name &quot;*.[ch]&quot; -print</code>[1]</td>
</tr>
<tr>
<td><code>-e</code></td>
<td></td>
<td>Encrypts the archive and prompts the user for the password securely</td>
</tr>
<tr>
<td><code>-P password</code></td>
<td><code>password</code>: The password for the archive</td>
<td>Encrypts the archive with the given password</td>
</tr>
</tbody></table><h2>Unzipping a file</h2>
<pre><code class="language-shell">$ unzip [options] archive.zip
</code></pre>
<table>
<thead>
<tr>
<th>Option</th>
<th>Arguments</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>-d dir</code></td>
<td><code>dir</code>: folder for extracted contents</td>
<td>Extract contents of archive to <code>dir</code></td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://linux.die.net/man/1/zip" target="_blank">https://linux.die.net/man/1/zip</a></li>
<li><a href="https://linux.die.net/man/1/unzip" target="_blank">https://linux.die.net/man/1/unzip</a></li>
<li><a href="https://linux.die.net/man/1/tar" target="_blank">tar(1): manual page for tar 1.23 - Linux man page</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="calibre.html">Calibre</a></li></ul></details></section><p class="last-modified">Last modified: 202401040446</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>
Built using
<a href="http://codeberg.org/stringbone/swiki" rel="noopener"
>{{SWIKI}}</a
></li><li><a href="http://codeberg.org/stringbone/" rel="noopener"
>Codeberg</a
></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener"
>Mastodon</a
></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a>
&nbsp;<a href="https://fediring.net/">Fediring</a>
&nbsp;<a href="https://fediring.net/random">(random)</a>
&nbsp;<a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
